.event-ticket{
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ddd;
}
.event-ticket .description{
  padding: 10px 0 0 20px;
}
.event-ticket .further-info{
  padding: 10px 0 0 20px;
}
.event-ticket .event-image{

}
.event-details{
  margin: 30px 0 0 10px;
}
h1 {
  font-size: 1.3em;
  text-transform: uppercase;
  color: #333;
  margin: 0.6em 0;
  border-bottom: 1px solid #333;
}
.past {
  background-color: #ededed;
  clear: right;
  float: right;
  width: 33%;
  padding: 0;
  margin-bottom: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.past h2 {
  width: 100%;
  text-align: center;
}
.past h4 {
  margin: 2px auto;
}

#event-data {
  background-color: #eeeeee;
  color: #191919;
  padding: 30px 0 30px 20px;
  margin: 0 0 30px 0;
  font-size: 0.93em;
  width: 66.5%;
}
#event-data h1 {
  padding-top: 20px;
  border-color: #ddd;
}
#event-data h2 {
  font-size: 1.4em;
  color: #999;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
}
#event-data ol,#event-data ul,#event-data li {
  list-style: none;
}
#event-data ol {
  padding: 4px 40px;
}
#event-data li {
  padding: 2px 10px;
}
.back-link {
  margin: 0 0 40px 0;
  padding: 0 0 11px 0;
  border-bottom: 1px solid #ddd;
}
.back-link a {
  font-size: 20px;
  text-decoration: none;
  background-color: #191919;
  color: #eee;
  padding: 4px 15px;
  border-radius: 3px 8px 8px 3px
}
