---
:name: Webmontag
:title: 1. Webmontag
:url: http://webmontag-koeln.de/events/2005-11-07
:image: http://webmontag-koeln.de/assets/images/logo.png
:description: Web Monday is an informal, non-commercial, and completely community-driven
  event that aims to connect the people who are shaping the future of the internet.
  Inspired by the culture of Silicon Valley, it started out in Cologne, Germany in
  late 2005 in an effort to help spread those sunny California vibes.
:startDate: 2005-11-07T19:00
:endDate: 2005-11-07T21:00
:performer:
  :name: " "
:location:
  :name: Die Wohngemeinschaft - Theater
  :address:
    :streetAddress: Richard-Wagner-Straße 39
    :postalCode: '50674'
    :addressLocality: Cologne
    :addressCountry:
      :name: Germany
:offers:
  :url: http://webmontag-koeln.de/events/2005-11-07
---
<h1 class="sectionedit1" id="november_2005_in_koeln05-11-07_in_cologne">7. November 2005 in Köln / 05-11-07 in Cologne</h1>
<div class="level1">

<p>
Dieser Webmontag war der erste Webmontag überhaupt.
</p>

</div>
<!-- EDIT1 SECTION "7. November 2005 in Köln / 05-11-07 in Cologne" [1-117] -->
<h2 class="sectionedit2" id="wowhere">Wo / Where</h2>
<div class="level2">

<p>
<a href="http://www.cologne-in.de/kneipen/k_hallm.htm" class="urlextern" title="http://www.cologne-in.de/kneipen/k_hallm.htm" rel="nofollow">Hallmackenreuther</a><br>

Brüsseler Platz 9<br>

50674 Köln (Belgisches Viertel)<br>

Tel.: 0221-517970
</p>

<p>
Hinkommen: <a href="http://www.multimap.com/map/browse.cgi?lat=50.9382&amp;lon=6.9343&amp;scale=5000&amp;icon=x" class="urlextern" title="http://www.multimap.com/map/browse.cgi?lat=50.9382&amp;lon=6.9343&amp;scale=5000&amp;icon=x" rel="nofollow">Multimap</a>,  <a href="http://stadtplandienst.de/map.asp?sid=f8ea564398e2fe8949c8512cf7a18168&amp;start.x=5&amp;plz=50674&amp;city=K%C3%B6ln&amp;str=Br%C3%BCsseler+Platz+9&amp;search=adr&amp;Abschicken=GO" class="urlextern" title="http://stadtplandienst.de/map.asp?sid=f8ea564398e2fe8949c8512cf7a18168&amp;start.x=5&amp;plz=50674&amp;city=K%C3%B6ln&amp;str=Br%C3%BCsseler+Platz+9&amp;search=adr&amp;Abschicken=GO" rel="nofollow">Stadtplandienst</a> oder bei <a href="http://beta.plazes.com/plaze/df5b5aed898c9758357e97bf69f191fb/" class="urlextern" title="http://beta.plazes.com/plaze/df5b5aed898c9758357e97bf69f191fb/" rel="nofollow">Plazes.com</a>
</p>

<p>
Leinwand und Beamer sind vorhanden. Q: Wer bringt denn den Beamer mit? A: Oliver Schwarz, Vaillant Group.
</p>

<p>
20 Meter VGA-Kabel gibt es vom Hallmackenreuther selbst! Ich gehe um 17:30 hin und versuche noch ein Mikrofon an die Anlage anzuschliessen damit die Präsentationen vielleicht etwas besser zu verstehen sind. (OW)
</p>

<p>
Hinweis: Bei 70 Leuten kann nicht jeder das WLAN verwenden. Zumindest während der Präsentationen sollte also niemand das WLAN nutzen, damit die Präsentatoren ihre Sache ordentlich zeigen können.
</p>

<p>
(s. auch unter <a href="/location/koeln/locations" class="wikilink2" title="location:koeln:locations" rel="nofollow">locations</a>)
</p>

</div>
<!-- EDIT2 SECTION "Wo / Where" [118-1210] -->
<h2 class="sectionedit3" id="agenda">Agenda</h2>
<div class="level2">

<p>
Koennte in etwa so aussehen (bitte ergaenzen/anpassen):
</p>

<p>
Den Demo-Part koennte man auch nach hinten verschieben, falls nicht alle rechtzeitig um 19.00 Uhr dasein koennen.
</p>

<p>
Was wir an Technik und Zubehoer noch brauchen, ist unter “<a href="/location/koeln/sponsoren" class="wikilink2" title="location:koeln:sponsoren" rel="nofollow">Sponsoren</a>” aufgelistet.
</p>

</div>
<!-- EDIT3 SECTION "Agenda" [1211-1499] -->
<h3 class="sectionedit4" id="uhr_-_warmlaufennetworking">18.00 - 19.00 Uhr - Warmlaufen / Networking</h3>
<div class="level3">

<p>
Willkommen zum Web Montag!
</p>

</div>
<!-- EDIT4 SECTION "18.00 - 19.00 Uhr - Warmlaufen / Networking" [1500-1583] -->
<h3 class="sectionedit5" id="uhr_-_praesentationen_demos_coole_sachen_etc">19.00 - 20.00 Uhr - Praesentationen, Demos, coole Sachen etc.</h3>
<div class="level3">

<p>
Zeit fuer Demos jeweils ca. 5-10 Minuten? Kurz und knackige Appetithaeppchen, interaktiv (genug Raum fuer Fragen, Diskussion). Notizen, Diskussionspunkte, Links etc. werden ins Wiki gepostet (Wi-Fi vorausgesetzt).
</p>

<p>
Vorschlaege fuer Demos (bitte kurze Beschreibung geben, um was es geht):
</p>
<ul>
<li class="level1">
<div class="li"> <abbr title="Asynchronous JavaScript and XML">AJAX</abbr> &amp; Kartenserver: Preview <a href="/location/koeln/felsinformationssystem_dt._alpenverein" class="wikilink2" title="location:koeln:felsinformationssystem_dt._alpenverein" rel="nofollow">felsinformationssystem_dt._alpenverein</a> (Ole Seidel/alta4)</div>
</li>
<li class="level1">
<div class="li"> <a href="/location/koeln/plazes" class="wikilink2" title="location:koeln:plazes" rel="nofollow">plazes</a> (<a href="http://www.plazes.com" class="urlextern" title="http://www.plazes.com" rel="nofollow">plazes</a>) (<a href="/person/stefan_kellner" class="wikilink1" title="person:stefan_kellner">stefan_kellner</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/location/koeln/browserpool" class="wikilink2" title="location:koeln:browserpool" rel="nofollow">browserpool</a> (<a href="http://www.browserpool.de" class="urlextern" title="http://www.browserpool.de" rel="nofollow">Browserpool</a>) (Benjamin Schwenk)</div>
</li>
<li class="level1">
<div class="li"> <a href="/location/koeln/lichtmaschine" class="wikilink2" title="location:koeln:lichtmaschine" rel="nofollow">lichtmaschine</a> (<a href="http://sendreceive.de" class="urlextern" title="http://sendreceive.de" rel="nofollow">send|receive</a>) (Tim Bruysten)</div>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "19.00 - 20.00 Uhr - Praesentationen, Demos, coole Sachen etc." [1584-2280] -->
<h3 class="sectionedit6" id="uhr_-_shmoozing">20.00 - 22.00 Uhr - Shmoozing</h3>
<div class="level3">

</div>
<!-- EDIT6 SECTION "20.00 - 22.00 Uhr - Shmoozing" [2281-2326] -->
<h2 class="sectionedit7" id="teilnehmerparticipants">Teilnehmer / Participants</h2>
<div class="level2">
<ol>
<li class="level1">
<div class="li"> <a href="/person/tim_bonnemann" class="wikilink1" title="person:tim_bonnemann">tim_bonnemann</a> (<a href="http://www.plansphere.com" class="urlextern" title="http://www.plansphere.com" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/nico_lumma" class="wikilink2" title="person:nico_lumma" rel="nofollow">nico_lumma</a> (<a href="http://lumma.de" class="urlextern" title="http://lumma.de" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Tim Niemueller (<a href="http://www.niemueller.de/blog/" class="urlextern" title="http://www.niemueller.de/blog/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Philipp Lenssen (<a href="http://blog.outer-court.com" class="urlextern" title="http://blog.outer-court.com" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Ole Seidel (<a href="http://www.alta4.com" class="urlextern" title="http://www.alta4.com" rel="nofollow">Webpage</a>)</div>
</li>
<li class="level1">
<div class="li"> Andreas Gutheil (<a href="http://www.alta4.com" class="urlextern" title="http://www.alta4.com" rel="nofollow">Webpage</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/oliver_wrede" class="wikilink1" title="person:oliver_wrede">oliver_wrede</a> (<a href="http://wrede.interfacedesign.org" class="urlextern" title="http://wrede.interfacedesign.org" rel="nofollow">Blog</a>, <a href="https://www.openbc.com/hp/Oliver_Wrede/" class="urlextern" title="https://www.openbc.com/hp/Oliver_Wrede/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/oliver_thylmann" class="wikilink1" title="person:oliver_thylmann">oliver_thylmann</a> (<a href="http://blog.thylmann.net" class="urlextern" title="http://blog.thylmann.net" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/henning_lange" class="wikilink1" title="person:henning_lange">henning_lange</a> (<a href="http://www.openbc.com/hp/Henning_Lange" class="urlextern" title="http://www.openbc.com/hp/Henning_Lange" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Siggi Becker (<a href="http://www.siggibecker.de/blog/" class="urlextern" title="http://www.siggibecker.de/blog/" rel="nofollow">...was wyrd</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/mario_sixtus" class="wikilink2" title="person:mario_sixtus" rel="nofollow">mario_sixtus</a> (<a href="http://www.sixtus.net" class="urlextern" title="http://www.sixtus.net" rel="nofollow">Blog</a>, <a href="https://www.openbc.com/hp/Mario_Sixtus/" class="urlextern" title="https://www.openbc.com/hp/Mario_Sixtus/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Vladimir Simovic (<a href="http://www.perun.net" class="urlextern" title="http://www.perun.net" rel="nofollow">www.perun.net</a>) </div>
</li>
<li class="level1">
<div class="li"> <a href="/person/sebastian_nohn" class="wikilink2" title="person:sebastian_nohn" rel="nofollow">sebastian_nohn</a> (<a href="http://blog.nohn.net" class="urlextern" title="http://blog.nohn.net" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/ingmar_bornholz" class="wikilink2" title="person:ingmar_bornholz" rel="nofollow">ingmar_bornholz</a> (<a href="http://bornholz.typepad.com" class="urlextern" title="http://bornholz.typepad.com" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Garvin Hicking (<a href="http://blog.garv.in" class="urlextern" title="http://blog.garv.in" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Patrick Merhi (<a href="http://www.nettraders.de/pmerhi.htm" class="urlextern" title="http://www.nettraders.de/pmerhi.htm" rel="nofollow">Webpage</a>)</div>
</li>
<li class="level1">
<div class="li"> Jörg Heidjann (<a href="http://www.getprice.de" class="urlextern" title="http://www.getprice.de" rel="nofollow">www.getprice.de</a>)</div>
</li>
<li class="level1">
<div class="li"> Matthias Brixel (<a href="http://www.klassik.com" class="urlextern" title="http://www.klassik.com" rel="nofollow">www.klassik.com</a>, <a href="http://www.openbc.com/hp/Matthias_Brixel/" class="urlextern" title="http://www.openbc.com/hp/Matthias_Brixel/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/thomas_wanhoff" class="wikilink1" title="person:thomas_wanhoff">thomas_wanhoff</a> (<a href="http://podcastschau.de" class="urlextern" title="http://podcastschau.de" rel="nofollow">podcastschau.de</a>, <a href="http://podcastverband.de" class="urlextern" title="http://podcastverband.de" rel="nofollow">podcastverband</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/stefan_kellner" class="wikilink1" title="person:stefan_kellner">stefan_kellner</a> (<a href="http://plazes.com" class="urlextern" title="http://plazes.com" rel="nofollow">Plazes</a>)</div>
</li>
<li class="level1">
<div class="li"> Arne Klempert (<a href="http://de.wikipedia.org/wiki/Benutzer:Akl" class="urlextern" title="http://de.wikipedia.org/wiki/Benutzer:Akl" rel="nofollow">Wikipedia</a>, <a href="http://wikimedia.de" class="urlextern" title="http://wikimedia.de" rel="nofollow">Wikimedia Deutschland e.V.</a>)</div>
</li>
<li class="level1">
<div class="li"> Delphine Ménard (<a href="http://meta.wikimedia.org/wiki/User:Notafish" class="urlextern" title="http://meta.wikimedia.org/wiki/User:Notafish" rel="nofollow">Wikimedia Foundation</a>)</div>
</li>
<li class="level1">
<div class="li"> Bernd Ploennies (<a href="http://www.pironet-ndh.com" class="urlextern" title="http://www.pironet-ndh.com" rel="nofollow">http://www.pironet-ndh.com</a>, <a href="https://www.openbc.com/hp/Bernd_Ploennies/" class="urlextern" title="https://www.openbc.com/hp/Bernd_Ploennies/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Stefan Bales (<a href="http://www.stefanbales.de" class="urlextern" title="http://www.stefanbales.de" rel="nofollow">http://www.stefanbales.de</a>, <a href="https://www.openbc.com/hp/Stefan_Bales//" class="urlextern" title="https://www.openbc.com/hp/Stefan_Bales//" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Nico Zorn (<a href="http://www.pyromedia.de" class="urlextern" title="http://www.pyromedia.de" rel="nofollow">http://www.pyromedia.de</a>, <a href="https://www.nicozorn.com/" class="urlextern" title="https://www.nicozorn.com/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Jörg Sayn (<a href="http://www.pyromedia.de" class="urlextern" title="http://www.pyromedia.de" rel="nofollow">http://www.pyromedia.de</a>, <a href="https://www.openbc.com/hp/Joerg_Sayn/" class="urlextern" title="https://www.openbc.com/hp/Joerg_Sayn/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Tim Bruysten (<a href="http://blog.bruysten.com" class="urlextern" title="http://blog.bruysten.com" rel="nofollow">Blog</a>, <a href="https://www.openbc.com/hp/Tim_Bruysten/" class="urlextern" title="https://www.openbc.com/hp/Tim_Bruysten/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Dirk Olbertz (<a href="http://www.olbertz.de/" class="urlextern" title="http://www.olbertz.de/" rel="nofollow">Blog</a>, <a href="http://www.blogger.de/" class="urlextern" title="http://www.blogger.de/" rel="nofollow">Blogger.de</a>, <a href="http://www.taggling.com/" class="urlextern" title="http://www.taggling.com/" rel="nofollow">Taggling.com</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/cem_basman" class="wikilink1" title="person:cem_basman">cem_basman</a> (<a href="http://www.bizzlogic.de/index.html" class="urlextern" title="http://www.bizzlogic.de/index.html" rel="nofollow">Company</a>, <a href="http://java.blogg.de" class="urlextern" title="http://java.blogg.de" rel="nofollow">Private Blog</a> &amp; <a href="https://www.openbc.com/hp/Cem_Basman" class="urlextern" title="https://www.openbc.com/hp/Cem_Basman" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Tim Bartel (<a href="http://de.wikipedia.org/wiki/Benutzer:Avatar" class="urlextern" title="http://de.wikipedia.org/wiki/Benutzer:Avatar" rel="nofollow">Wikipedia</a>)</div>
</li>
<li class="level1">
<div class="li"> Tobias Weyand (<a href="http://TobW.net" class="urlextern" title="http://TobW.net" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Tomas Caspers (<a href="http://einfach-fuer-alle.de" class="urlextern" title="http://einfach-fuer-alle.de" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Sascha Hofmann (<a href="http://www.ilias.uni-koeln.de/" class="urlextern" title="http://www.ilias.uni-koeln.de/" rel="nofollow">Ilias &amp; PHP Entwickler</a>)</div>
</li>
<li class="level1">
<div class="li"> Steve Dix (<a href="http://www.stevedix.de/blog" class="urlextern" title="http://www.stevedix.de/blog" rel="nofollow">Blog</a>, <a href="https://www.openbc.com/hp/Steve_Dix/" class="urlextern" title="https://www.openbc.com/hp/Steve_Dix/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Andreas Echterhoff (<a href="http://www.andreas-echterhoff.de" class="urlextern" title="http://www.andreas-echterhoff.de" rel="nofollow">Webpage</a>)</div>
</li>
<li class="level1">
<div class="li"> Fabian Bolte (<a href="http://ichbinharmlos.de/blog/" class="urlextern" title="http://ichbinharmlos.de/blog/" rel="nofollow">blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Christian Münch (<a href="http://www.d-sire.com/" class="urlextern" title="http://www.d-sire.com/" rel="nofollow">d-SIRE</a>, <a href="http://www.q-bee.de/" class="urlextern" title="http://www.q-bee.de/" rel="nofollow">q-bee.de</a>, <a href="https://www.openbc.com/hp/Christian_Muench//" class="urlextern" title="https://www.openbc.com/hp/Christian_Muench//" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/silke_fischer" class="wikilink2" title="person:silke_fischer" rel="nofollow">silke_fischer</a> (<a href="http://" class="urlextern" title="http://" rel="nofollow">http://</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/alexander_felsenberg" class="wikilink1" title="person:alexander_felsenberg">alexander_felsenberg</a> (<a href="http://www.felsenberg.de/" class="urlextern" title="http://www.felsenberg.de/" rel="nofollow">http://www.felsenberg.de/</a>)</div>
</li>
<li class="level1">
<div class="li"> Oliver Biederbeck (<a href="http://www.oliver-biederbeck.de/" class="urlextern" title="http://www.oliver-biederbeck.de/" rel="nofollow">blogged by Biederbeck</a>, <a href="https://www.openbc.com/hp/Oliver_Biederbeck/" class="urlextern" title="https://www.openbc.com/hp/Oliver_Biederbeck/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Sencer Yurdagül (<a href="http://www.sencer.de" class="urlextern" title="http://www.sencer.de" rel="nofollow">Blog</a>, <a href="http://www.textpattern.com/weblog" class="urlextern" title="http://www.textpattern.com/weblog" rel="nofollow">Txp</a>)</div>
</li>
<li class="level1">
<div class="li"> Oliver Schwarz (<a href="http://hasematzel.de/blog/" class="urlextern" title="http://hasematzel.de/blog/" rel="nofollow">Blog</a>, <a href="https://www.openbc.com/hp/Oliver_Schwarz2/" class="urlextern" title="https://www.openbc.com/hp/Oliver_Schwarz2/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> <del>Haiko Hebig</del> (<a href="http://hebig.org/blog/" class="urlextern" title="http://hebig.org/blog/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Michael Terstesse (<a href="http://www.d-sire.com/" class="urlextern" title="http://www.d-sire.com/" rel="nofollow">d-SIRE</a>, <a href="https://www.openbc.com/hp/Michael_Terstesse//" class="urlextern" title="https://www.openbc.com/hp/Michael_Terstesse//" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Mirko Erwig (<a href="http://www.d-sire.com/" class="urlextern" title="http://www.d-sire.com/" rel="nofollow">d-SIRE</a>)</div>
</li>
<li class="level1">
<div class="li"> Johannes Beus (<a href="http://www.sistrix.com" class="urlextern" title="http://www.sistrix.com" rel="nofollow">SISTRIX</a>, <a href="https://www.openbc.com/hp/Johannes_Beus/" class="urlextern" title="https://www.openbc.com/hp/Johannes_Beus/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Niels Anhalt (<a href="http://www.pironet-ndh.com" class="urlextern" title="http://www.pironet-ndh.com" rel="nofollow">http://www.pironet-ndh.com</a>, <a href="http://niels.anhalt.name/" class="urlextern" title="http://niels.anhalt.name/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/timo_derstappen" class="wikilink2" title="person:timo_derstappen" rel="nofollow">timo_derstappen</a> (<a href="http://www.teemow.com" class="urlextern" title="http://www.teemow.com" rel="nofollow">Blog</a>, <a href="http://www.openbc.com/go/invuid/Timo_Derstappen" class="urlextern" title="http://www.openbc.com/go/invuid/Timo_Derstappen" rel="nofollow">openBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Alexander Röder (<a href="http://www.catraini.com" class="urlextern" title="http://www.catraini.com" rel="nofollow">Blog</a>, <a href="http://www.openbc.com/hp/Alexander_Roeder" class="urlextern" title="http://www.openbc.com/hp/Alexander_Roeder" rel="nofollow">openBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Christian Vollmert (<a href="http://www.luna-park.de" class="urlextern" title="http://www.luna-park.de" rel="nofollow">luna-park</a>, <a href="http://www.openbc.com/hp/Christian_Vollmert" class="urlextern" title="http://www.openbc.com/hp/Christian_Vollmert" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Matthias Schmidt (<a href="http://www.villatrauma.de" class="urlextern" title="http://www.villatrauma.de" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Fabian Link (<a href="http://www.openbc.com/hp/Fabian_Link" class="urlextern" title="http://www.openbc.com/hp/Fabian_Link" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Benjamin Schwenk (<a href="http://www.browserpool.de" class="urlextern" title="http://www.browserpool.de" rel="nofollow">http://www.browserpool.de</a>)</div>
</li>
<li class="level1">
<div class="li"> Michael Bumann (<a href="http://blog.derbumi.com" class="urlextern" title="http://blog.derbumi.com" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/stefan_schmidt" class="wikilink1" title="person:stefan_schmidt">stefan_schmidt</a> (<a href="http://www.nanoblogg.de/" class="urlextern" title="http://www.nanoblogg.de/" rel="nofollow">Blog</a>, <a href="https://www.openbc.com/hp/Stefan_Schmidt54/" class="urlextern" title="https://www.openbc.com/hp/Stefan_Schmidt54/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Christian Neumann</div>
</li>
<li class="level1">
<div class="li"> Diana Nägele (<a href="http://www.arial51.de" class="urlextern" title="http://www.arial51.de" rel="nofollow">http://www.arial51.de</a>)</div>
</li>
<li class="level1">
<div class="li"> Marc Kalmes (wenn noch Platz ist <img src="/lib/images/smileys/icon_smile.gif" class="icon" alt=":-)">) <a href="http://mkalmes.typepad.com" class="urlextern" title="http://mkalmes.typepad.com" rel="nofollow">Blog</a>
</div>
</li>
<li class="level1">
<div class="li"> André Pankratz (<a href="https://www.openbc.com/hp/Andre_Pankratz/" class="urlextern" title="https://www.openbc.com/hp/Andre_Pankratz/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Andreas Bade (<a href="http://www.miblog.de" class="urlextern" title="http://www.miblog.de" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Matthias Richter (<a href="http://www.miblog.de" class="urlextern" title="http://www.miblog.de" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Dirk Breuer (<a href="http://www.miblog.de" class="urlextern" title="http://www.miblog.de" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Nicole Kengyel (<a href="http://www.o190.de" class="urlextern" title="http://www.o190.de" rel="nofollow">Webpage</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="http://bredlau.org/rene" class="urlextern" title="http://bredlau.org/rene" rel="nofollow">Rene Bredlau</a>
</div>
</li>
<li class="level1">
<div class="li"> Alexander Kylburg (<a href="http://www.kylburg.de/" class="urlextern" title="http://www.kylburg.de/" rel="nofollow">Webpage</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/lars_strojny" class="wikilink1" title="person:lars_strojny">lars_strojny</a> (<a href="http://www.usrportage.de/" class="urlextern" title="http://www.usrportage.de/" rel="nofollow">Blog</a>, <a href="http://strojny.net/" class="urlextern" title="http://strojny.net/" rel="nofollow">Webpage</a>)</div>
</li>
<li class="level1">
<div class="li"> Alex Kaiser (<a href="http://poolie.kulando.de" class="urlextern" title="http://poolie.kulando.de" rel="nofollow">Blog</a>, <a href="http://www.openbc.com/hp/Alexander_Kaiser5" class="urlextern" title="http://www.openbc.com/hp/Alexander_Kaiser5" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Alexander Sigel (<a href="http://asigel.blogspot.com/" class="urlextern" title="http://asigel.blogspot.com/" rel="nofollow">Blog</a>, <a href="https://www.openbc.com/hp/Alexander_Sigel/" class="urlextern" title="https://www.openbc.com/hp/Alexander_Sigel/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Mathias Trunte (<a href="http://www.resteplatte.de/weblog/" class="urlextern" title="http://www.resteplatte.de/weblog/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Markus Schulte (<a href="http://www.dom.de/" class="urlextern" title="http://www.dom.de/" rel="nofollow">http://www.dom.de/</a>)</div>
</li>
<li class="level1">
<div class="li"> Elisabeth Kaliva</div>
</li>
<li class="level1">
<div class="li"> Oliver Märker (<a href="http://www.ais.fraunhofer.de/~maerker" class="urlextern" title="http://www.ais.fraunhofer.de/~maerker" rel="nofollow">http://www.ais.fraunhofer.de/~maerker</a>)</div>
</li>
<li class="level1">
<div class="li"> mo. (<a href="http://phlow.net" class="urlextern" title="http://phlow.net" rel="nofollow">http://phlow.net</a> / <a href="http://mo.phlow.de" class="urlextern" title="http://mo.phlow.de" rel="nofollow">http://mo.phlow.de</a>)</div>
</li>
<li class="level1">
<div class="li"> Christoph Okpue (<a href="http://www.ontopica.de" class="urlextern" title="http://www.ontopica.de" rel="nofollow">www.ontopica.de</a>, <a href="http://www.mitarbeit.de" class="urlextern" title="http://www.mitarbeit.de" rel="nofollow">www.mitarbeit.de</a>)</div>
</li>
<li class="level1">
<div class="li"> Alexander Killing (<a href="http://www.ilias.uni-koeln.de/" class="urlextern" title="http://www.ilias.uni-koeln.de/" rel="nofollow">Ilias opensource</a>)</div>
</li>
<li class="level1">
<div class="li"> Kathrin-Sarah Amend</div>
</li>
<li class="level1">
<div class="li"> Alexandra Tödt (Joint open source information network <a href="http://www.ossite.org" class="urlextern" title="http://www.ossite.org" rel="nofollow">http://www.ossite.org</a>)</div>
</li>
<li class="level1">
<div class="li"> Oliver Zeisberger (<a href="http://www.barracuda.de" class="urlextern" title="http://www.barracuda.de" rel="nofollow">http://www.barracuda.de</a> / <a href="http://www.gooliver.de" class="urlextern" title="http://www.gooliver.de" rel="nofollow">http://www.gooliver.de</a>)</div>
</li>
<li class="level1">
<div class="li"> Michael Pütz (<a href="https://www.openbc.com/hp/Michael_Puetz/" class="urlextern" title="https://www.openbc.com/hp/Michael_Puetz/" rel="nofollow">openBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Hanna Krieg (<a href="https://www.openbc.com/hp/Hanna_Krieg/" class="urlextern" title="https://www.openbc.com/hp/Hanna_Krieg/" rel="nofollow">openBC</a>)</div>
</li>
</ol>

</div>
<!-- EDIT7 SECTION "Teilnehmer / Participants" [2327-8506] -->
<h2 class="sectionedit8" id="zuschaueraudience">Zuschauer / Audience</h2>
<div class="level2">

<p>
Sign up here, if you'd like to follow this event online.
</p>

<p>
Hier eintragen wenn man den Event nur aus der Distanz verfolgen kann oder will.  <img src="/lib/images/smileys/icon_wink.gif" class="icon" alt=";-)">
</p>
<ul>
<li class="level1">
<div class="li"> André Richter (<a href="http://www.meldebox.de" class="urlextern" title="http://www.meldebox.de" rel="nofollow">Webpage</a>)</div>
</li>
<li class="level1">
<div class="li"> Lambert Heller (<a href="http://wikify.org" class="urlextern" title="http://wikify.org" rel="nofollow">Wikify</a>)</div>
</li>
<li class="level1">
<div class="li"> Dominik Schwind (<a href="http://www.connected-web.com" class="urlextern" title="http://www.connected-web.com" rel="nofollow">Connected Web</a>, <a href="http://www.lostfocus.de" class="urlextern" title="http://www.lostfocus.de" rel="nofollow">LostFocus</a>,<a href="https://www.openbc.com/hp/Dominik_Schwind/" class="urlextern" title="https://www.openbc.com/hp/Dominik_Schwind/" rel="nofollow">openBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Jamie Wilkinson (<a href="http://tramchase.com" class="urlextern" title="http://tramchase.com" rel="nofollow">Tramchase Media</a> &amp; <a href="http://wnyu.org" class="urlextern" title="http://wnyu.org" rel="nofollow">WNYU</a>)</div>
</li>
<li class="level1">
<div class="li"> Benjamin Nowack (<a href="http://www.bnode.org/semweblog" class="urlextern" title="http://www.bnode.org/semweblog" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Annette &amp; Olaf Schmitz (<a href="http://www.wordpress.de" class="urlextern" title="http://www.wordpress.de" rel="nofollow">WordPress.de</a>) </div>
</li>
<li class="level1">
<div class="li"> Christian Heindel (<a href="http://www.christian-heindel.de/about/" class="urlextern" title="http://www.christian-heindel.de/about/" rel="nofollow">Projects</a>, <a href="https://www.openbc.com/hp/Christian_Heindel/" class="urlextern" title="https://www.openbc.com/hp/Christian_Heindel/" rel="nofollow">OpenBC</a>)  </div>
</li>
<li class="level1">
<div class="li"> Tim Leberecht (<a href="http://www.iplot.typepad.com" class="urlextern" title="http://www.iplot.typepad.com" rel="nofollow">http://www.iplot.typepad.com</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/location/koeln/jack_herrick" class="wikilink2" title="location:koeln:jack_herrick" rel="nofollow">jack_herrick</a> (Anyone want to help start a German language <a href="http://wiki.ehow.com/Main-Page" class="urlextern" title="http://wiki.ehow.com/Main-Page" rel="nofollow">wikiHow</a> ? )</div>
</li>
<li class="level1">
<div class="li"> Florian Dargel (<a href="http://www.floriandargel.org" class="urlextern" title="http://www.floriandargel.org" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Marco Kalz (<a href="http://blog.marcokalz.de" class="urlextern" title="http://blog.marcokalz.de" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/mattismanzel" class="wikilink1" title="person:mattismanzel">Mattis Manzel</a> (<a href="http://www.communitywiki.org/odd/MattisManzel/HomePage" class="urlextern" title="http://www.communitywiki.org/odd/MattisManzel/HomePage" rel="nofollow">wiki</a>)</div>
</li>
<li class="level1">
<div class="li"> Torsten Kleinz</div>
</li>
<li class="level1">
<div class="li"> Martin Meier (<a href="http://obenwieunten.de/blog" class="urlextern" title="http://obenwieunten.de/blog" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Alexander von Below (<a href="http://vonbelow.com/weblog" class="urlextern" title="http://vonbelow.com/weblog" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Alexander Coelius (<a href="http://www.people-interactive.de" class="urlextern" title="http://www.people-interactive.de" rel="nofollow">people interactive</a>)<a href="https://www.openbc.com/hp/Alexander_Coelius//" class="urlextern" title="https://www.openbc.com/hp/Alexander_Coelius//" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Moritz Guth (<a href="http://www.trendwhores.de/" class="urlextern" title="http://www.trendwhores.de/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Jan Beilicke (<a href="http://jotbe-fx.de/daily/" class="urlextern" title="http://jotbe-fx.de/daily/" rel="nofollow">jot*be, Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Rainer Wasserfuhr (<a href="http://wasserfuhr.com" class="urlextern" title="http://wasserfuhr.com" rel="nofollow">http://wasserfuhr.com</a>, currently overseas)</div>
</li>
<li class="level1">
<div class="li"> Claus Moser (<a href="http://clausmoser.com" class="urlextern" title="http://clausmoser.com" rel="nofollow">http://clausmoser.com</a>)</div>
</li>
<li class="level1">
<div class="li"> Georg Berg (<a href="http://georgberg.de/" class="urlextern" title="http://georgberg.de/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Erik Rhinow (<a href="http://www.lowpolis.de/" class="urlextern" title="http://www.lowpolis.de/" rel="nofollow">Verwackelte Gedanken</a>)</div>
</li>
</ul>

</div>
<!-- EDIT8 SECTION "Zuschauer / Audience" [8507-10313] -->
<h2 class="sectionedit9" id="sponsorensponsors">Sponsoren / Sponsors</h2>
<div class="level2">

<p>
Vielen Dank an die Sponsoren:
</p>
<ul>
<li class="level1">
<div class="li"> Raummiete: EUR 0,00</div>
</li>
<li class="level1">
<div class="li"> Wi-Fi: EUR 0,00</div>
</li>
<li class="level1">
<div class="li"> Beamer: EUR 0,00 (Oliver Schwarz)</div>
</li>
<li class="level1">
<div class="li"> Leinwand, Projektionsflaeche: EUR 0,00</div>
</li>
<li class="level1">
<div class="li"> Namensschilder: EUR 6,75 (Tim Bonnemann)</div>
</li>
<li class="level1">
<div class="li"> Kölsch 1-100: EUR 150,00 (Cem Basman)</div>
</li>
<li class="level1">
<div class="li"> Kölsch 101-150: EUR 75,00 (Bernd Ploennies, Pironet NDH AG)</div>
</li>
</ul>

<p>
<del>Wir werden einen Durchschnittsbetrag pro Teilnehmer ermitteln (sollte recht ueberschaubar sein). Jeder kann auf freiwilliger Basis seinen Anteil leisten. Auslagen werden dann zurueckerstattet.</del> (nicht erforderlich)
</p>

<p>
Sponsoren sind natuerlich herzlich willkommen (man koennte z.B. einen Deckel anlegen, dann waeren fuer der ersten Teil des Abends ggf. die Getraenke frei?).   <img src="/lib/images/smileys/icon_wink.gif" class="icon" alt=";-)">
</p>
<ul>
<li class="level1">
<div class="li"> Das <em class="u">erste</em> Getränk (Bier/Softdrink) sponsore ich gerne (Cem Basman 11/06, <a href="http://www.bizzlogic.de/index.html" class="urlextern" title="http://www.bizzlogic.de/index.html" rel="nofollow">Company</a>, <a href="http://java.blogg.de" class="urlextern" title="http://java.blogg.de" rel="nofollow">Private Blog</a> &amp; <a href="https://www.openbc.com/hp/Cem_Basman" class="urlextern" title="https://www.openbc.com/hp/Cem_Basman" rel="nofollow">OpenBC</a>, <a href="mailto:mailto%3Acem%20%5Bdot%5D%20basman%20%5Bat%5D%20bizzlogic%20%5Bdot%5D%20de" class="mail" title="mailto:cem [dot] basman [at] bizzlogic [dot] de">Mail</a>… <abbr title="By the way">BTW</abbr>, ich suche übrigens J2EE Developer für ein grösseres und längerfristiges Vorhaben im Raum Düsseldorf, Profil bitte per Mail an mich <img src="/lib/images/smileys/icon_wink.gif" class="icon" alt=";-)">) - OK, Tim?</div>
</li>
</ul>

</div>
<!-- EDIT9 SECTION "Sponsoren / Sponsors" [10314-11467] -->
<h2 class="sectionedit10" id="feedback_zum_ersten_web_montag_07112005">Feedback zum ersten Web Montag (07.11.2005)</h2>
<div class="level2">

<p>
Vielen Dank allen Teilnehmern, Organisatoren und Präsentatoren! Bitte gebt hier Feedback zur Veranstaltung: Wurden die Erwartungen erfüllt? Was hat gut geklappt, was weniger gut? Was könnte man beim nächsten Mal ggf. besser machen? Etc.
</p>

</div>
<!-- EDIT10 SECTION "Feedback zum ersten Web Montag (07.11.2005)" [11468-11766] -->
<h3 class="sectionedit11" id="allgemeingeneral">Allgemein / General</h3>
<div class="level3">
<ul>
<li class="level1">
<div class="li"> Gesamteindruck positiv, daher: Wie hoch wäre wohl ein sinnvoller zeitlicher Abstand für Folgeveranstaltungen ?</div>
</li>
<li class="level1">
<div class="li"> (Ich würde sagen) <strong>alle zwei Monate</strong>, oder? (<a href="/person/stefan_kellner" class="wikilink1" title="person:stefan_kellner">stefan_kellner</a>, <a href="/person/oliver_thylmann" class="wikilink1" title="person:oliver_thylmann">oliver_thylmann</a>) ← Ja, das klingt ganz vernünftig und würde somit bedeuten, dass das nächste Treffen Anfang Januar 2006 stattfände (<a href="/person/stefan_schmidt" class="wikilink1" title="person:stefan_schmidt">stefan_schmidt</a>) ← Neue Seite fuer naechsten Termin in <a href="/location/koeln/index" class="wikilink1" title="location:koeln:index">index</a>
</div>
</li>
<li class="level1">
<div class="li"> Vorschlag: Auch in anderen Regionen: Rhein-Main, Hamburg, Berlin, München (<a href="/person/thomas_wanhoff" class="wikilink1" title="person:thomas_wanhoff">thomas_wanhoff</a>) </div>
</li>
<li class="level1">
<div class="li"> Feine Veranstaltung, sehr nett. Ich schlage vor alle drei Monate.</div>
</li>
<li class="level1">
<div class="li"> Die Veranstaltung hat mir sehr gut gefallen - ein weiteres Treffen Anfang Januar fände ich klasse! (Nico Zorn) ← Ja dann machen mir doch mal Butter bei die Fische. Im Januar würde sich zum Beispiel <strong>Mo 09.01 oder Mo 16.01</strong> anbieten (Mo 02.01 wäre wohl noch zu früh, da sind wahrscheinlich noch einige im Winterurlaub. (<a href="/person/stefan_schmidt" class="wikilink1" title="person:stefan_schmidt">stefan_schmidt</a>)</div>
</li>
<li class="level1">
<div class="li"> Sehr gelungen! Danke an die Organisatoren. Gerne Wieder. (Klingt ja wie ne Ebay-Bewertung <img src="/lib/images/smileys/icon_wink.gif" class="icon" alt=";-)">) (Mario Sixtus)</div>
</li>
</ul>

</div>
<!-- EDIT11 SECTION "Allgemein / General" [11767-12867] -->
<h3 class="sectionedit12" id="gut_gelungenwell_done">Gut gelungen / Well done</h3>
<div class="level3">
<ul>
<li class="level1">
<div class="li"> Location</div>
</li>
<li class="level1">
<div class="li"> Leute</div>
</li>
<li class="level1">
<div class="li"> Ich hatte mit mehr als einem Dutzend Leute sehr gute Gespräche - Es war ein sehr gutes Networking (<a href="/person/cem_basman" class="wikilink1" title="person:cem_basman">cem_basman</a>)</div>
</li>
<li class="level1">
<div class="li"> Nette Atmosphäre, gute Gespräche (<a href="/person/thomas_wanhoff" class="wikilink1" title="person:thomas_wanhoff">thomas_wanhoff</a>)</div>
</li>
<li class="level1">
<div class="li"> Beamer, Leinwand, Wi-Fi, Raeumlichkeiten … die (Selbst-)Organisation hat funktioniert. (<a href="/person/tim_bonnemann" class="wikilink1" title="person:tim_bonnemann">tim_bonnemann</a>, 11/09)</div>
</li>
</ul>

</div>
<!-- EDIT12 SECTION "Gut gelungen / Well done" [12868-13248] -->
<h3 class="sectionedit13" id="optimierungsbedarfneeds_improvement">Optimierungsbedarf / Needs improvement</h3>
<div class="level3">
<ul>
<li class="level1">
<div class="li"> Nichtraucher-Schutz</div>
</li>
<li class="level1">
<div class="li"> Klarer machen worum es geht, damit sich die ewigen Nörgler nicht dorthin verirren (*unterschreib*)</div>
</li>
<li class="level1">
<div class="li"> Die Organisatoren sollten ruhig darüber entscheiden, welche Vorträge gehalten werden sollen und welche nicht. Also vorherige inhaltliche Abstimmung.  ← Nein, jeder der was “präsentieren” möchte sollte dies auch dürfen! “So wenig Organisation wie möglich!” (Michael Bumann) ← Und das führt dann dazu, dass jemand eine Diashow seines letzten Urlaubs präsentiert? (<a href="/person/dirk_olbertz" class="wikilink1" title="person:dirk_olbertz">dirk_olbertz</a>) ← Du willst doch nicht ernsthaft behaupten, dass diese Gefahr besteht!? (<a href="/person/oliver_wrede" class="wikilink1" title="person:oliver_wrede">oliver_wrede</a>) ← Natürlich nicht. Aber man muss sich vor Augen halten, wohin “so wenig Organisation wie möglich” am Ende führen kann. Warum sollten die Organisatoren nicht schon vorher den Inhalt des Vortrages einsehen dürfen, um dem Vortragenden in die richtige Richtung zu lenken, oder im Extremfall sagen, dass der Vortrag nicht wirklich passt? (<a href="/person/dirk_olbertz" class="wikilink1" title="person:dirk_olbertz">dirk_olbertz</a>) ← Ich denke mal die Präsentatoren heben sich selber in die Höhe, will meinen, dass mit dem alter des WebMontag die Präsentationen immer passender werden da alle mitlernen. Wenn was gar nicht passt wird derjenige das vorher schon merken und keine Lust haben zu präsentieren. Eine Zusammenfassung im vorhinein ist aber denke ich gut. (<a href="/person/oliver_thylmann" class="wikilink1" title="person:oliver_thylmann">oliver_thylmann</a>)</div>
</li>
<li class="level1">
<div class="li"> Präsentationen (und die dazugehörige Technik) besser vorbereiten (<a href="/person/cem_basman" class="wikilink1" title="person:cem_basman">cem_basman</a>) ← Bitte was war denn an der Technik nicht OK? Dafür, dass GARNICHTS vorbereitet wurde lief es doch gut. Man kann das auch übertreiben und 10 Mal mehr Zeit aufwenden für 10% mehr Nutzen. Eine größere der Projektion wäre vielleicht besser gewesen - aber man macht ja Erfahrungen. (<a href="/person/oliver_wrede" class="wikilink1" title="person:oliver_wrede">oliver_wrede</a>)</div>
</li>
<li class="level1">
<div class="li"> Vorschlag: Größerer Raum, statt Frontalpräsentationen mit Postern und kleinen Präsentationsständen arbeiten - das bringt mehr Platz für Diskussionen (<a href="/person/thomas_wanhoff" class="wikilink1" title="person:thomas_wanhoff">thomas_wanhoff</a>) ← Gute Idee! (<a href="/person/dirk_olbertz" class="wikilink1" title="person:dirk_olbertz">dirk_olbertz</a>) ← Leider denke ich das passt zu dem Event nicht. Das klingt schon fast nach Messe. Vielleicht splittet man die Präsentationen in zwei Bereiche auf je nachdem wieviel es werden, aber ansonsten sollte alles über eine Leinwand laufen. Dazu kann man die Leute ja persönlich ansprechen. (<a href="/person/oliver_thylmann" class="wikilink1" title="person:oliver_thylmann">oliver_thylmann</a>)</div>
</li>
<li class="level1">
<div class="li"> Man hat ja gesehen, dass die Präsentationszeit mit 10 Minuten zur kurz war, um die Projekte richtig vorzustellen, 30 statt 10 Minuten wäre besser (<a href="/person/stefan_kellner" class="wikilink1" title="person:stefan_kellner">stefan_kellner</a>) ← Vielleicht ist die Vorgabe 10 Minuten aber trotzdem ganz gut. Wenn die Leute ihren Vortrag auf 30 Minuten auslegen, dann dauert er nachher inklusive Diskussion 45 oder gar 60 Minuten, was für mein Empfinden vom Publikum in so einem eher informellen Rahmen zuviel Aufmerksamkeit verlangen würde. (<a href="/person/stefan_schmidt" class="wikilink1" title="person:stefan_schmidt">stefan_schmidt</a>) ← Das was man sagen will, kann man auch in 10 Minuten sagen. Wenn man weiss, was man sagen will. Die Präsentationen hätten etwas strukturierter sein können (<a href="/person/cem_basman" class="wikilink1" title="person:cem_basman">cem_basman</a>). ← Stimme ich Cem zu. Es geht hier nicht um Details sondern Anregung. (<a href="/person/oliver_thylmann" class="wikilink1" title="person:oliver_thylmann">oliver_thylmann</a>) ← Ja, eher so im Stil von <a href="http://en.wikipedia.org/wiki/Show_and_tell" class="urlextern" title="http://en.wikipedia.org/wiki/Show_and_tell" rel="nofollow">show and tell</a> <img src="/lib/images/smileys/icon_wink.gif" class="icon" alt=";-)"> (<a href="/person/stefan_schmidt" class="wikilink1" title="person:stefan_schmidt">stefan_schmidt</a>)</div>
</li>
<li class="level1">
<div class="li"> Der Grund, die Zeit fuer die Präsentationen recht knapp zu halten, lag darin begruendet, moeglichst mehreren Ideen/Projekten Raum zu bieten (und niemanden vorschnell auszuschliessen). Gerade bei der grossen Bandbreite der <em>moeglichen</em> Themen sollte man auf diejenigen Teilnehmer Ruecksicht nehmen, die ein einzelnes Thema vielleicht gerade nicht so sehr interessiert. Da sind 5-10 Minuten kein Problem, ein laengerer Vortrag hingegen schon. Wichtig ist auf jeden Fall, offen fuer Fragen und Feedback zu sein. Wer dann darueber hinaus noch mehr Infos haben will, kann das ja im kleinen Kreis tun. Dieser “Konflikt” laesst sich zusaetzlich ueberbruecken, indem man das jeweilige Projekt (soweit moeglich) vorher im Wiki etwas genauer beschreibt (2-3 Absaetze) und die Praesentation nachher dokumentiert wird. Natuerlich sind auch andere Formate oder Variationen denkbar (s. z.B. <a href="http://www.usemod.com/cgi-bin/mb.pl?WikiSymSpeedDemo" class="urlextern" title="http://www.usemod.com/cgi-bin/mb.pl?WikiSymSpeedDemo" rel="nofollow">WikiSymSpeedDemo</a>) oder man laesst die Teilnehmer im Wiki offen darueber abstimmen, welche der angekuendigten Demos sie interessant finden und welche nicht (und fuehrt dann nur die am meisten nachgefragten durch). Man kann auch vorab bereits im Wiki Fragen zur Praesentation einsammeln, um auf diese dann konkret eingehen zu koennen (steigert ggf. die Relevanz des Vortrags). Aber warten wir erstmal ab, was sich an weiteren Inhalten ergibt. Freuen wir uns auf den Zeitpunkt, da es mehr guten Content als verfuegbare Zeit gibt.   <img src="/lib/images/smileys/icon_wink.gif" class="icon" alt=";-)"> (<a href="/person/tim_bonnemann" class="wikilink1" title="person:tim_bonnemann">tim_bonnemann</a>, 11/09)</div>
</li>
<li class="level1">
<div class="li"> Also ich denke bei 10 minuten präsentationen sollte man bleiben. Die Leute lernen auch darin immer besser zu werden. Darüber hinaus kann man theoretisch noch Workshops anbieten für die die zu einem bestimmten Thema diskutieren wollen. Aber anbieten ist eigentlich das falsche Wort, ermöglichen wäre besser. Weil das hier ist nicht wirklich organisiert und wird es nie sein. Das soll keine Vollzeitbeschäftigung werden und zwar für niemanden. (<a href="/person/oliver_thylmann" class="wikilink1" title="person:oliver_thylmann">oliver_thylmann</a>)</div>
</li>
<li class="level1">
<div class="li"> Namensschilder wären klasse! Villecht noch mit Blog-<abbr title="Uniform Resource Locator">URL</abbr> o.ä. drauf. Ich habe gerade auf einem Kongress erlebt, wie hilfreich und kontaktfördernd das ist. Ich kenne X Personen, die mit Y Blogs/Projekten im Web aktiv sind, von denen ich keine Ahnung habe wie sie aussehen. (<a href="/location/koeln/mario_sixtus" class="wikilink2" title="location:koeln:mario_sixtus" rel="nofollow">mario_sixtus</a>, 11/09)</div>
</li>
</ul>

</div>
<!-- EDIT13 SECTION "Optimierungsbedarf / Needs improvement" [13249-18812] -->
<h3 class="sectionedit14" id="praesentationenpresentations">Präsentationen / Presentations</h3>
<div class="level3">

<p>
Hier vielleicht ein paar Worte zu den Präsentationen im einzelnen: War der thematische Bezug ok? Wie war die Qualität des Vortrags? Wurden Fragen gut beantwortet? Bitte auch hier sagen, was gut war und was man noch besser machen könnte. Das kann den zukünftigen Referenten helfen als auch die weiteren Themenauswahl unterstützen.
</p>
<ul>
<li class="level1">
<div class="li"> <a href="/location/koeln/felsinformationssystem_dt._alpenverein" class="wikilink2" title="location:koeln:felsinformationssystem_dt._alpenverein" rel="nofollow">felsinformationssystem_dt._alpenverein</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="/location/koeln/plazes" class="wikilink2" title="location:koeln:plazes" rel="nofollow">plazes</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="/location/koeln/browserpool" class="wikilink2" title="location:koeln:browserpool" rel="nofollow">browserpool</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="/location/koeln/lichtmaschine" class="wikilink2" title="location:koeln:lichtmaschine" rel="nofollow">lichtmaschine</a>
</div>
</li>
</ul>

</div>
<!-- EDIT14 SECTION "Präsentationen / Presentations" [18813-19296] -->
<h3 class="sectionedit15" id="themenvorschlaege_web_montagsuggested_topics_web_monday">Themenvorschläge Web Montag / Suggested topics Web Monday</h3>
<div class="level3">
<ul>
<li class="level1">
<div class="li"> Ein klares Thema für den nächsten Abend, eventuell eine Einführung a la “Was ist Web 2.0?” + Diskussion (<a href="/person/stefan_kellner" class="wikilink1" title="person:stefan_kellner">stefan_kellner</a>) ← ich finde statt über “Was ist Web 2.0?” zu diskutieren sollten eher Produkte/Projekte/viell.sogar nur Ideen vorgestellt werden (die machen schließlich Web 2.0 aus). Und wozu führt die Diskussion über Web 2.0? der eine findet das Wort blöd, der andere cool und am Schluss führt es zu nichts. (<a href="/location/koeln/michael_bumann" class="wikilink2" title="location:koeln:michael_bumann" rel="nofollow">michael_bumann</a>) ← Richtig, ich dachte nicht an eine Definitionsorgie (<em>heisst das Onlinetagebuch jetzt “das Blog” oder “der Blog”?</em>) sondern gute Beispiele zu den wesentlich Punkten.(<a href="/person/stefan_kellner" class="wikilink1" title="person:stefan_kellner">stefan_kellner</a>) ← Stimme ich Stefan zu. Vielleicht in Verbindung mit einer Introduction. (<a href="/person/oliver_thylmann" class="wikilink1" title="person:oliver_thylmann">oliver_thylmann</a>) ← Stimme ich Stefan zu. Vielleicht in Verbindung mit einer Introduction. (<a href="/person/oliver_thylmann" class="wikilink1" title="person:oliver_thylmann">oliver_thylmann</a>) ← Finde das Thema “Was ist Web 2.0” langweilig, da wir es täglich anwenden und nutzen, und ausreichend wissen (und uns ja grade deswegen eigentlich zusammengefunden hatte, so war zumindest mein Verständnis). Mich persönlich interessieren konkrete Fragen und Projekte, etwa Amazon Mechanical Turk, Vollzeitbloggen in Deutschland usw. (Philipp Lenssen) ← Bin ebenfalls Stefans Meinung. Wir sind ja beim Webmontag nicht an der Uni. Formal wird es schon noch früh genug. Lieber praktische Beispiele zeigen. Wer unbedingt eine Definition haben möchte, kann ja mal einen Blick auf <a href="http://www.oreillynet.com/pub/a/oreilly/tim/news/2005/09/30/what-is-web-20.html" class="urlextern" title="http://www.oreillynet.com/pub/a/oreilly/tim/news/2005/09/30/what-is-web-20.html" rel="nofollow">Tims Artikel</a> werfen. (<a href="/person/stefan_schmidt" class="wikilink1" title="person:stefan_schmidt">stefan_schmidt</a>)</div>
</li>
<li class="level1">
<div class="li"> Ich könnte einen Beitrag zum Thema Podcasting anbieten (<a href="/person/thomas_wanhoff" class="wikilink1" title="person:thomas_wanhoff">thomas_wanhoff</a>) ← Klingt reizvoll, hättest du Interesse dabei auch kurz auf die rechtliche Situation (GEMA, GVL, usw.) einzugehen ? Ist meines Empfindens neben den Inhalten und der Technik ein Bereich der mit zunehmender Etablierung des Mediums an Bedeutung gewinnen wird. (<a href="/person/stefan_schmidt" class="wikilink1" title="person:stefan_schmidt">stefan_schmidt</a>)</div>
</li>
<li class="level1">
<div class="li"> Ich koennte (bei Interesse) was zu <abbr title="Resource Description Framework">RDF</abbr> bzw. zum Semantic Web erzaehlen (<a href="/person/benjamin_nowack" class="wikilink1" title="person:benjamin_nowack">benjamin_nowack</a>)</div>
</li>
</ul>

</div>
<!-- EDIT15 SECTION "Themenvorschläge Web Montag / Suggested topics Web Monday" [19297-] -->