<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>
<p>
<em>Neu beim Web Montag?  Ein Blick auf die <a href="/web_montag" class="wikilink1" title="web_montag">FAQ</a> gibt einen guten ersten Überblick, wie das Ganze funktioniert.</em>
</p>

<p>
Erneut die Bitte: Nutzt die “Edit summary” mit einem Stichwort wie “neuer Teilnehmer”, “+TN” o. ä. - Danke
</p>

<h1 class="sectionedit1" id="introduction">Introduction</h1>
<div class="level1">

<p>
Diese Seite befasst sich mit den Inhalten und der Organisation des 10. Webmontags in Köln. Eine Übersicht über den <a href="/location/koeln/index" class="wikilink1" title="location:koeln:index">Kölner Webmontag</a> findet sich auf einer separaten Seite.
</p>

</div>
<!-- EDIT1 SECTION "Introduction" [251-464] -->
<h1 class="sectionedit2" id="wannwhen">Wann / When</h1>
<div class="level1">

<p>
Termin: 23.07.2007 - vom Spielplatz zugesagt - Rene/Nicole
</p>

<p>
(<a href="http://wevent.org/events/545-10-Webmontag-in-Koeln" class="urlextern" title="http://wevent.org/events/545-10-Webmontag-in-Koeln" rel="nofollow">wevent</a>)
</p>

</div>
<!-- EDIT2 SECTION "Wann / When" [465-617] -->
<h1 class="sectionedit3" id="echo">Echo</h1>
<div class="level1">
<ul>
<li class="level1">
<div class="li"> 24.07.2007 – easn.de (Andreas Gerads): <a href="http://blog.easn.de/?p=248" class="urlextern" title="http://blog.easn.de/?p=248" rel="nofollow">Webmontag in Köln</a>
</div>
</li>
<li class="level1">
<div class="li"> 24.07.2007 – Townster Blog: <a href="http://blog.townster.de/2007/07/24/social-local-search-in-funf-minuten/" class="urlextern" title="http://blog.townster.de/2007/07/24/social-local-search-in-funf-minuten/" rel="nofollow">Social Local Search in fünf Minuten</a>
</div>
</li>
<li class="level1">
<div class="li"> 24.07.2007 – konsumo Blog: <a href="http://blog.konsumo.de/2007/07/24/konsumo-beim-webmontag/" class="urlextern" title="http://blog.konsumo.de/2007/07/24/konsumo-beim-webmontag/" rel="nofollow">konsumo beim Webmontag</a>
</div>
</li>
<li class="level1">
<div class="li"> 24.07.2007 – TownKings Blog: <a href="http://www.town-news.de/blog04/?p=55" class="urlextern" title="http://www.town-news.de/blog04/?p=55" rel="nofollow">TownKings beim WebMontag in Köln</a>
</div>
</li>
<li class="level1">
<div class="li"> 25.07.2007 – antischokke.de <a href="http://www.antischokke.de/2007/07/25/happy-10th-anniversary-webmontag-10-in-koeln/" class="urlextern" title="http://www.antischokke.de/2007/07/25/happy-10th-anniversary-webmontag-10-in-koeln/" rel="nofollow">Kölner Webmontag #10</a>
</div>
</li>
<li class="level1">
<div class="li"> 25.07.2007 – Datenschnipsel <a href="http://blogs.23.nu/nnbon/stories/15503/" class="urlextern" title="http://blogs.23.nu/nnbon/stories/15503/" rel="nofollow">Webmontag am 23.07.2007 in Köln</a>
</div>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Echo" [618-1360] -->
<h2 class="sectionedit4" id="audiovideo">Audio / Video</h2>
<div class="level2">

<p>
Habe die Präsentationen mitgeschnitten und stelle sie nach und nach bei Sevenload ein, den Anfang hat Townster gerade gemacht, viel Spaß damit!  Andreas Gerads - <a href="http://blog.easn.de" class="urlextern" title="http://blog.easn.de" rel="nofollow">easn.de</a>
</p>
<ul>
<li class="level1">
<div class="li"> <a href="http://de.sevenload.com/videos/xL77WSb/Webmontag-Koeln-23-Juli-2007-Townster" class="urlextern" title="http://de.sevenload.com/videos/xL77WSb/Webmontag-Koeln-23-Juli-2007-Townster" rel="nofollow">Townster - Local Search und Social Network</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://de.sevenload.com/videos/yMHffGH/Webmontag-Koeln-23-Juli-2007-Dominik-Boeker" class="urlextern" title="http://de.sevenload.com/videos/yMHffGH/Webmontag-Koeln-23-Juli-2007-Dominik-Boeker" rel="nofollow">Dominik Boeker - Vorratsdatenspeicherung</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://de.sevenload.com/videos/PNhuju3/Webmontag-Koeln-23-Juli-2007-Oliver-Ueberholz" class="urlextern" title="http://de.sevenload.com/videos/PNhuju3/Webmontag-Koeln-23-Juli-2007-Oliver-Ueberholz" rel="nofollow">Oliver Ueberholz - Eigenes Social Network in 10 Minuten mit mixxt</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://de.sevenload.com/videos/h2aVtnS/Webmontag-Koeln-23-Juli-2007-Frank-Engel" class="urlextern" title="http://de.sevenload.com/videos/h2aVtnS/Webmontag-Koeln-23-Juli-2007-Frank-Engel" rel="nofollow">Frank Engel - TownKings, Local real life</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://de.sevenload.com/videos/WdUupaB/Webmontag-Koeln-23-Juli-2007-Meik-Michalke" class="urlextern" title="http://de.sevenload.com/videos/WdUupaB/Webmontag-Koeln-23-Juli-2007-Meik-Michalke" rel="nofollow">m.eik michalke - Music wants to be free – Open Music Contest #4?</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://de.sevenload.com/videos/qcwzu47/Webmontag-Koeln-23-Juli-2007-fukami" class="urlextern" title="http://de.sevenload.com/videos/qcwzu47/Webmontag-Koeln-23-Juli-2007-fukami" rel="nofollow">fukami - Flash Security Basics - Register Globals the Flash Way</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://de.sevenload.com/videos/AdjuDaf/Webmontag-Koeln-23-Juli-2007-konsumo" class="urlextern" title="http://de.sevenload.com/videos/AdjuDaf/Webmontag-Koeln-23-Juli-2007-konsumo" rel="nofollow">Martin Kölsch und Dominik Schöneberg - Vorstellung und Preview des Kaufberatungs-Wikis</a>
</div>
</li>
</ul>

<p>
So, nun sind alle online, viel Spaß damit!
</p>

</div>
<!-- EDIT4 SECTION "Audio / Video" [1361-2656] -->
<h1 class="sectionedit5" id="feedback">Feedback</h1>
<div class="level1">
<ul>
<li class="level1">
<div class="li"> Köln/Düsseldorf: macht es wirklich sinn, 2 webmontage in nachbar-städten gleichzeitig zu veranstalten? ich wäre gerne auf beide veranstaltungen gegangen…</div>
<ul>
<li class="level2">
<div class="li"> Termin ist eine Woche nach hinten verschoben - Rene</div>
<ul>
<li class="level3">
<div class="li"> Vorbildliche Terminkoordination.  <img src="/lib/images/smileys/icon_wink.gif" class="icon" alt=";-)"> (<a href="/person/tim_bonnemann" class="wikilink1" title="person:tim_bonnemann">Tim</a>)</div>
</li>
</ul>
</li>
</ul>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "Feedback" [2657-2981] -->
<h1 class="sectionedit6" id="wowhere">Wo / Where</h1>
<div class="level1">

<p>
Spielplatz<br>

Ubierring 58<br>

50678 Köln (Südstadt)<br>

fon: 0221-314750<br>

<a href="http://www.spielplatz-lokal.de" class="urlextern" title="http://www.spielplatz-lokal.de" rel="nofollow">http://www.spielplatz-lokal.de</a><br>

<a href="http://www.webmontag.de/doku.php?id=locations#spielplatz" class="urlextern" title="http://www.webmontag.de/doku.php?id=locations#spielplatz" rel="nofollow">http://www.webmontag.de/doku.php?id=locations#spielplatz</a><br>

</p>

</div>
<!-- EDIT6 SECTION "Wo / Where" [2982-3173] -->
<h1 class="sectionedit7" id="fragen_antwortenquestions_answers">Fragen &amp; Antworten / Questions &amp; Answers</h1>
<div class="level1">

<p>
<em>Hier Fragen klären (z.B. Aufzeichnung, Mitfahrgelegenheiten etc.).</em>
</p>
<ul>
<li class="level1">
<div class="li"> Vorhanden: Leinwand, Mikros, WLAN, Beamer <br>
</div>
</li>
<li class="level1">
<div class="li"> Kümmert sich jemand um Audio- oder Videoaufzeichnung? <br>
</div>
</li>
</ul>

<p>
Werde meine Cam mitbringen und mitschneiden - Andreas (<a href="https://blog.easn.de/" class="urlextern" title="https://blog.easn.de/" rel="nofollow">easn.de</a>)
</p>

</div>
<!-- EDIT7 SECTION "Fragen & Antworten / Questions & Answers" [3174-3505] -->
<h1 class="sectionedit8" id="agenda">Agenda</h1>
<div class="level1">

</div>
<!-- EDIT8 SECTION "Agenda" [3506-3527] -->
<h2 class="sectionedit9" id="uhr_-_warmlaufennetworking">19.00 - 20.00 Uhr - Warmlaufen / Networking</h2>
<div class="level2">

<p>
<em>Ankommen.</em>
</p>

</div>
<!-- EDIT9 SECTION "19.00 - 20.00 Uhr - Warmlaufen / Networking" [3528-3600] -->
<h2 class="sectionedit10" id="uhr_-_praesentationen_demos">20.00 - 21.00 Uhr - Präsentationen, Demos</h2>
<div class="level2">

<p>
<em>Zeit für Demos jeweils ca. 5-10 Minuten. Kurz und knackige Appetithäppchen, interaktiv (genug Raum für Fragen, Diskussion). Notizen, Diskussionspunkte, Links etc. werden ins Wiki gepostet (Wi-Fi vorausgesetzt).</em>
</p>
<ol>
<li class="level1">
<div class="li"> Gleb Tritus / Thorsten Borsch: Introducing Social Local Search (Lokale Suche 2.0 am Beispiel von Townster) ~10 Min. (<a href="http://www.townster.de" class="urlextern" title="http://www.townster.de" rel="nofollow">Townster</a>) </div>
</li>
<li class="level1">
<div class="li"> Dominik Boecker: Bericht über Tätigkeit des Arbeitskreis <a href="http://www.vorratsdatenspeicherung.de" class="urlextern" title="http://www.vorratsdatenspeicherung.de" rel="nofollow">Vorratsdatenspeicherung</a> ~10 Min.</div>
</li>
<li class="level1">
<div class="li"> mixxt: Eigenes Social Network in 10 Minuten: Ganz einfach, schnell und ohne Marketing-Gerede drumherum - Oliver Ueberholz</div>
</li>
<li class="level1">
<div class="li"> Frank Engel, TownKings: Local real life in 10 Minuten neuste Entwicklungen zeigen (<a href="http://www.townkings.de" class="urlextern" title="http://www.townkings.de" rel="nofollow">TOWNKINGS</a>)  </div>
</li>
<li class="level1">
<div class="li"> m.eik michalke: Music wants to be free – Open Music Contest #4?</div>
</li>
<li class="level1">
<div class="li"> fukami: Flash Security Basics - Register Globals the Flash Way (5 Minuten)</div>
</li>
<li class="level1">
<div class="li"> Martin Kölsch, Dominik Schöneberg: Vorstellung und Preview des Kaufberatungs-Wikis konsumo  ~10 Min.</div>
</li>
</ol>

<p>
<strong>Eine Bitte: Videos! — Könnte bitte ein MacBook-Besitzer seine Kamera anschmeißen und die Vorträge aufzeichnen? — Vielen Dank!</strong>
</p>

</div>
<!-- EDIT10 SECTION "20.00 - 21.00 Uhr - Präsentationen, Demos" [3601-4829] -->
<h2 class="sectionedit11" id="uhr_-_shmoozing">21.00 - 23.00 Uhr - Shmoozing</h2>
<div class="level2">

<p>
<em>Party.</em>
</p>

</div>
<!-- EDIT11 SECTION "21.00 - 23.00 Uhr - Shmoozing" [4830-4883] -->
<h1 class="sectionedit12" id="teilnehmerparticipants">Teilnehmer / Participants</h1>
<div class="level1">

<p>
<em>Ich bin am Termin auf jeden Fall dabei!</em>
</p>
<ol>
<li class="level1">
<div class="li"> Martin Henrich <a href="https://www.xing.com/profile/Martin_Henrich" class="urlextern" title="https://www.xing.com/profile/Martin_Henrich" rel="nofollow">Xing</a> </div>
</li>
<li class="level1">
<div class="li"> <a href="http://bredlau.org/rene" class="urlextern" title="http://bredlau.org/rene" rel="nofollow">Rene Bredlau</a>
</div>
</li>
<li class="level1">
<div class="li"> Nicole Ebber (<a href="https://www.xing.com/profile/nicole_ebber/" class="urlextern" title="https://www.xing.com/profile/nicole_ebber/" rel="nofollow">XING</a>,<a href="http://www.antischokke.de/" class="urlextern" title="http://www.antischokke.de/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Andreas Gerads (<a href="https://www.xing.com/profile/Andreas_Gerads2" class="urlextern" title="https://www.xing.com/profile/Andreas_Gerads2" rel="nofollow">XING-Profil</a>,<a href="http://www.easn.de/" class="urlextern" title="http://www.easn.de/" rel="nofollow">easn.de - everything a StartUp needs</a>)</div>
</li>
<li class="level1">
<div class="li"> Christin Heuser (<a href="http://www.xing.com/profile/Christin_Heuser/" class="urlextern" title="http://www.xing.com/profile/Christin_Heuser/" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Florian Krakau (<a href="http://www.pl0g.de" class="urlextern" title="http://www.pl0g.de" rel="nofollow">pl0g.de</a>)</div>
</li>
<li class="level1">
<div class="li"> Christian Scholz (<a href="http://mrtopf.de" class="urlextern" title="http://mrtopf.de" rel="nofollow">mrtopf.de</a>|<a href="http://www.xing.com/profile/Christian_Scholz4" class="urlextern" title="http://www.xing.com/profile/Christian_Scholz4" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Mike Hummel (<a href="https://www.xing.com/profile/Michael_Hummel2" class="urlextern" title="https://www.xing.com/profile/Michael_Hummel2" rel="nofollow">XING</a>|<a href="http://worlds-unlimited.de/" class="urlextern" title="http://worlds-unlimited.de/" rel="nofollow">WORLDS-UNLIMITED</a>)</div>
</li>
<li class="level1">
<div class="li"> Christian Vollmert (<a href="http://www.xing.com/profile/christian_vollmert/" class="urlextern" title="http://www.xing.com/profile/christian_vollmert/" rel="nofollow">XING</a>,<a href="http://www.luna-park.de/" class="urlextern" title="http://www.luna-park.de/" rel="nofollow">luna-park</a>)</div>
</li>
<li class="level1">
<div class="li"> Lars Inselmann (<a href="http://www.xing.com/profile/lars_inselmann/" class="urlextern" title="http://www.xing.com/profile/lars_inselmann/" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Claus Welther (<a href="http://www.xing.com/profile/claus_welther/" class="urlextern" title="http://www.xing.com/profile/claus_welther/" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Cornelia Müller (<a href="https://www.xing.com/profile/Cornelia_Mueller/" class="urlextern" title="https://www.xing.com/profile/Cornelia_Mueller/" rel="nofollow">Xing</a>,<a href="http://www.waitingforjason.com" class="urlextern" title="http://www.waitingforjason.com" rel="nofollow">waitingforjason.com</a>)</div>
</li>
<li class="level1">
<div class="li"> Thomas Goette (<a href="http://www.waitingforjason.com" class="urlextern" title="http://www.waitingforjason.com" rel="nofollow">waitingforjason.com</a>)</div>
</li>
<li class="level1">
<div class="li"> Ralph Razisberger (<a href="https://www.xing.com/profile/Ralph_Razisberger/" class="urlextern" title="https://www.xing.com/profile/Ralph_Razisberger/" rel="nofollow">Xing</a>,<a href="http://www.waitingforjason.com" class="urlextern" title="http://www.waitingforjason.com" rel="nofollow">waitingforjason.com</a>)</div>
</li>
<li class="level1">
<div class="li"> Afrus T. <a href="https://www.xing.com/profile/Afrus_Tavakoli" class="urlextern" title="https://www.xing.com/profile/Afrus_Tavakoli" rel="nofollow">Xing</a>  </div>
</li>
<li class="level1">
<div class="li"> Konstantin Weiss (<a href="http://www.konnexus.de" class="urlextern" title="http://www.konnexus.de" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Sandra Niehoff <a href="https://www.xing.com/profile/Sandra_Niehoff" class="urlextern" title="https://www.xing.com/profile/Sandra_Niehoff" rel="nofollow">Xing</a> </div>
</li>
<li class="level1">
<div class="li"> Armin “Farlion” Meier (<a href="http://www.farliblog.de" class="urlextern" title="http://www.farliblog.de" rel="nofollow">Farliblog</a>)</div>
</li>
<li class="level1">
<div class="li"> Mike Schnoor (<a href="http://www.sichelputzer.de" class="urlextern" title="http://www.sichelputzer.de" rel="nofollow">TelagonSichelputzer</a>)</div>
</li>
<li class="level1">
<div class="li"> Hans Schneider (<a href="http://www.blogorator.com" class="urlextern" title="http://www.blogorator.com" rel="nofollow">Blogorator.com</a>)</div>
</li>
<li class="level1">
<div class="li"> Peter Giesecke (<a href="http://www.pocketbrain.de" class="urlextern" title="http://www.pocketbrain.de" rel="nofollow">Pocketbrain</a>,<a href="http://www.netzausfall.de" class="urlextern" title="http://www.netzausfall.de" rel="nofollow">Netzausfall</a>)</div>
</li>
<li class="level1">
<div class="li"> Sven Wagenhöfer (<a href="http://www.pocketbrain.de" class="urlextern" title="http://www.pocketbrain.de" rel="nofollow">Pocketbrain</a>,<a href="http://www.netzausfall.de" class="urlextern" title="http://www.netzausfall.de" rel="nofollow">Netzausfall</a>,<a href="https://www.xing.com/profile/Sven_Wagenhoefer/" class="urlextern" title="https://www.xing.com/profile/Sven_Wagenhoefer/" rel="nofollow">Xing</a>)</div>
</li>
<li class="level1">
<div class="li"> Thomas Klotz (<a href="http://www.ra-blog.de" class="urlextern" title="http://www.ra-blog.de" rel="nofollow">RA-Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Sandra L. (<a href="http://www.ra-blog.de" class="urlextern" title="http://www.ra-blog.de" rel="nofollow">RA-Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Dominik Boecker (<a href="https://www.xing.com/profile/Dominik_Boecker/" class="urlextern" title="https://www.xing.com/profile/Dominik_Boecker/" rel="nofollow">Xing</a>, <a href="http://spitzelblog.blogspot.com/" class="urlextern" title="http://spitzelblog.blogspot.com/" rel="nofollow">Schnüffelblog</a>)</div>
</li>
<li class="level1">
<div class="li"> Thomas Mindnich (<a href="http://www.townster.de" class="urlextern" title="http://www.townster.de" rel="nofollow">Townster</a>)</div>
</li>
<li class="level1">
<div class="li"> Thorsten Borsch (<a href="http://www.townster.de" class="urlextern" title="http://www.townster.de" rel="nofollow">Townster</a>)</div>
</li>
<li class="level1">
<div class="li"> Gleb Tritus (<a href="http://www.townster.de" class="urlextern" title="http://www.townster.de" rel="nofollow">Townster</a>)</div>
</li>
<li class="level1">
<div class="li"> Martin Kölsch (<a href="https://www.xing.com/profile/Martin_Koelsch2" class="urlextern" title="https://www.xing.com/profile/Martin_Koelsch2" rel="nofollow">Xing</a>)</div>
</li>
<li class="level1">
<div class="li"> Dominik Schöneberg (<a href="http://blog.konsumo.de" class="urlextern" title="http://blog.konsumo.de" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Oliver Ueberholz (<a href="http://www.webworkblogger.de" class="urlextern" title="http://www.webworkblogger.de" rel="nofollow">Webworkblogger</a>)</div>
</li>
<li class="level1">
<div class="li"> Philipp Kraft (<a href="https://www.xing.com/profile/philipp_kraft/" class="urlextern" title="https://www.xing.com/profile/philipp_kraft/" rel="nofollow">XING</a><a href="http://www.philippkraft.de/" class="urlextern" title="http://www.philippkraft.de/" rel="nofollow">Blog</a>,<a href="http://www.townkings.de/" class="urlextern" title="http://www.townkings.de/" rel="nofollow">TOWNKINGS</a>)</div>
</li>
<li class="level1">
<div class="li"> Frank Engel (<a href="https://www.xing.com/profile/frank_engel/" class="urlextern" title="https://www.xing.com/profile/frank_engel/" rel="nofollow">XING</a><a href="http://www.frankengel.com/" class="urlextern" title="http://www.frankengel.com/" rel="nofollow">Blog</a>,<a href="http://www.townkings.de/" class="urlextern" title="http://www.townkings.de/" rel="nofollow">TOWNKINGS</a>)</div>
</li>
<li class="level1">
<div class="li"> Igor Schwarzmann (<a href="https://www.xing.com/profile/Igor_Schwarzmann/" class="urlextern" title="https://www.xing.com/profile/Igor_Schwarzmann/" rel="nofollow">XING</a>, <a href="http://www.mementodiem.de/" class="urlextern" title="http://www.mementodiem.de/" rel="nofollow">mementodiem</a>, <a href="http://www.medienrauschen.de/" class="urlextern" title="http://www.medienrauschen.de/" rel="nofollow">medienrauschen</a>)</div>
</li>
<li class="level1">
<div class="li"> Jochen Pier </div>
</li>
<li class="level1">
<div class="li"> Axel Ratzer(<a href="http://www.waitingforjason.com" class="urlextern" title="http://www.waitingforjason.com" rel="nofollow">waitingforjason.com</a>,<a href="http://www.axel-ratzer.de" class="urlextern" title="http://www.axel-ratzer.de" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Mauro Ostolski (<a href="http://www.waitingforjason.com" class="urlextern" title="http://www.waitingforjason.com" rel="nofollow">waitingforjason.com</a>)</div>
</li>
<li class="level1">
<div class="li"> m.eik michalke (<a href="http://openmusiccontest.org" class="urlextern" title="http://openmusiccontest.org" rel="nofollow">Open Music Contest</a>, <a href="http://www.reaktanz.de/blog" class="urlextern" title="http://www.reaktanz.de/blog" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Jirka Schäfer (<a href="http://tschitschereengreen.com" class="urlextern" title="http://tschitschereengreen.com" rel="nofollow">Tschitschereengreen</a>|<a href="https://www.xing.com/profile/Jirka_Schaefer/" class="urlextern" title="https://www.xing.com/profile/Jirka_Schaefer/" rel="nofollow">Xing</a>)</div>
</li>
<li class="level1">
<div class="li"> Christian Dahlhausen (<a href="http://www..xing.com/hp/Christian_Dahlhausen" class="urlextern" title="http://www..xing.com/hp/Christian_Dahlhausen" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Wolfgang Fischer (<a href="https://www.xing.com/profile/Wolfgang_Fischer10/" class="urlextern" title="https://www.xing.com/profile/Wolfgang_Fischer10/" rel="nofollow">XING</a>, <a href="http://www.hundertelf.com/" class="urlextern" title="http://www.hundertelf.com/" rel="nofollow">hundertelf</a>,)</div>
</li>
<li class="level1">
<div class="li"> Till Achinger (<a href="http://www.xing.com/profile/Till_Achinger" class="urlextern" title="http://www.xing.com/profile/Till_Achinger" rel="nofollow">XING</a>) - <a href="http://www.pfandtasse.de" class="urlextern" title="http://www.pfandtasse.de" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Matthias Hochscheid (<a href="http://www.colognedesigner.de" class="urlextern" title="http://www.colognedesigner.de" rel="nofollow">colognedesigner</a>)</div>
</li>
<li class="level1">
<div class="li"> Marcella Gäb (<a href="https://www.xing.com/profile/Marcella_Gaeb" class="urlextern" title="https://www.xing.com/profile/Marcella_Gaeb" rel="nofollow">XING</a>,<a href="http://www.techcrowd.de" class="urlextern" title="http://www.techcrowd.de" rel="nofollow">TechCrowd</a>)</div>
</li>
<li class="level1">
<div class="li"> Sebastian Jansen (<a href="http://www.digital-anger.de" class="urlextern" title="http://www.digital-anger.de" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Dominik Kroll  (ach, XING ist mir egal)</div>
</li>
<li class="level1">
<div class="li"> Esther Krumm, Susanne Nandelstädt (<a href="http://www.unicef.de" class="urlextern" title="http://www.unicef.de" rel="nofollow">UNICEF Deutschland</a>)</div>
</li>
<li class="level1">
<div class="li"> Hendrik Sakowsky</div>
</li>
<li class="level1">
<div class="li"> Jonas Schild (<a href="http://www.xing.com/profile/Jonas_Schild" class="urlextern" title="http://www.xing.com/profile/Jonas_Schild" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Alexander Stump (<a href="http://www.xing.com/profile/Alexander_Stump" class="urlextern" title="http://www.xing.com/profile/Alexander_Stump" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Michael Stump (<a href="http://www.xing.com/profile/Michael_Stump" class="urlextern" title="http://www.xing.com/profile/Michael_Stump" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Sebastian Grünwaldt (<a href="http://www.blog.cbgreenwood.de/" class="urlextern" title="http://www.blog.cbgreenwood.de/" rel="nofollow">cb's ßetabloggerei</a>) - nu doch <img src="/lib/images/smileys/icon_wink.gif" class="icon" alt=";-)">
</div>
</li>
<li class="level1">
<div class="li"> Malgorzata Florczyk (<a href="http://www.xing.com/profile/Malgorzata_Florczyk" class="urlextern" title="http://www.xing.com/profile/Malgorzata_Florczyk" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Tina Bungert (<a href="http://www.xing.com/profile/Tina_Bungert" class="urlextern" title="http://www.xing.com/profile/Tina_Bungert" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Joerg Bienert (<a href="http://www.xing.com/profile/Joerg_bienert" class="urlextern" title="http://www.xing.com/profile/Joerg_bienert" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Henning Reschke (<a href="http://www.xing.com/profile/CarlHenning_Reschke" class="urlextern" title="http://www.xing.com/profile/CarlHenning_Reschke" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Andrea van den Hoogen (<a href="http://www.xing.com/profile/Andrea_vandenHoogen" class="urlextern" title="http://www.xing.com/profile/Andrea_vandenHoogen" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Alexander Coelius(<a href="http://www.xing.com/profile/Alexander_Coelius" class="urlextern" title="http://www.xing.com/profile/Alexander_Coelius" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Stefan Teuber</div>
</li>
<li class="level1">
<div class="li"> Konstantin Zurawski (<a href="http://www.xing.com/profile/Konstantin_Zurawski" class="urlextern" title="http://www.xing.com/profile/Konstantin_Zurawski" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Thomas</div>
</li>
<li class="level1">
<div class="li"> Andreas Graulich (<a href="http://www.andreasgraulich.de/" class="urlextern" title="http://www.andreasgraulich.de/" rel="nofollow">www.andreasgraulich.de</a>)</div>
</li>
<li class="level1">
<div class="li"> David Neu (<a href="http://www.xing.com/profile/david_neu2" class="urlextern" title="http://www.xing.com/profile/david_neu2" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Stefan Moeller (<a href="http://www.xing.com/profile/Stefan_Moeller7" class="urlextern" title="http://www.xing.com/profile/Stefan_Moeller7" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Michael Pütz (<a href="http://www.millepondo.de" class="urlextern" title="http://www.millepondo.de" rel="nofollow">millepondo services</a> / <a href="http://blog.fanground.net" class="urlextern" title="http://blog.fanground.net" rel="nofollow">FANGROUND</a>)</div>
</li>
<li class="level1">
<div class="li"> Mirko Peters (<a href="http://www.av-medien.info" class="urlextern" title="http://www.av-medien.info" rel="nofollow">AV-Medien</a> / <a href="http://www.waitingforjason.com" class="urlextern" title="http://www.waitingforjason.com" rel="nofollow">waitingforjason.com</a>)</div>
</li>
<li class="level1">
<div class="li"> Patrick Studt (<a href="http://www.pl0g.de" class="urlextern" title="http://www.pl0g.de" rel="nofollow">pl0g.de</a>)</div>
</li>
<li class="level1">
<div class="li"> Philipp Friesen (<a href="http://www.xing.com/profile/Philipp_Friesen2" class="urlextern" title="http://www.xing.com/profile/Philipp_Friesen2" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Johannes Lietz (<a href="http://www.xing.com/profile/Johannes_Lietz" class="urlextern" title="http://www.xing.com/profile/Johannes_Lietz" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> fukami (<a href="http://www.sektioneins.de" class="urlextern" title="http://www.sektioneins.de" rel="nofollow">SektionEins</a>)</div>
</li>
<li class="level1">
<div class="li"> Holger Sistig (<a href="http://www.xing.com/profile/Holger_Sistig" class="urlextern" title="http://www.xing.com/profile/Holger_Sistig" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Michael Nietzold (<a href="http://www.xing.com/profile/Michael_Nietzold" class="urlextern" title="http://www.xing.com/profile/Michael_Nietzold" rel="nofollow">XING</a>)</div>
</li>
</ol>

</div>
<!-- EDIT12 SECTION "Teilnehmer / Participants" [4884-10936] -->
<h1 class="sectionedit13" id="vielleichtmaybe">Vielleicht / Maybe</h1>
<div class="level1">

<p>
<em>Ich würde gerne vorbeischaun, weiß aber noch nicht hundertprozentig, ob es an dem Tag wirklich klappt. Bitte ein paar Tage vor Termin nochmal das Wiki aufsuchen und nach Möglichkeit entweder fest zusagen (Eintrag als Teilnehmer) oder absagen (Eintrag als Zuschauer). Danke!</em>
</p>
<ol>
<li class="level1">
<div class="li"> <a href="/person/oliver_wrede" class="wikilink1" title="person:oliver_wrede">oliver_wrede</a> (<a href="http://wrede.interfacedesign.org" class="urlextern" title="http://wrede.interfacedesign.org" rel="nofollow">Blog EN</a> - <a href="http://wrede.design.fh-aachen.de" class="urlextern" title="http://wrede.design.fh-aachen.de" rel="nofollow">Blog DE</a>)</div>
</li>
<li class="level1">
<div class="li"> Mario Heiderich (<a href="https://www.xing.com/profile/Mario_Heiderich" class="urlextern" title="https://www.xing.com/profile/Mario_Heiderich" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Daniel Münster (<a href="http://www.xing.com/profile/Daniel_Muenster" class="urlextern" title="http://www.xing.com/profile/Daniel_Muenster" rel="nofollow">XING</a>) - <a href="http://www.e-driven.de" class="urlextern" title="http://www.e-driven.de" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Andre Alpar (<a href="http://www.komplimen.de" class="urlextern" title="http://www.komplimen.de" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Maxx Hilberer (<a href="https://www.xing.com/profile/Maxx_Hilberer/" class="urlextern" title="https://www.xing.com/profile/Maxx_Hilberer/" rel="nofollow">Xing</a> - <a href="http://www.monozellen.de/" class="urlextern" title="http://www.monozellen.de/" rel="nofollow">monozellen</a>)</div>
</li>
<li class="level1">
<div class="li"> Benjamin Patock (<a href="http://www.hitflip.de" class="urlextern" title="http://www.hitflip.de" rel="nofollow">Hitflip</a>|<a href="https://www.xing.com/profile/Benjamin_Patock/" class="urlextern" title="https://www.xing.com/profile/Benjamin_Patock/" rel="nofollow">Xing</a>)</div>
</li>
<li class="level1">
<div class="li"> Mario Sixtus (<a href="http://www.sixtus.net" class="urlextern" title="http://www.sixtus.net" rel="nofollow">Blog</a>|<a href="http://www.elektrischer-reporter.de" class="urlextern" title="http://www.elektrischer-reporter.de" rel="nofollow">Vlog</a>|<a href="https://www.xing.com/profile/Mario_Sixtus/" class="urlextern" title="https://www.xing.com/profile/Mario_Sixtus/" rel="nofollow">Xing</a>)</div>
</li>
<li class="level1">
<div class="li"> Nicole Dornseif (<a href="http://blogs.23.nu/nnbon/" class="urlextern" title="http://blogs.23.nu/nnbon/" rel="nofollow">Blog</a>|<a href="https://www.xing.com/profile/Nicole_Dornseif" class="urlextern" title="https://www.xing.com/profile/Nicole_Dornseif" rel="nofollow">Xing</a>)</div>
</li>
<li class="level1">
<div class="li"> Adrien Simon (<a href="https://www.xing.com/profile/Adrien_Simon" class="urlextern" title="https://www.xing.com/profile/Adrien_Simon" rel="nofollow">Xing</a>)</div>
</li>
<li class="level1">
<div class="li"> Albert Weinert (<a href="https://www.xing.com/profile/Albert_Weinert" class="urlextern" title="https://www.xing.com/profile/Albert_Weinert" rel="nofollow">Xing</a>)</div>
</li>
<li class="level1">
<div class="li"> Lars Brillert (<a href="http://www.zucker-tv.de" class="urlextern" title="http://www.zucker-tv.de" rel="nofollow">Zucker TV</a>)</div>
</li>
<li class="level1">
<div class="li"> Stephan Pavlovic (<a href="http://www.zucker-tv.de" class="urlextern" title="http://www.zucker-tv.de" rel="nofollow">Zucker TV</a>)</div>
</li>
<li class="level1">
<div class="li"> Michael Thomann (<a href="http://www.unilektorat.de" class="urlextern" title="http://www.unilektorat.de" rel="nofollow">Unilektorat.de</a>|<a href="http://www.ts-blog.de" class="urlextern" title="http://www.ts-blog.de" rel="nofollow">Tumult &amp; Spektakel Blog</a>|<a href="http://www.ts-personalberatung.de" class="urlextern" title="http://www.ts-personalberatung.de" rel="nofollow">T&amp;S Personalberatung</a>|<a href="http://www.https://www.xing.com/profile/Michael_Thomann" class="urlextern" title="http://www.https://www.xing.com/profile/Michael_Thomann" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Jörg Michael (<a href="http://www.xing.com/profile/Joerg_Michael" class="urlextern" title="http://www.xing.com/profile/Joerg_Michael" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Tom Boerner (<a href="http://www.werk.de" class="urlextern" title="http://www.werk.de" rel="nofollow">NETZ WERK</a>)</div>
</li>
<li class="level1">
<div class="li"> Thomas Lang (<a href="http://www.xing.com/profile/Thomas_Lang" class="urlextern" title="http://www.xing.com/profile/Thomas_Lang" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Anja Schlanstedt (<a href="http://www.xing.com/profile/Anja_Schlanstedt" class="urlextern" title="http://www.xing.com/profile/Anja_Schlanstedt" rel="nofollow">XING</a>)</div>
</li>
</ol>

</div>
<!-- EDIT13 SECTION "Vielleicht / Maybe" [10937-12867] -->
<h1 class="sectionedit14" id="tagging">Tagging</h1>
<div class="level1">

<p>
<em>Bitte Technorati, Flickr, Del.icio.us u.ä. mit <strong>webmontag</strong> und <strong>wevent:event=545</strong> taggen!</em>
</p>

</div>
<!-- EDIT14 SECTION "Tagging" [12868-12990] -->
<h1 class="sectionedit15" id="zuschaueraudience">Zuschauer / Audience</h1>
<div class="level1">

<p>
<em>Ich kann leider nicht vor Ort dabei sein, werde den Abend jedoch aus der Distanz online verfolgen.</em>
</p>
<ol>
<li class="level1">
<div class="li"> <a href="/person/tobias_jordans" class="wikilink1" title="person:tobias_jordans">tobias_jordans</a>
</div>
</li>
<li class="level1">
<div class="li"> Guido Karl (<a href="http://www.polizei.nrw.de" class="urlextern" title="http://www.polizei.nrw.de" rel="nofollow">Polizei NRW</a>)</div>
</li>
<li class="level1">
<div class="li"> Marcus Müller (<a href="http://www.wupperblog.de" class="urlextern" title="http://www.wupperblog.de" rel="nofollow">[w]upperblog</a>)</div>
</li>
<li class="level1">
<div class="li"> Heiko</div>
</li>
<li class="level1">
<div class="li"> Andreas Beutel (<a href="http://www.xing.com/profile/andreas_beutel/" class="urlextern" title="http://www.xing.com/profile/andreas_beutel/" rel="nofollow">XING</a>,<a href="http://www.mehrwert.de/" class="urlextern" title="http://www.mehrwert.de/" rel="nofollow">mehrwert</a>)</div>
</li>
<li class="level1">
<div class="li"> Isabelle Kundoch (<a href="http://www.xing.com/profile/isabelle_kundoch/" class="urlextern" title="http://www.xing.com/profile/isabelle_kundoch/" rel="nofollow">XING</a>,<a href="http://www.nexum.de/" class="urlextern" title="http://www.nexum.de/" rel="nofollow">nexum AG</a>)</div>
</li>
<li class="level1">
<div class="li"> Britta Jerichow (<a href="http://www.xing.com/profile/britta_jerichow/" class="urlextern" title="http://www.xing.com/profile/britta_jerichow/" rel="nofollow">XING</a>|<a href="http://www.webtohuwabohu.de/" class="urlextern" title="http://www.webtohuwabohu.de/" rel="nofollow">webtohuwabohu</a>)</div>
</li>
<li class="level1">
<div class="li"> Thomas Biesenbach (<a href="https://www.xing.com/profile/Thomas_Biesenbach" class="urlextern" title="https://www.xing.com/profile/Thomas_Biesenbach" rel="nofollow">XING</a>,<a href="http://www.biesi.net" class="urlextern" title="http://www.biesi.net" rel="nofollow">biesi.net</a>,<a href="http://www.techcrowd.de" class="urlextern" title="http://www.techcrowd.de" rel="nofollow">TechCrowd</a>)</div>
</li>
</ol>

<p>
 * Vorname Nachname (<a href="http://www.webmontag.de" class="urlextern" title="http://www.webmontag.de" rel="nofollow">Blog</a>)
</p>

</div>
<!-- EDIT15 SECTION "Zuschauer / Audience" [12991-] -->
</body></html>
