---
:name: Webmontag
:title: 8. Webmontag
:url: http://webmontag-koeln.de/events/2007-03-05
:image: http://webmontag-koeln.de/assets/images/logo.png
:description: Web Monday is an informal, non-commercial, and completely community-driven
  event that aims to connect the people who are shaping the future of the internet.
  Inspired by the culture of Silicon Valley, it started out in Cologne, Germany in
  late 2005 in an effort to help spread those sunny California vibes.
:startDate: 2007-03-05T19:00
:endDate: 2007-03-05T21:00
:performer:
  :name: " "
:location:
  :name: Die Wohngemeinschaft - Theater
  :address:
    :streetAddress: Richard-Wagner-Straße 39
    :postalCode: '50674'
    :addressLocality: Cologne
    :addressCountry:
      :name: Germany
:offers:
  :url: http://webmontag-koeln.de/events/2007-03-05
---
<p>
<em>Neu beim Web Montag?  Ein Blick auf die <a href="/web_montag" class="wikilink1" title="web_montag">FAQ</a> gibt einen guten ersten Überblick, wie das Ganze funktioniert.</em>
</p>

<p>
Erneut die Bitte: Nutzt die “Edit summary” mit einem Stichwort wie “neuer Teilnehmer”, “+TN” o. ä. - Danke
</p>

<h1 class="sectionedit1" id="introduction">Introduction</h1>
<div class="level1">

<p>
Diese Seite befasst sich mit den Inhalten und der Organisation des 8. Webmontags in Köln. Eine Übersicht über den <a href="/location/koeln/index" class="wikilink1" title="location:koeln:index">Kölner Webmontag</a> findet sich auf einer separaten Seite.
</p>

<p>
Termin: 05.03.2007 - Vom Spielplatz zugesagt (<a href="http://bredlau.org/rene" class="urlextern" title="http://bredlau.org/rene" rel="nofollow">Rene Bredlau</a>)
</p>

</div>
<!-- EDIT1 SECTION "Introduction" [254-557] -->
<h1 class="sectionedit2" id="wowhere">Wo / Where</h1>
<div class="level1">

<p>
Spielplatz<br>

Ubierring 58<br>

50678 Köln (Südstadt)<br>

fon: 0221-314750<br>

<a href="http://www.spielplatz-lokal.de" class="urlextern" title="http://www.spielplatz-lokal.de" rel="nofollow">http://www.spielplatz-lokal.de</a><br>

<a href="http://www.webmontag.de/doku.php?id=locations#spielplatz" class="urlextern" title="http://www.webmontag.de/doku.php?id=locations#spielplatz" rel="nofollow">http://www.webmontag.de/doku.php?id=locations#spielplatz</a><br>

</p>

</div>
<!-- EDIT2 SECTION "Wo / Where" [558-750] -->
<h1 class="sectionedit3" id="fragen_antwortenquestions_answers">Fragen &amp; Antworten / Questions &amp; Answers</h1>
<div class="level1">

<p>
<em>Hier Fragen klären (z.B. Aufzeichnung, Mitfahrgelegenheiten etc.).</em>
</p>
<ul>
<li class="level1">
<div class="li"> Vorhanden: Leinwand, Mikros, WLAN <br>
</div>
</li>
<li class="level1">
<div class="li"> Beamer: ([Robert]/<a href="http://bredlau.org/rene" class="urlextern" title="http://bredlau.org/rene" rel="nofollow">Rene Bredlau</a>)</div>
</li>
</ul>

<p>
Sonstiges:
</p>
<ul>
<li class="level1">
<div class="li"> Kümmert sich jemand um Audio- oder Videoaufzeichnung? <br>
</div>
<ul>
<li class="level2">
<div class="li"> <del>Ich werde es dieses mal wieder versuchen (allerdings dann ohne Weitwinkelaufsatz). Wenn jemand anderes wieder mit von der Partie ist wäre das gut.</del> (<a href="/person/kai_uhlemeyer" class="wikilink2" title="person:kai_uhlemeyer" rel="nofollow">kai_uhlemeyer</a>).</div>
</li>
<li class="level2">
<div class="li"> Kann am 5. März leider keine Kamera mitbringen. (<a href="/person/kai_uhlemeyer" class="wikilink2" title="person:kai_uhlemeyer" rel="nofollow">kai_uhlemeyer</a>)</div>
</li>
</ul>
</li>
</ul>

<p>
Werbung: 
</p>
<ul>
<li class="level1">
<div class="li"> Am Mittwoch, den 18.4.07 gibt es in Köln einen kleinen Stammtisch zum Thema <a href="http://merchant-blog.hitflip.de/internet-marketing-koeln/" class="urlextern" title="http://merchant-blog.hitflip.de/internet-marketing-koeln/" rel="nofollow">Internet Marketing</a>. Vielleicht haben ja einige Webmontagler Lust - Andre Alpar (Sonst regelmäßger Webmontagler <img src="/lib/images/smileys/icon_wink.gif" class="icon" alt=";-)">)</div>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Fragen & Antworten / Questions & Answers" [751-1611] -->
<h1 class="sectionedit4" id="agenda">Agenda</h1>
<div class="level1">

</div>
<!-- EDIT4 SECTION "Agenda" [1612-1633] -->
<h2 class="sectionedit5" id="uhr_-_warmlaufennetworking">19.00 - 20.00 Uhr - Warmlaufen / Networking</h2>
<div class="level2">

<p>
<em>Ankommen.</em>
</p>

</div>
<!-- EDIT5 SECTION "19.00 - 20.00 Uhr - Warmlaufen / Networking" [1634-1714] -->
<h2 class="sectionedit6" id="uhr_-_praesentationen_demos">20.00 - 21.00 Uhr - Präsentationen, Demos</h2>
<div class="level2">

<p>
<em>Zeit für Demos jeweils ca. 5-10 Minuten. Kurz und knackige Appetithäppchen, interaktiv (genug Raum für Fragen, Diskussion). Notizen, Diskussionspunkte, Links etc. werden ins Wiki gepostet (Wi-Fi vorausgesetzt).</em>
</p>
<ol>
<li class="level1">
<div class="li"> Social Networks in Japan: Mixi, kulturelle Hintergründe, das Bestreben nach Sicherheit, die etwas andere Monetarisierung <a href="/person/oliver_ueberholz" class="wikilink1" title="person:oliver_ueberholz">oliver_ueberholz</a>
</div>
</li>
<li class="level1">
<div class="li"> café podcast  Christian Rottmann</div>
</li>
<li class="level1">
<div class="li"> <a href="http://musik.sendung.de/" class="urlextern" title="http://musik.sendung.de/" rel="nofollow">http://musik.sendung.de/</a> - eine experimentelle Musik-Finde-und-Hör-Plattform im ganz frühen Stadium - <a href="/person/marian_steinbach" class="wikilink1" title="person:marian_steinbach">marian_steinbach</a>
</div>
</li>
</ol>

</div>
<!-- EDIT6 SECTION "20.00 - 21.00 Uhr - Präsentationen, Demos" [1715-2321] -->
<h2 class="sectionedit7" id="uhr_-_shmoozing">21.00 - 23.00 Uhr - Shmoozing</h2>
<div class="level2">

<p>
<em>Party.</em>
</p>

</div>
<!-- EDIT7 SECTION "21.00 - 23.00 Uhr - Shmoozing" [2322-2382] -->
<h1 class="sectionedit8" id="teilnehmerparticipants">Teilnehmer / Participants</h1>
<div class="level1">

<p>
<em>Ich bin am Termin auf jeden Fall dabei!</em>
</p>
<ol>
<li class="level1">
<div class="li"> <a href="http://bredlau.org/rene" class="urlextern" title="http://bredlau.org/rene" rel="nofollow">Rene Bredlau</a>
</div>
</li>
<li class="level1">
<div class="li"> Nicole Ebber (<a href="https://www.xing.com/profile/nicole_ebber/" class="urlextern" title="https://www.xing.com/profile/nicole_ebber/" rel="nofollow">XING</a>,<a href="http://www.antischokke.de/" class="urlextern" title="http://www.antischokke.de/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Christin Heuser (<a href="https://www.xing.com/profile/christin_heuser/" class="urlextern" title="https://www.xing.com/profile/christin_heuser/" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Florian Krakau (<a href="https://www.xing.com/profile/florian_krakau/" class="urlextern" title="https://www.xing.com/profile/florian_krakau/" rel="nofollow">XING</a>,<a href="http://www.pl0g.de/" class="urlextern" title="http://www.pl0g.de/" rel="nofollow">pl0g</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/kai_uhlemeyer" class="wikilink2" title="person:kai_uhlemeyer" rel="nofollow">kai_uhlemeyer</a>
</div>
</li>
<li class="level1">
<div class="li"> <del>Britta Jerichow (<a href="https://www.xing.com/profile/britta_jerichow/" class="urlextern" title="https://www.xing.com/profile/britta_jerichow/" rel="nofollow">XING</a>)</del> </div>
</li>
<li class="level1">
<div class="li"> Daniel Peters (<a href="https://www.xing.com/profile/Daniel_Peters4/" class="urlextern" title="https://www.xing.com/profile/Daniel_Peters4/" rel="nofollow">XING</a>), (<a href="http://www.kopfkribbeln.de/" class="urlextern" title="http://www.kopfkribbeln.de/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/tobias_jordans" class="wikilink1" title="person:tobias_jordans">tobias_jordans</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/gernot_poetsch" class="wikilink1" title="person:gernot_poetsch">gernot_poetsch</a>
</div>
</li>
<li class="level1">
<div class="li"> Thomas Vehmeier (<a href="https://www.xing.com/profile/thomas_vehmeier/" class="urlextern" title="https://www.xing.com/profile/thomas_vehmeier/" rel="nofollow">XING</a>,<a href="http://www.interneteconomics.de/blog" class="urlextern" title="http://www.interneteconomics.de/blog" rel="nofollow">InternetEconomics</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/oliver_ueberholz" class="wikilink1" title="person:oliver_ueberholz">oliver_ueberholz</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/oliver_wrede" class="wikilink1" title="person:oliver_wrede">oliver_wrede</a>
</div>
</li>
<li class="level1">
<div class="li"> Marcella Gäb (<a href="https://www.xing.com/profile/marcella_gaeb/" class="urlextern" title="https://www.xing.com/profile/marcella_gaeb/" rel="nofollow">XING</a>,<a href="http://www.techcrowd.de/" class="urlextern" title="http://www.techcrowd.de/" rel="nofollow">TechCrowd</a>)</div>
</li>
<li class="level1">
<div class="li"> Susanne Rohe (<a href="https://www.xing.com/profile/susanne_rohe/" class="urlextern" title="https://www.xing.com/profile/susanne_rohe/" rel="nofollow">XING</a>,<a href="http://www.techcrowd.de/" class="urlextern" title="http://www.techcrowd.de/" rel="nofollow">TechCrowd</a>)</div>
</li>
<li class="level1">
<div class="li"> Christian Rottmann (<a href="https://www.xing.com/profile/christian_rottmann/" class="urlextern" title="https://www.xing.com/profile/christian_rottmann/" rel="nofollow">XING</a>,<a href="http://www.cafe-podcast.de/" class="urlextern" title="http://www.cafe-podcast.de/" rel="nofollow">café podcast</a>)</div>
</li>
<li class="level1">
<div class="li"> Maxx Hilberer (<a href="https://www.xing.com/profile/Maxx_Hilberer/" class="urlextern" title="https://www.xing.com/profile/Maxx_Hilberer/" rel="nofollow">XING</a>,<a href="http://www.monozellen.de/" class="urlextern" title="http://www.monozellen.de/" rel="nofollow">Monozellen</a>)</div>
</li>
<li class="level1">
<div class="li"> Andrea van den Hoogen (<a href="https://www.xing.com/profile/Andrea_vandenHoogen/" class="urlextern" title="https://www.xing.com/profile/Andrea_vandenHoogen/" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Lars Inselmann (<a href="https://www.xing.com/profile/Lars_Inselmann/" class="urlextern" title="https://www.xing.com/profile/Lars_Inselmann/" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Carsten Schulte (<a href="https://www.xing.com/profile/Carsten_Schulte/" class="urlextern" title="https://www.xing.com/profile/Carsten_Schulte/" rel="nofollow">XING</a>,<a href="http://www.media-blog.com/" class="urlextern" title="http://www.media-blog.com/" rel="nofollow">media-blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Matthias Schmidt (<a href="https://www.xing.com/profile/Matthias_Schmidt12/" class="urlextern" title="https://www.xing.com/profile/Matthias_Schmidt12/" rel="nofollow">XING</a>,<a href="http://www.antwerpes.de/" class="urlextern" title="http://www.antwerpes.de/" rel="nofollow">antwerpes + partner ag</a>)</div>
</li>
<li class="level1">
<div class="li"> Robert Ivnik</div>
</li>
<li class="level1">
<div class="li"> Philipp Friesen</div>
</li>
<li class="level1">
<div class="li"> Rubén Parés-Selders(<a href="http://www.starts-online.de" class="urlextern" title="http://www.starts-online.de" rel="nofollow">Fliegerportal</a>, <a href="http://www.innoq.com" class="urlextern" title="http://www.innoq.com" rel="nofollow">innoQ</a>)</div>
</li>
<li class="level1">
<div class="li"> Christian Albrecht (<a href="http://www.innoq.com/blog/ca/wordpress" class="urlextern" title="http://www.innoq.com/blog/ca/wordpress" rel="nofollow">Blog</a>, <a href="http://www.innoq.com" class="urlextern" title="http://www.innoq.com" rel="nofollow">innoQ</a>)</div>
</li>
<li class="level1">
<div class="li"> Sebastian Klein ( <a href="https://www.xing.com/profile/Sebastian_Klein2" class="urlextern" title="https://www.xing.com/profile/Sebastian_Klein2" rel="nofollow">XING</a>, <a href="http://www.weit-blick.com" class="urlextern" title="http://www.weit-blick.com" rel="nofollow">weit|blick</a>)</div>
</li>
<li class="level1">
<div class="li"> Hanna Krieg</div>
</li>
<li class="level1">
<div class="li"> Thomas Biesenbach (<a href="https://www.xing.com/profile/Thomas_Biesenbach" class="urlextern" title="https://www.xing.com/profile/Thomas_Biesenbach" rel="nofollow">XING</a>, <a href="http://www.biesi.net" class="urlextern" title="http://www.biesi.net" rel="nofollow">biesi.net</a>, <a href="http://blog.thomasbiesenbach.de" class="urlextern" title="http://blog.thomasbiesenbach.de" rel="nofollow">Blog</a>, <a href="http://www.techcrowd.de" class="urlextern" title="http://www.techcrowd.de" rel="nofollow">Podcast</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/tim_schneider" class="wikilink1" title="person:tim_schneider">tim_schneider</a>
</div>
</li>
<li class="level1">
<div class="li"> Andreas Beutel ( <a href="http://www.xing.com/profile/Andreas_Beutel" class="urlextern" title="http://www.xing.com/profile/Andreas_Beutel" rel="nofollow">XING</a>, <a href="http://www.mehrwert.de" class="urlextern" title="http://www.mehrwert.de" rel="nofollow">mehrwert</a>)</div>
</li>
<li class="level1">
<div class="li"> Isabelle Kundoch ( <a href="http://www.xing.com/profile/Isabelle_Kundoch" class="urlextern" title="http://www.xing.com/profile/Isabelle_Kundoch" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Markus Kreutzer ( <a href="http://www.xing.com/profile/Markus_Kreutzer2" class="urlextern" title="http://www.xing.com/profile/Markus_Kreutzer2" rel="nofollow">XING</a>), <a href="http://www.clipfish.de" class="urlextern" title="http://www.clipfish.de" rel="nofollow">clipfish</a>)</div>
</li>
<li class="level1">
<div class="li"> Tino Engelmann</div>
</li>
<li class="level1">
<div class="li"> Mario Knezovic</div>
</li>
<li class="level1">
<div class="li"> Anke Frey</div>
</li>
<li class="level1">
<div class="li"> Inga Palme ( <a href="http://www.inga-palme.de" class="urlextern" title="http://www.inga-palme.de" rel="nofollow">blog</a> )</div>
</li>
<li class="level1">
<div class="li"> Wilfried Ifland ( <a href="http://www.youcan-trust.org" class="urlextern" title="http://www.youcan-trust.org" rel="nofollow">YouCan</a> )</div>
</li>
<li class="level1">
<div class="li"> Andrea Goetzke (<a href="https://www.xing.com/profile/Andrea_Goetzke" class="urlextern" title="https://www.xing.com/profile/Andrea_Goetzke" rel="nofollow">XING</a>, <a href="http://www.newthinking-communications.de" class="urlextern" title="http://www.newthinking-communications.de" rel="nofollow">newthinking communications</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/marian_steinbach" class="wikilink1" title="person:marian_steinbach">marian_steinbach</a>
</div>
</li>
<li class="level1">
<div class="li"> Andreas Schwankl (<a href="https://www.xing.com/profile/Andreas_Schwankl" class="urlextern" title="https://www.xing.com/profile/Andreas_Schwankl" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Judith Konz (<a href="https://www.xing.com/profile/Judith_Konz" class="urlextern" title="https://www.xing.com/profile/Judith_Konz" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Moritz “mo.” Sauer (<a href="http://mo.phlow.de" class="urlextern" title="http://mo.phlow.de" rel="nofollow">Website</a>)</div>
</li>
</ol>

</div>
<!-- EDIT8 SECTION "Teilnehmer / Participants" [2383-5630] -->
<h1 class="sectionedit9" id="vielleichtmaybe">Vielleicht / Maybe</h1>
<div class="level1">

<p>
<em>Ich würde gerne vorbeischaun, weiß aber noch nicht hundertprozentig, ob es an dem Tag wirklich klappt. Bitte ein paar Tage vor Termin nochmal das Wiki aufsuchen und nach Möglichkeit entweder fest zusagen (Eintrag als Teilnehmer) oder absagen (Eintrag als Zuschauer). Danke!</em>
</p>
<ol>
<li class="level1">
<div class="li"> Hans Dorsch (<a href="https://www.xing.com/profile/Hans_Dorsch" class="urlextern" title="https://www.xing.com/profile/Hans_Dorsch" rel="nofollow">XING</a>, <a href="http://www.macprofessionell.de/" class="urlextern" title="http://www.macprofessionell.de/" rel="nofollow">Blog</a>)</div>
</li>
</ol>
<ol>
<li class="level1">
<div class="li"> <a href="/person/konstantin_stergiopoulos" class="wikilink1" title="person:konstantin_stergiopoulos">konstantin_stergiopoulos</a> (<a href="https://www.xing.com/profile/Konstantin_Stergiopoulos" class="urlextern" title="https://www.xing.com/profile/Konstantin_Stergiopoulos" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/sebastian_gruenwaldt" class="wikilink2" title="person:sebastian_gruenwaldt" rel="nofollow">sebastian_gruenwaldt</a> (<a href="https://www.xing.com/profile/Sebastian_Gruenwaldt" class="urlextern" title="https://www.xing.com/profile/Sebastian_Gruenwaldt" rel="nofollow">XING</a>, <a href="http://www.blog.cbgreenwood.de" class="urlextern" title="http://www.blog.cbgreenwood.de" rel="nofollow"> @cb's ßetabloggerei</a>)</div>
</li>
<li class="level1">
<div class="li"> Konrad Neuwirth (<a href="http://www.xiqit.de/" class="urlextern" title="http://www.xiqit.de/" rel="nofollow">XIQIT</a>, <a href="https://www.xing.com/profile/Konrad_Neuwirth" class="urlextern" title="https://www.xing.com/profile/Konrad_Neuwirth" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Torsten Kleinz</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/jan_kus" class="wikilink1" title="person:jan_kus">jan_kus</a> (<a href="http://www.koosishart.de/" class="urlextern" title="http://www.koosishart.de/" rel="nofollow">Blog</a>, <a href="https://www.xing.com/profile/Jan_Kus" class="urlextern" title="https://www.xing.com/profile/Jan_Kus" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Wolfram Eberius (<a href="https://www.xing.com/profile/Wolfram_Eberius" class="urlextern" title="https://www.xing.com/profile/Wolfram_Eberius" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Ireneus Broncel (<a href="https://www.xing.com/profile/Ireneus_Broncel" class="urlextern" title="https://www.xing.com/profile/Ireneus_Broncel" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Masu</div>
</li>
</ol>

</div>
<!-- EDIT9 SECTION "Vielleicht / Maybe" [5631-6713] -->
<h1 class="sectionedit10" id="zuschaueraudience">Zuschauer / Audience</h1>
<div class="level1">

<p>
<em>Ich kann leider nicht vor Ort dabei sein, werde den Abend jedoch aus der Distanz online verfolgen.</em>
</p>
<ul>
<li class="level1">
<div class="li"> Vorname Nachname (<a href="http://www.webmontag.de" class="urlextern" title="http://www.webmontag.de" rel="nofollow">Blog</a>)</div>
</li>
</ul>

</div>
<!-- EDIT10 SECTION "Zuschauer / Audience" [6714-6911] -->
<h1 class="sectionedit11" id="echo">Echo</h1>
<div class="level1">
<ul>
<li class="level1">
<div class="li"> Marian schreibt auf musik.sendung.de Blog: <a href="http://musik.sendung.de/blog/2007/03/06/reaktionen-vom-webmontag/" class="urlextern" title="http://musik.sendung.de/blog/2007/03/06/reaktionen-vom-webmontag/" rel="nofollow">Reaktionen vom Webmontag</a>
</div>
</li>
</ul>

</div>
<!-- EDIT11 SECTION "Echo" [6912-] -->