---
:name: Webmontag
:title: 14. Webmontag
:url: http://webmontag-koeln.de/events/2008-05-05
:image: http://webmontag-koeln.de/assets/images/logo.png
:description: Web Monday is an informal, non-commercial, and completely community-driven
  event that aims to connect the people who are shaping the future of the internet.
  Inspired by the culture of Silicon Valley, it started out in Cologne, Germany in
  late 2005 in an effort to help spread those sunny California vibes.
:startDate: 2008-05-05T19:00
:endDate: 2008-05-05T21:00
:performer:
  :name: " "
:location:
  :name: Die Wohngemeinschaft - Theater
  :address:
    :streetAddress: Richard-Wagner-Straße 39
    :postalCode: '50674'
    :addressLocality: Cologne
    :addressCountry:
      :name: Germany
:offers:
  :url: http://webmontag-koeln.de/events/2008-05-05
---
<p>
<em>Neu beim Web Montag?  Ein Blick auf die <a href="/web_montag" class="wikilink1" title="web_montag">FAQ</a> gibt einen guten ersten Überblick, wie das Ganze funktioniert.</em>
</p>

<p>
Erneut die Bitte: Nutzt die “Edit summary” mit einem Stichwort wie “neuer Teilnehmer”, “+TN” o. ä. - Danke
</p>

<h1 class="sectionedit1" id="introduction">Introduction</h1>
<div class="level1">

<p>
Diese Seite befasst sich mit den Inhalten und der Organisation des 14. Webmontags in Köln. Eine Übersicht über den <a href="/location/koeln/index" class="wikilink1" title="location:koeln:index">Kölner Webmontag</a> findet sich auf einer separaten Seite.
</p>

</div>
<!-- EDIT1 SECTION "Introduction" [251-464] -->
<h1 class="sectionedit2" id="wannwhen">Wann / When</h1>
<div class="level1">

<p>
Termin: <strong>05.05.2008</strong> - vom Spielplatz zugesagt - Nicole
</p>

<p>
Termin bei <a href="http://venteria.com/events/54167-Webmontag-Koeln-14" class="urlextern" title="http://venteria.com/events/54167-Webmontag-Koeln-14" rel="nofollow">venteria</a> und <a href="http://upcoming.yahoo.com/event/471140/" class="urlextern" title="http://upcoming.yahoo.com/event/471140/" rel="nofollow">upcoming</a>
</p>

<p>
<em>Es gibt diesmal vielleicht eine kleine Überraschung, lasst euch überraschen :) </em>
</p>

</div>
<!-- EDIT2 SECTION "Wann / When" [465-771] -->
<h1 class="sectionedit3" id="wowhere">Wo / Where</h1>
<div class="level1">

<p>
Spielplatz<br>

Ubierring 58<br>

50678 Köln (Südstadt)<br>

fon: 0221-314750<br>

<a href="http://www.spielplatz-lokal.de" class="urlextern" title="http://www.spielplatz-lokal.de" rel="nofollow">http://www.spielplatz-lokal.de</a><br>

<a href="http://www.webmontag.de/doku.php?id=locations#spielplatz" class="urlextern" title="http://www.webmontag.de/doku.php?id=locations#spielplatz" rel="nofollow">http://www.webmontag.de/doku.php?id=locations#spielplatz</a><br>

</p>

</div>
<!-- EDIT3 SECTION "Wo / Where" [772-963] -->
<h1 class="sectionedit4" id="fragen_antwortenquestions_answers">Fragen &amp; Antworten / Questions &amp; Answers</h1>
<div class="level1">

<p>
<em>Hier Fragen klären (z.B. Aufzeichnung, Mitfahrgelegenheiten etc.).</em>
</p>
<ul>
<li class="level1">
<div class="li"> Wir haben: Leinwand, Mikro, WLAN <br>
</div>
</li>
<li class="level1">
<div class="li"> Wir brauchen:  <strong>BEAMER!</strong>, Audio- und Videoaufzeichnung <br>
</div>
</li>
<li class="level1">
<div class="li"> Bitte beachtet: Der Spielplatz liegt in der UMWELTZONE, d.h. ihr braucht eine Plakette fürs Auto. Nächste Bahnhaltestelle ist “Ubierring”. <br>
</div>
</li>
</ul>

<p>
<br>

</p>
<ul>
<li class="level1">
<div class="li"> Wohne nebenan, kann Beamer mitnehmen, falls Bedarf besteht. - <a href="mailto:mailto%3Adev%20%5Bat%5D%20canbuffi%20%5Bdot%5D%20de" class="mail" title="mailto:dev [at] canbuffi [dot] de">Sebastian Majstorovic</a>        Ja, Bedarf besteht nach wie vor! (Mail ist unterwegs zu Dir, Nicole) - Gut, ist geregelt.</div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "Fragen & Antworten / Questions & Answers" [964-1562] -->
<h1 class="sectionedit5" id="agenda">Agenda</h1>
<div class="level1">

</div>
<!-- EDIT5 SECTION "Agenda" [1563-1584] -->
<h2 class="sectionedit6" id="uhr_-_warmlaufennetworking">19.00 - 20.00 Uhr - Warmlaufen / Networking</h2>
<div class="level2">

<p>
<em>Ankommen.Tach sagen. Drinks bestellen.</em>
</p>

</div>
<!-- EDIT6 SECTION "19.00 - 20.00 Uhr - Warmlaufen / Networking" [1585-1686] -->
<h2 class="sectionedit7" id="uhr_-_praesentationen_demos">20.00 - 21.00 Uhr - Präsentationen, Demos</h2>
<div class="level2">

<p>
<em>Zeit für Demos jeweils ca. 5-10 Minuten. Kurz und knackige Appetithäppchen, interaktiv (genug Raum für Fragen, Diskussion). Notizen, Diskussionspunkte, Links etc. werden ins Wiki gepostet (Wi-Fi vorausgesetzt).</em>
</p>

<p>
Nur bei uns in Köln: JedeR Vortragende bekommt einen <a href="http://www.openmusiccontest.org" class="urlextern" title="http://www.openmusiccontest.org" rel="nofollow">Open Music Sampler</a> mit Creative Commons-lizenzierter Musik. <a href="http://der-albert.com/" class="urlextern" title="http://der-albert.com/" rel="nofollow">Albert Weinert</a> war so freundlich, uns dieses kleine Schmankerl zur Verfügung zu stellen.  
</p>
<ol>
<li class="level1">
<div class="li"> SalesKing - Projektvorstellung von Schorsch / Ole … nix social oder community </div>
</li>
<li class="level1">
<div class="li"> ADO.NET <em>“Astoria”</em> Data Services: REST basierter Datenzugriff und Manipulation - <a href="http://der-albert.com" class="urlextern" title="http://der-albert.com" rel="nofollow">Der-Albert.com</a>
</div>
</li>
<li class="level1">
<div class="li"> Project Z (<a href="/person/tim_bonnemann" class="wikilink1" title="person:tim_bonnemann">tim_bonnemann</a>) – Kurzvorstellung/Ankundigung eines aktuellen Projekts, das in den nächsten Wochen mit einer ersten kleinen Alpha startet (<a href="http://www.slideshare.net/planspark/projekt-z" class="urlextern" title="http://www.slideshare.net/planspark/projekt-z" rel="nofollow">Folien auf Slideshare</a>).</div>
</li>
<li class="level1">
<div class="li"> <del>Verena Gemmel, <a href="http://www.mallorca-today.de" class="urlextern" title="http://www.mallorca-today.de" rel="nofollow">Mallorca-today.de - Dein Inselmagazin!</a></del>
</div>
</li>
<li class="level1">
<div class="li"> <del><a href="https://www.mesh.com" class="urlextern" title="https://www.mesh.com" rel="nofollow">Live Mesh</a>, wenn noch was Zeit und Interesse vorhanden ist kann ich dazu was sagen - <a href="http://der-albert.com" class="urlextern" title="http://der-albert.com" rel="nofollow">Der-Albert.com</a></del>
</div>
</li>
<li class="level1">
<div class="li"> armedangels.de Community (Sandra Trögl)</div>
</li>
</ol>

</div>
<!-- EDIT7 SECTION "20.00 - 21.00 Uhr - Präsentationen, Demos" [1687-2998] -->
<h2 class="sectionedit8" id="open_end_-_shmoozing">21.00 - Open End - Shmoozing</h2>
<div class="level2">

<p>
<em>Reden, austauschen, diskutieren, trinken, whatever.</em>
Test
</p>

</div>
<!-- EDIT8 SECTION "21.00 - Open End - Shmoozing" [2999-3104] -->
<h1 class="sectionedit9" id="teilnehmerparticipants">Teilnehmer / Participants</h1>
<div class="level1">

<p>
<em>Ich bin am Termin auf jeden Fall dabei!</em>
</p>
<ol>
<li class="level1">
<div class="li"> Markus Jakobs (<a href="https://www.xing.com/profile/markus_jakobs/" class="urlextern" title="https://www.xing.com/profile/markus_jakobs/" rel="nofollow">XING</a>,<a href="http://free-blog.in/kehrseite/" class="urlextern" title="http://free-blog.in/kehrseite/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="http://bredlau.org/rene" class="urlextern" title="http://bredlau.org/rene" rel="nofollow">Rene Bredlau</a>
</div>
</li>
<li class="level1">
<div class="li"> Nicole Ebber (<a href="https://www.xing.com/profile/nicole_ebber/" class="urlextern" title="https://www.xing.com/profile/nicole_ebber/" rel="nofollow">XING</a>,<a href="http://www.antischokke.de/" class="urlextern" title="http://www.antischokke.de/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Albert Weinert (<a href="https://www.xing.com/profile/albert_weinert/" class="urlextern" title="https://www.xing.com/profile/albert_weinert/" rel="nofollow">XING</a>,<a href="http://der-albert.com/" class="urlextern" title="http://der-albert.com/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Britta Jerichow (<a href="https://www.xing.com/profile/britta_jerichow/" class="urlextern" title="https://www.xing.com/profile/britta_jerichow/" rel="nofollow">XING</a>,<a href="http://www.webtohuwabohu.de/" class="urlextern" title="http://www.webtohuwabohu.de/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/tim_bonnemann" class="wikilink1" title="person:tim_bonnemann">tim_bonnemann</a>
</div>
</li>
<li class="level1">
<div class="li"> Christoph Beckmann(<a href="http://www.lootogo.de" class="urlextern" title="http://www.lootogo.de" rel="nofollow">lootogo</a>)</div>
</li>
<li class="level1">
<div class="li"> David Neu (<a href="https://www.xing.com/profile/david_neu2/" class="urlextern" title="https://www.xing.com/profile/david_neu2/" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Henrik Greger (<a href="https://www.xing.com/profile/Henrik_Greger/" class="urlextern" title="https://www.xing.com/profile/Henrik_Greger/" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Christian Vollmert (<a href="https://www.xing.com/profile/Christian_Vollmert/" class="urlextern" title="https://www.xing.com/profile/Christian_Vollmert/" rel="nofollow">XING</a>,<a href="http://www.luna-park.de/" class="urlextern" title="http://www.luna-park.de/" rel="nofollow">luna-park</a>), </div>
</li>
<li class="level1">
<div class="li"> Jutta Westphal (<a href="https://www.xing.com/profile/Jutta_Westphal/" class="urlextern" title="https://www.xing.com/profile/Jutta_Westphal/" rel="nofollow">XING</a>,<a href="http://www.junebrenners.wordpress.com/" class="urlextern" title="http://www.junebrenners.wordpress.com/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Christoph Möller (<a href="https://www.xing.com/profile/Christoph_Moeller11/" class="urlextern" title="https://www.xing.com/profile/Christoph_Moeller11/" rel="nofollow">XING</a>) </div>
</li>
<li class="level1">
<div class="li"> Gernot Poetsch (<a href="https://www.xing.com/profile/Gernot_Poetsch/" class="urlextern" title="https://www.xing.com/profile/Gernot_Poetsch/" rel="nofollow">XING</a>) </div>
</li>
<li class="level1">
<div class="li"> <a href="/person/tim_bartel" class="wikilink1" title="person:tim_bartel">tim_bartel</a> (<a href="https://www.xing.com/profile/Tim_Bartel/" class="urlextern" title="https://www.xing.com/profile/Tim_Bartel/" rel="nofollow">XING</a>, <a href="http://wikipedistik.de/" class="urlextern" title="http://wikipedistik.de/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Philipp Strube (<a href="https://www.xing.com/profile/Philipp_Strube/" class="urlextern" title="https://www.xing.com/profile/Philipp_Strube/" rel="nofollow">XING</a> <a href="http://de.mypeak.net/user/pst" class="urlextern" title="http://de.mypeak.net/user/pst" rel="nofollow">myPEAK.net</a>) </div>
</li>
<li class="level1">
<div class="li"> Jörg Bienert (<a href="https://www.xing.com/profile/Joerg_Bienert/" class="urlextern" title="https://www.xing.com/profile/Joerg_Bienert/" rel="nofollow">XING</a> <a href="/httpa/www.empulse.de" class="wikilink2" title="httpa:www.empulse.de" rel="nofollow">empulse</a>) </div>
</li>
<li class="level1">
<div class="li"> Sebastian Majstorovic</div>
</li>
<li class="level1">
<div class="li"> Philipp Sümmermann</div>
</li>
<li class="level1">
<div class="li"> Leonardo Di Lella (<a href="http://www.dilella.org" class="urlextern" title="http://www.dilella.org" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Schorsch Leciejewski <a href="http://blog.mediaprojekte.de/" class="urlextern" title="http://blog.mediaprojekte.de/" rel="nofollow">Blog</a>
</div>
</li>
<li class="level1">
<div class="li"> Ole Wiemeler <a href="http://blog.mediaprojekte.de/" class="urlextern" title="http://blog.mediaprojekte.de/" rel="nofollow">Blog</a>
</div>
</li>
<li class="level1">
<div class="li"> Georg Ledermann <a href="http://www.dipl-wirt-inf.de" class="urlextern" title="http://www.dipl-wirt-inf.de" rel="nofollow">Blog</a>
</div>
</li>
<li class="level1">
<div class="li"> Stephan Pavlovic (<a href="https://www.xing.com/profile/Stephan_Pavlovic/" class="urlextern" title="https://www.xing.com/profile/Stephan_Pavlovic/" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Stefan Evertz (<a href="https://www.xing.com/profile/Stefan_Evertz/" class="urlextern" title="https://www.xing.com/profile/Stefan_Evertz/" rel="nofollow">XING</a>, <a href="http://www.hirnrinde.de/" class="urlextern" title="http://www.hirnrinde.de/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Philipp Friesen (<a href="https://www.xing.com/profile/Philipp_Friesen2/" class="urlextern" title="https://www.xing.com/profile/Philipp_Friesen2/" rel="nofollow">XING</a> <a href="https://www.popula.de" class="urlextern" title="https://www.popula.de" rel="nofollow">popula</a>) </div>
</li>
<li class="level1">
<div class="li"> David Keuenhof (<a href="https://www.xing.com/profile/David_Keuenhof/" class="urlextern" title="https://www.xing.com/profile/David_Keuenhof/" rel="nofollow">XING</a> <a href="https://www.popula.de" class="urlextern" title="https://www.popula.de" rel="nofollow">popula</a>) </div>
</li>
<li class="level1">
<div class="li"> Marcella Gäb (<a href="http://www.openinnovations.de" class="urlextern" title="http://www.openinnovations.de" rel="nofollow">Open Innovation</a>, <a href="https://www.xing.com/profile/Marcella_Gaeb/" class="urlextern" title="https://www.xing.com/profile/Marcella_Gaeb/" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Maggie Koch-Spoo (<a href="https://www.xing.com/profile/Maggie_KochSpoo/" class="urlextern" title="https://www.xing.com/profile/Maggie_KochSpoo/" rel="nofollow">XING</a>, <a href="http://www.hochzeit-premium.de" class="urlextern" title="http://www.hochzeit-premium.de" rel="nofollow">Hochzeit Premium</a>)</div>
</li>
<li class="level1">
<div class="li"> Detlev Haag (<a href="http://www.linkedin.com/in/detlevhaag" class="urlextern" title="http://www.linkedin.com/in/detlevhaag" rel="nofollow">LinkedIn</a>,<a href="https://www.xing.com/profile/Detlev_Haag" class="urlextern" title="https://www.xing.com/profile/Detlev_Haag" rel="nofollow">XING</a>, <a href="http://www.darearts.net" class="urlextern" title="http://www.darearts.net" rel="nofollow">Darearts</a>,<a href="http://www.natadd.com" class="urlextern" title="http://www.natadd.com" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Cedric May (<a href="https://www.xing.com/profile/Cedric_May" class="urlextern" title="https://www.xing.com/profile/Cedric_May" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Jérôme Patt (<a href="https://www.xing.com/profile/Jerome_Patt" class="urlextern" title="https://www.xing.com/profile/Jerome_Patt" rel="nofollow">XING</a>) </div>
</li>
<li class="level1">
<div class="li"> Martin Donath (<a href="https://www.xing.com/profile/Martin_Donath" class="urlextern" title="https://www.xing.com/profile/Martin_Donath" rel="nofollow">XING</a>) </div>
</li>
<li class="level1">
<div class="li"> Torsten Kleinz</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/jan_kus" class="wikilink1" title="person:jan_kus">jan_kus</a> (<a href="https://www.xing.com/profile/Jan_Kus" class="urlextern" title="https://www.xing.com/profile/Jan_Kus" rel="nofollow">XING</a>, <a href="http://www.railslove.com/" class="urlextern" title="http://www.railslove.com/" rel="nofollow">railslove</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/tim_schneider" class="wikilink1" title="person:tim_schneider">tim_schneider</a>
</div>
</li>
<li class="level1">
<div class="li"> Anh Tu, Sam (<a href="https://www.xing.com/profile/AnhTu_Sam" class="urlextern" title="https://www.xing.com/profile/AnhTu_Sam" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Lars Inselmann (<a href="https://www.xing.com/profile/lars_inselmann" class="urlextern" title="https://www.xing.com/profile/lars_inselmann" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Gregor Anders</div>
</li>
<li class="level1">
<div class="li"> Michael Wand</div>
</li>
<li class="level1">
<div class="li"> Daniel Doege (<a href="https://www.xing.com/profile/Daniel_Doege" class="urlextern" title="https://www.xing.com/profile/Daniel_Doege" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Markus Schulte (<a href="https://www.xing.com/profile/Markus_Schulte27" class="urlextern" title="https://www.xing.com/profile/Markus_Schulte27" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Stefan Bales (<a href="https://www.xing.com/profile/Stefan_Bales" class="urlextern" title="https://www.xing.com/profile/Stefan_Bales" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Verena Gemmel (<a href="https://www.xing.com/profile/Verena_Gemmel" class="urlextern" title="https://www.xing.com/profile/Verena_Gemmel" rel="nofollow">XING</a>, <a href="http://www.mallorca-today.de/" class="urlextern" title="http://www.mallorca-today.de/" rel="nofollow">Mallorca-today.de</a>)</div>
</li>
<li class="level1">
<div class="li"> Ethem Küçük (<a href="https://www.xing.com/profile/Ethem_Kuecuek" class="urlextern" title="https://www.xing.com/profile/Ethem_Kuecuek" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Dirk Breuer (<a href="http://www.railsbros.de" class="urlextern" title="http://www.railsbros.de" rel="nofollow">RailsBros</a>)</div>
</li>
<li class="level1">
<div class="li"> Thomas Biesenbach (<a href="https://www.xing.com/profile/Thomas_Biesenbach" class="urlextern" title="https://www.xing.com/profile/Thomas_Biesenbach" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Tina Bungert (<a href="https://www.xing.com/profile/Tina_Bungert" class="urlextern" title="https://www.xing.com/profile/Tina_Bungert" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Sandra Troegl (<a href="https://www.xing.com/profile/SandraDiana_Troegl" class="urlextern" title="https://www.xing.com/profile/SandraDiana_Troegl" rel="nofollow">XING</a>, <a href="http://www.armedangels.de" class="urlextern" title="http://www.armedangels.de" rel="nofollow">armedangels</a>)</div>
</li>
<li class="level1">
<div class="li"> Frank Langel (<a href="http://www.ayee.de" class="urlextern" title="http://www.ayee.de" rel="nofollow">http://www.ayee.de</a>)</div>
</li>
<li class="level1">
<div class="li"> Marius Mailat (<a href="http://www.submitsuite.de" class="urlextern" title="http://www.submitsuite.de" rel="nofollow">Submit Suite Suchmaschinenoptimierung</a>)</div>
</li>
<li class="level1">
<div class="li"> Cristina Mailat (<a href="http://www.submitsuite.de" class="urlextern" title="http://www.submitsuite.de" rel="nofollow">Submit Suite Suchmaschinenoptimierung</a>)</div>
</li>
</ol>

</div>
<!-- EDIT9 SECTION "Teilnehmer / Participants" [3105-7340] -->
<h1 class="sectionedit10" id="vielleichtmaybe">Vielleicht / Maybe</h1>
<div class="level1">

<p>
<em>Ich würde gerne vorbeischaun, weiß aber noch nicht hundertprozentig, ob es an dem Tag wirklich klappt. Bitte ein paar Tage vor Termin nochmal das Wiki aufsuchen und nach Möglichkeit entweder fest zusagen (Eintrag als Teilnehmer) oder absagen (Eintrag als Zuschauer). Danke!</em>
</p>
<ol>
<li class="level1">
<div class="li"> Thomas Schulze <a href="http://www.spirofrog.de" class="urlextern" title="http://www.spirofrog.de" rel="nofollow">Karriere Portal</a>
</div>
</li>
<li class="level1">
<div class="li"> Mark Gössel <a href="http://www.cleantech-europe.com" class="urlextern" title="http://www.cleantech-europe.com" rel="nofollow"> Cleantech</a>
</div>
</li>
<li class="level1">
<div class="li"> Jochen Herkenrath, <a href="https://www.xing.com/profile/Jochen_Herkenrath" class="urlextern" title="https://www.xing.com/profile/Jochen_Herkenrath" rel="nofollow">XING</a>
</div>
</li>
<li class="level1">
<div class="li"> Petra Boller <a href="http://www.xing.com/profile/Petra_Boller" class="urlextern" title="http://www.xing.com/profile/Petra_Boller" rel="nofollow">XING</a>
</div>
</li>
<li class="level1">
<div class="li"> Dominik Amshoff <a href="https://www.xing.com/profile/Dominik_Amshoff" class="urlextern" title="https://www.xing.com/profile/Dominik_Amshoff" rel="nofollow">XING</a>
</div>
</li>
<li class="level1">
<div class="li"> Christian Dahlhausen <a href="https://www.xing.com/profile/Christian_Dahlhausen" class="urlextern" title="https://www.xing.com/profile/Christian_Dahlhausen" rel="nofollow">XING</a>
</div>
</li>
<li class="level1">
<div class="li"> Tim Bruysten <a href="http://bruysten.com" class="urlextern" title="http://bruysten.com" rel="nofollow">blog</a> <a href="https://www.xing.com/profile/Tim_Bruysten" class="urlextern" title="https://www.xing.com/profile/Tim_Bruysten" rel="nofollow">XING</a>
</div>
</li>
<li class="level1">
<div class="li"> Stefan Pohl <a href="http://www.dieGruender.Net" class="urlextern" title="http://www.dieGruender.Net" rel="nofollow">Gruenderwochenende</a>
</div>
</li>
<li class="level1">
<div class="li"> Nico Zorn (<a href="https://www.xing.com/profile/Nico_Zorn" class="urlextern" title="https://www.xing.com/profile/Nico_Zorn" rel="nofollow">XING</a>, <a href="http://www.produki.de" class="urlextern" title="http://www.produki.de" rel="nofollow">produki</a>)</div>
</li>
<li class="level1">
<div class="li"> Johan Rhodin (<a href="https://www.xing.com/profile/Johan_Rhodin" class="urlextern" title="https://www.xing.com/profile/Johan_Rhodin" rel="nofollow">XING</a>, <a href="http://rhodin.wordpress.com" class="urlextern" title="http://rhodin.wordpress.com" rel="nofollow">blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Thomas Lang (<a href="https://www.xing.com/profile/Thomas_Lang" class="urlextern" title="https://www.xing.com/profile/Thomas_Lang" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Martin Wisniowski (<a href="http://www.phlow-magazine.com" class="urlextern" title="http://www.phlow-magazine.com" rel="nofollow">Phlow</a>, <a href="http://node3000.com" class="urlextern" title="http://node3000.com" rel="nofollow">node3000</a>)</div>
</li>
<li class="level1">
<div class="li"> Peter Giesecke (<a href="http://www.pocketbrain.de" class="urlextern" title="http://www.pocketbrain.de" rel="nofollow">Pocketbrain</a>, <a href="http://www.netzausfall.de" class="urlextern" title="http://www.netzausfall.de" rel="nofollow">Netzausfall</a>)</div>
</li>
<li class="level1">
<div class="li"> Bastian Waidelich (<a href="https://www.xing.com/profile/Bastian_Waidelich" class="urlextern" title="https://www.xing.com/profile/Bastian_Waidelich" rel="nofollow">XING</a>)</div>
</li>
<li class="level1">
<div class="li"> Dominik Schwind(<a href="http://www.lostfocus.de" class="urlextern" title="http://www.lostfocus.de" rel="nofollow">Hello Kitty Massacre Extravaganza</a>)</div>
</li>
</ol>

</div>
<!-- EDIT10 SECTION "Vielleicht / Maybe" [7341-8908] -->
<h1 class="sectionedit11" id="zuschaueraudience">Zuschauer / Audience</h1>
<div class="level1">

<p>
<em>Ich kann leider nicht vor Ort dabei sein, werde den Abend jedoch aus der Distanz online verfolgen.</em>
</p>
<ol>
<li class="level1">
<div class="li"> Dein Name, Dein Internet </div>
</li>
</ol>

</div>
<!-- EDIT11 SECTION "Zuschauer / Audience" [8909-9080] -->
<h1 class="sectionedit12" id="tagging">Tagging</h1>
<div class="level1">

<p>
<em>Bitte Technorati, Ipernity, Wevent, Flickr, Del.icio.us u.ä. mit <strong>webmontag</strong> und <strong>webmontag20080505</strong> taggen!</em>
</p>

</div>
<!-- EDIT12 SECTION "Tagging" [9081-9223] -->
<h1 class="sectionedit13" id="echo">Echo</h1>
<div class="level1">

<p>
<em>Wie wars? Wer sagt was wann wo zum Kölner Webmontag.</em>
</p>
<ul>
<li class="level1">
<div class="li"> <a href="http://lootogo.blogspot.com/2008/05/14-webmontag-in-kln-rckblick.html" class="urlextern" title="http://lootogo.blogspot.com/2008/05/14-webmontag-in-kln-rckblick.html" rel="nofollow">http://lootogo.blogspot.com/2008/05/14-webmontag-in-kln-rckblick.html</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.flickr.com/photos/planspark/sets/72157604919949855/" class="urlextern" title="http://www.flickr.com/photos/planspark/sets/72157604919949855/" rel="nofollow">http://www.flickr.com/photos/planspark/sets/72157604919949855/</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.hirnrinde.de/index.php/2008/05/08/webmontag-14-in-koeln-und-wann-in-essen/" class="urlextern" title="http://www.hirnrinde.de/index.php/2008/05/08/webmontag-14-in-koeln-und-wann-in-essen/" rel="nofollow">http://www.hirnrinde.de/index.php/2008/05/08/webmontag-14-in-koeln-und-wann-in-essen/</a>
</div>
</li>
</ul>

</div>
<!-- EDIT13 SECTION "Echo" [9224-9534] -->
<h1 class="sectionedit14" id="feedback">Feedback</h1>
<div class="level1">

<p>
<em>Was können wir besser machen, was läuft gut, was weniger gut? </em>
</p>
<ul>
<li class="level1">
<div class="li"> Soweit wie ich das mitbekommen habe, gab es einige Probleme mit dem WLAN. Vielleicht kann man das mal überprüfen und ggf. eine Lösung finden. (Cedric May)</div>
</li>
</ul>

</div>
<!-- EDIT14 SECTION "Feedback" [9535-] -->