---
:name: Webmontag
:title: 21. Webmontag
:url: http://webmontag-koeln.de/events/2010-01-18
:image: http://webmontag-koeln.de/assets/images/logo.png
:description: Web Monday is an informal, non-commercial, and completely community-driven
  event that aims to connect the people who are shaping the future of the internet.
  Inspired by the culture of Silicon Valley, it started out in Cologne, Germany in
  late 2005 in an effort to help spread those sunny California vibes.
:startDate: 2010-01-18T19:00
:endDate: 2010-01-18T21:00
:performer:
  :name: " "
:location:
  :name: Die Wohngemeinschaft - Theater
  :address:
    :streetAddress: Richard-Wagner-Straße 39
    :postalCode: '50674'
    :addressLocality: Cologne
    :addressCountry:
      :name: Germany
:offers:
  :url: http://webmontag-koeln.de/events/2010-01-18
---
<p>
<em>Neu beim Web Montag?  Ein Blick auf die <a href="/location/koeln/web_montag" class="wikilink2" title="location:koeln:web_montag" rel="nofollow">FAQ</a> gibt einen guten ersten Überblick, wie das Ganze funktioniert.</em>
</p>

<p>
Erneut die Bitte: Nutzt die “Edit summary” mit einem Stichwort wie “neuer Teilnehmer”, “+TN” o. ä. - Danke
</p>

<h1 class="sectionedit1" id="introduction">Introduction</h1>
<div class="level1">

<p>
Diese Seite befasst sich mit den Inhalten und der Organisation des 21. Webmontags in Köln. Eine Übersicht über den <a href="/location/koeln/index" class="wikilink1" title="location:koeln:index">Kölner Webmontag</a> findet sich auf einer separaten Seite.
</p>

</div>
<!-- EDIT1 SECTION "Introduction" [250-463] -->
<h1 class="sectionedit2" id="archiv">Archiv</h1>
<div class="level1">

<p>
Das <a href="/location/koeln/index" class="wikilink1" title="location:koeln:index">Kölner Archiv</a> befindet sich auf einer separaten Seite.
</p>

</div>
<!-- EDIT2 SECTION "Archiv" [464-556] -->
<h1 class="sectionedit3" id="wannwhen">Wann / When</h1>
<div class="level1">

<p>
Termin: <strong>18.01.2010</strong> - vom Spielplatz zugesagt - Rene
</p>

<p>
Termin bei <a href="https://www.xing.com/events/21-webmontag-koln-444650" class="urlextern" title="https://www.xing.com/events/21-webmontag-koln-444650" rel="nofollow">XING</a> und <a href="http://upcoming.yahoo.com/event/5049386/NRW/Kln/21-Webmontag-Kln/Spielplatz/" class="urlextern" title="http://upcoming.yahoo.com/event/5049386/NRW/Kln/21-Webmontag-Kln/Spielplatz/" rel="nofollow">upcoming</a> (<del><a href="http://venteria.com/events/54167-Webmontag-Koeln-14" class="urlextern" title="http://venteria.com/events/54167-Webmontag-Koeln-14" rel="nofollow">venteria</a></del> muss noch aktualisiert werden)
</p>

</div>
<!-- EDIT3 SECTION "Wann / When" [557-917] -->
<h1 class="sectionedit4" id="wowhere">Wo / Where</h1>
<div class="level1">

<p>
Spielplatz<br>

Ubierring 58<br>

50678 Köln (Südstadt)<br>

fon: 0221-314750<br>

<a href="http://www.spielplatz-lokal.de" class="urlextern" title="http://www.spielplatz-lokal.de" rel="nofollow">http://www.spielplatz-lokal.de</a><br>

<a href="http://www.webmontag.de/doku.php?id=locations#spielplatz" class="urlextern" title="http://www.webmontag.de/doku.php?id=locations#spielplatz" rel="nofollow">http://www.webmontag.de/doku.php?id=locations#spielplatz</a><br>

</p>

</div>
<!-- EDIT4 SECTION "Wo / Where" [918-1109] -->
<h1 class="sectionedit5" id="fragen_antwortenquestions_answers">Fragen &amp; Antworten / Questions &amp; Answers</h1>
<div class="level1">

<p>
<em>Hier Fragen klären (z.B. Aufzeichnung, Mitfahrgelegenheiten etc.).</em>
</p>
<ul>
<li class="level1">
<div class="li"> Wir haben: Leinwand, Beamer, Mikro, WLAN <br>
</div>
</li>
<li class="level1">
<div class="li"> Wir brauchen:  Audio- und Videoaufzeichnung <br>
</div>
</li>
<li class="level1">
<div class="li"> Bitte beachtet: Der Spielplatz liegt in der UMWELTZONE, d.h. ihr braucht eine Plakette fürs Auto. Nächste Bahnhaltestelle ist “Ubierring”.</div>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "Fragen & Antworten / Questions & Answers" [1110-1485] -->
<h1 class="sectionedit6" id="agenda">Agenda</h1>
<div class="level1">

</div>
<!-- EDIT6 SECTION "Agenda" [1486-1507] -->
<h2 class="sectionedit7" id="uhr_-_warmlaufennetworking">19.00 - 20.00 Uhr - Warmlaufen / Networking</h2>
<div class="level2">

<p>
<em>Ankommen.Tach sagen. Drinks bestellen.</em>
</p>

</div>
<!-- EDIT7 SECTION "19.00 - 20.00 Uhr - Warmlaufen / Networking" [1508-1608] -->
<h2 class="sectionedit8" id="uhr_-_praesentationen_demos">20.00 - 21.00 Uhr - Präsentationen, Demos</h2>
<div class="level2">

<p>
<em>Zeit für Demos jeweils ca. 5-10 Minuten. Kurz und knackige Appetithäppchen, interaktiv (genug Raum für Fragen, Diskussion). Notizen, Diskussionspunkte, Links etc. werden ins Wiki gepostet (Wi-Fi vorausgesetzt).</em>
</p>

<p>
Nur bei uns in Köln: JedeR Vortragende bekommt einen <a href="http://www.openmusiccontest.org" class="urlextern" title="http://www.openmusiccontest.org" rel="nofollow">Open Music Sampler</a> mit Creative Commons-lizenzierter Musik. <a href="http://der-albert.com/" class="urlextern" title="http://der-albert.com/" rel="nofollow">Albert Weinert</a> war so freundlich, uns dieses kleine Schmankerl zur Verfügung zu stellen.  
</p>
<ol>
<li class="level1">
<div class="li"> jQuery 1.4 - Jörn Zaefferer</div>
</li>
<li class="level1">
<div class="li"> - LEIDER MUSSTE ICH DIESEN TERMIN KURZFRISTIG ABSAGEN! SORRY! - What's next? Aktueller Stand “Internethauptstadt Köln” - Valentina Kerst</div>
</li>
<li class="level1">
<div class="li"> TV-Beitrag und nun? - Erfahrungsbericht - Christoph Beckmann - Präsentation: <a href="http://bit.ly/tv-beitrag" class="urlextern" title="http://bit.ly/tv-beitrag" rel="nofollow">http://bit.ly/tv-beitrag</a>
</div>
</li>
<li class="level1">
<div class="li"> Dein Thema: Deine Beschreibung  - Dein Name</div>
</li>
</ol>

</div>
<!-- EDIT8 SECTION "20.00 - 21.00 Uhr - Präsentationen, Demos" [1609-2513] -->
<h2 class="sectionedit9" id="open_end_-_shmoozing">21.00 - Open End - Shmoozing</h2>
<div class="level2">

<p>
<em>Reden, austauschen, diskutieren, trinken, whatever.</em>
</p>

</div>
<!-- EDIT9 SECTION "21.00 - Open End - Shmoozing" [2514-2611] -->
<h1 class="sectionedit10" id="teilnehmerparticipants">Teilnehmer / Participants</h1>
<div class="level1">

<p>
<em>Ich bin am Termin auf jeden Fall dabei!</em>
</p>
<ol>
<li class="level1">
<div class="li"> <a href="http://bredlau.org/rene" class="urlextern" title="http://bredlau.org/rene" rel="nofollow">Rene Bredlau</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://twitter.com/danielhepper" class="urlextern" title="http://twitter.com/danielhepper" rel="nofollow">Daniel Hepper</a>
</div>
</li>
<li class="level1">
<div class="li"> Christoph Beckmann <a href="http://www.lootogo.de" class="urlextern" title="http://www.lootogo.de" rel="nofollow">lootogo</a>, <a href="http://twitter.com/cbek" class="urlextern" title="http://twitter.com/cbek" rel="nofollow">@cbek</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://scompt.com" class="urlextern" title="http://scompt.com" rel="nofollow">Edward Dale</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://railslove.com" class="urlextern" title="http://railslove.com" rel="nofollow">Jan Kus</a>, <a href="http://twitter.com/koos" class="urlextern" title="http://twitter.com/koos" rel="nofollow">twitter</a>,<a href="https://www.xing.com/profile/Jan_Kus" class="urlextern" title="https://www.xing.com/profile/Jan_Kus" rel="nofollow">xing</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://kehrseite.de" class="urlextern" title="http://kehrseite.de" rel="nofollow">Markus Jakobs</a>,<a href="http://twitter.com/allenews" class="urlextern" title="http://twitter.com/allenews" rel="nofollow">twitter</a>,<a href="http://eee.am/kehrseite" class="urlextern" title="http://eee.am/kehrseite" rel="nofollow">mynameise</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.soulworks.de" class="urlextern" title="http://www.soulworks.de" rel="nofollow">Christian Schmitz</a>, <a href="http://twitter.com/tc77" class="urlextern" title="http://twitter.com/tc77" rel="nofollow">Twitter</a>, <a href="https://www.xing.com/profile/Christian_Schmitz32" class="urlextern" title="https://www.xing.com/profile/Christian_Schmitz32" rel="nofollow">Xing</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.lars-inselmann.de" class="urlextern" title="http://www.lars-inselmann.de" rel="nofollow">Lars Inselmann</a>, <a href="http://twitter.com/lars_inselmann" class="urlextern" title="http://twitter.com/lars_inselmann" rel="nofollow">Twitter</a>, <a href="https://www.xing.com/profile/lars_inselmann" class="urlextern" title="https://www.xing.com/profile/lars_inselmann" rel="nofollow">Xing</a>
</div>
</li>
<li class="level1">
<div class="li"> Hannes Yelmsen <a href="http://www.twitter.com/Deine_Mutter_" class="urlextern" title="http://www.twitter.com/Deine_Mutter_" rel="nofollow">Twitter</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://ethem.wordpress.com" class="urlextern" title="http://ethem.wordpress.com" rel="nofollow">Ethem Küçük</a> <a href="http://twitter.com/ethem" class="urlextern" title="http://twitter.com/ethem" rel="nofollow">Twitter</a> <a href="https://www.xing.com/profile/Ethem_Kuecuek" class="urlextern" title="https://www.xing.com/profile/Ethem_Kuecuek" rel="nofollow">Xing</a>
</div>
</li>
<li class="level1">
<div class="li"> Michael Pütz <a href="http://www.millepondo.de" class="urlextern" title="http://www.millepondo.de" rel="nofollow">Internetagentur Köln</a>
</div>
</li>
<li class="level1">
<div class="li"> Stephan Pavlovic <a href="http://www.twitter.com/stephanpavlovic" class="urlextern" title="http://www.twitter.com/stephanpavlovic" rel="nofollow">Twitter</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.luna-park.de/wir-ueber-uns/unser-team/markus-vollmert.html" class="urlextern" title="http://www.luna-park.de/wir-ueber-uns/unser-team/markus-vollmert.html" rel="nofollow">Markus Vollmert</a> <a href="https://www.xing.com/profile/Markus_Vollmert" class="urlextern" title="https://www.xing.com/profile/Markus_Vollmert" rel="nofollow">Xing</a>, <a href="http://twitter.com/markusvollmert" class="urlextern" title="http://twitter.com/markusvollmert" rel="nofollow">twitter</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://pulse-o-meter.com" class="urlextern" title="http://pulse-o-meter.com" rel="nofollow">Bernd Bächle</a>,<a href="https://www.xing.com/profile/Bernd_Baechle" class="urlextern" title="https://www.xing.com/profile/Bernd_Baechle" rel="nofollow">xing</a>
</div>
</li>
<li class="level1">
<div class="li"> Valentina Kerst <a href="https://www.xing.com/profile/Valentina_Kerst" class="urlextern" title="https://www.xing.com/profile/Valentina_Kerst" rel="nofollow">xing</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://twitter.com/bassistance" class="urlextern" title="http://twitter.com/bassistance" rel="nofollow">Jörn Zaefferer</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://twitter.com/enesf" class="urlextern" title="http://twitter.com/enesf" rel="nofollow">Enes Fazli</a>
</div>
</li>
<li class="level1">
<div class="li"> Lars Ötermann <a href="https://www.xing.com/profile/Lars_Oetermann" class="urlextern" title="https://www.xing.com/profile/Lars_Oetermann" rel="nofollow">Xing</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.david-neu.de/" class="urlextern" title="http://www.david-neu.de/" rel="nofollow">David Neu</a>, <a href="https://www.xing.com/profile/david_neu2" class="urlextern" title="https://www.xing.com/profile/david_neu2" rel="nofollow">Xing</a>
</div>
</li>
<li class="level1">
<div class="li"> Sebastian Cohnen, <a href="https://www.xing.com/profile/Sebastian_Cohnen2" class="urlextern" title="https://www.xing.com/profile/Sebastian_Cohnen2" rel="nofollow">Xing</a>, <a href="https://twitter.com/tisba" class="urlextern" title="https://twitter.com/tisba" rel="nofollow">@tisba</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.bindermichi.de" class="urlextern" title="http://www.bindermichi.de" rel="nofollow">Mirco Wilhelm</a>, <a href="https://www.xing.com/profile/Mirco_Wilhelm" class="urlextern" title="https://www.xing.com/profile/Mirco_Wilhelm" rel="nofollow">Xing</a>, <a href="https://twitter.com/bindermichi" class="urlextern" title="https://twitter.com/bindermichi" rel="nofollow">@bindermichi</a>
</div>
</li>
<li class="level1">
<div class="li"> Lars Brillert</div>
</li>
<li class="level1">
<div class="li"> <a href="http://stephanbock.com/" class="urlextern" title="http://stephanbock.com/" rel="nofollow">Stephan Bock</a>, <a href="http://twitter.com/stephanbock" class="urlextern" title="http://twitter.com/stephanbock" rel="nofollow">twitter</a>,<a href="https://www.xing.com/profile/Stephan_Bock2" class="urlextern" title="https://www.xing.com/profile/Stephan_Bock2" rel="nofollow">Xing</a>
</div>
</li>
<li class="level1">
<div class="li"> Marco Steffen, <a href="https://www.xing.com/profile/Marco_Steffen4" class="urlextern" title="https://www.xing.com/profile/Marco_Steffen4" rel="nofollow">Xing</a>
</div>
</li>
<li class="level1">
<div class="li"> Robert C. Mendez <a href="http://robertmendez.de/" class="urlextern" title="http://robertmendez.de/" rel="nofollow">robertmendez.de</a>
</div>
</li>
<li class="level1">
<div class="li"> Matthias Holstein,<a href="http://www.zaplive.tv/" class="urlextern" title="http://www.zaplive.tv/" rel="nofollow">www.zaplive.tv</a>, <a href="http://twitter.com/netbrain" class="urlextern" title="http://twitter.com/netbrain" rel="nofollow">@netbrain</a>
</div>
</li>
<li class="level1">
<div class="li"> Manuel Koelman <a href="http://23moments.com/" class="urlextern" title="http://23moments.com/" rel="nofollow">23 moments</a>, <a href="http://twitter.com/manuelkoelman" class="urlextern" title="http://twitter.com/manuelkoelman" rel="nofollow">@manuelkoelman</a>
</div>
</li>
<li class="level1">
<div class="li"> Philipp Strube <a href="http://cloudcontrol.de/" class="urlextern" title="http://cloudcontrol.de/" rel="nofollow">cloudControl</a>, <a href="http://twitter.com/pst555" class="urlextern" title="http://twitter.com/pst555" rel="nofollow">@pst555</a>
</div>
</li>
<li class="level1">
<div class="li"> Michael Bumann <a href="http://twitter.com/bumi" class="urlextern" title="http://twitter.com/bumi" rel="nofollow">@bumi</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://pulse-o-meter.com" class="urlextern" title="http://pulse-o-meter.com" rel="nofollow">Rafael Otero</a>,<a href="https://www.xing.com/profile/Rafael_Otero" class="urlextern" title="https://www.xing.com/profile/Rafael_Otero" rel="nofollow">xing</a>
</div>
</li>
<li class="level1">
<div class="li"> Tobias Wilken <a href="http://cloudcontrol.de/" class="urlextern" title="http://cloudcontrol.de/" rel="nofollow">cloudControl</a>, <a href="http://twitter.com/tooangel" class="urlextern" title="http://twitter.com/tooangel" rel="nofollow">@tooangel</a>
</div>
</li>
<li class="level1">
<div class="li"> Oliver Thylmann <a href="http://thylmann.net/" class="urlextern" title="http://thylmann.net/" rel="nofollow">www</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://msh.net" class="urlextern" title="http://msh.net" rel="nofollow">Jürgen Walleneit</a>, <a href="http://twitter.com/Walljet" class="urlextern" title="http://twitter.com/Walljet" rel="nofollow">twitter</a>,<a href="https://www.xing.com/profile/Juergen_Walleneit" class="urlextern" title="https://www.xing.com/profile/Juergen_Walleneit" rel="nofollow">xing</a>
</div>
</li>
</ol>

</div>
<!-- EDIT10 SECTION "Teilnehmer / Participants" [2612-5795] -->
<h1 class="sectionedit11" id="vielleichtmaybe">Vielleicht / Maybe</h1>
<div class="level1">

<p>
<em>Ich würde gerne vorbeischaun, weiß aber noch nicht hundertprozentig, ob es an dem Tag wirklich klappt. Bitte ein paar Tage vor Termin nochmal das Wiki aufsuchen und nach Möglichkeit entweder fest zusagen (Eintrag als Teilnehmer) oder absagen (Eintrag als Zuschauer). Danke!</em>
</p>
<ol>
<li class="level1">
<div class="li"> <a href="http://selfish.org/" class="urlextern" title="http://selfish.org/" rel="nofollow">Norbert Hartl</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://oma-blog.de" class="urlextern" title="http://oma-blog.de" rel="nofollow">Oliver Steiner</a>, <a href="http://twitter.com/soliver" class="urlextern" title="http://twitter.com/soliver" rel="nofollow">twitter</a>,<a href="https://www.xing.com/profile/Oliver_Steiner" class="urlextern" title="https://www.xing.com/profile/Oliver_Steiner" rel="nofollow">Xing</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://maxtillich.com" class="urlextern" title="http://maxtillich.com" rel="nofollow">Max Tillich</a>, <a href="http://twitter.com/maxtillich" class="urlextern" title="http://twitter.com/maxtillich" rel="nofollow">twitter</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://philippmoehring.de" class="urlextern" title="http://philippmoehring.de" rel="nofollow">Philipp Moehring</a>, <a href="http://twitter.com/pmoehring" class="urlextern" title="http://twitter.com/pmoehring" rel="nofollow">twitter</a> - leider doch nicht. </div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.kasa-amend.com/" class="urlextern" title="http://www.kasa-amend.com/" rel="nofollow">Kasa Amend</a>, <a href="http://twitter.com/paperama" class="urlextern" title="http://twitter.com/paperama" rel="nofollow">twitter</a>,<a href="https://www.xing.com/profile/KathrinSarah_Amend" class="urlextern" title="https://www.xing.com/profile/KathrinSarah_Amend" rel="nofollow">Xing</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.urbia.de/" class="urlextern" title="http://www.urbia.de/" rel="nofollow">Tobias Kremer</a>, <a href="https://www.xing.com/profile/Tobias_Kremer" class="urlextern" title="https://www.xing.com/profile/Tobias_Kremer" rel="nofollow">Xing</a>
</div>
</li>
<li class="level1">
<div class="li"> Klaus Bringmann <a href="http://twitter.com/miezhaus" class="urlextern" title="http://twitter.com/miezhaus" rel="nofollow">@miezhaus</a>
</div>
</li>
</ol>

</div>
<!-- EDIT11 SECTION "Vielleicht / Maybe" [5796-6798] -->
<h1 class="sectionedit12" id="zuschaueraudience">Zuschauer / Audience</h1>
<div class="level1">

<p>
<em>Ich kann leider nicht vor Ort dabei sein, werde den Abend jedoch aus der Distanz online verfolgen.</em>
</p>
<ol>
<li class="level1">
<div class="li"> <a href="/person/tobias_jordans" class="wikilink1" title="person:tobias_jordans">Tobias Jordans</a>
</div>
</li>
<li class="level1">
<div class="li"> Dominik Schwind <a href="http://www.hello-kitty-massacre-extravaganza.com/" class="urlextern" title="http://www.hello-kitty-massacre-extravaganza.com/" rel="nofollow">Hello Kitty Massacre Extravaganza</a>, <a href="https://twitter.com/dominik" class="urlextern" title="https://twitter.com/dominik" rel="nofollow">@dominik</a>
</div>
</li>
<li class="level1">
<div class="li"> Dein Name, Dein Internet </div>
</li>
</ol>

</div>
<!-- EDIT12 SECTION "Zuschauer / Audience" [6799-7167] -->
<h1 class="sectionedit13" id="tagging">Tagging</h1>
<div class="level1">

<p>
<em>Bitte Technorati, Ipernity, Wevent, Flickr, Del.icio.us u.ä. mit <strong>webmontag</strong> und <strong>webmontag20100118</strong> taggen!</em>
</p>

</div>
<!-- EDIT13 SECTION "Tagging" [7168-7310] -->
<h1 class="sectionedit14" id="echo">Echo</h1>
<div class="level1">

<p>
<em>Wie wars? Wer sagt was wann wo zum Kölner Webmontag.</em>
</p>

</div>
<!-- EDIT14 SECTION "Echo" [7311-7389] -->
<h1 class="sectionedit15" id="feedback">Feedback</h1>
<div class="level1">

<p>
<em>Was können wir besser machen, was läuft gut, was weniger gut? </em>
</p>

</div>
<!-- EDIT15 SECTION "Feedback" [7390-] -->