<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>
<p>
<em>Neu beim Web Montag?  Ein Blick auf die <a href="/location/koeln/web_montag" class="wikilink2" title="location:koeln:web_montag" rel="nofollow">FAQ</a> gibt einen guten ersten Überblick, wie das Ganze funktioniert.</em>
</p>

<p>
Erneut die Bitte: Nutzt die “Edit summary” mit einem Stichwort wie “neuer Teilnehmer”, “+TN” o. ä. - Danke
</p>

<h1 class="sectionedit1" id="introduction">Introduction</h1>
<div class="level1">

<p>
Diese Seite befasst sich mit den Inhalten und der Organisation des 23. Webmontags in Köln. Eine Übersicht über den <a href="/location/koeln/index" class="wikilink1" title="location:koeln:index">Kölner Webmontag</a> findet sich auf einer separaten Seite.
</p>

</div>
<!-- EDIT1 SECTION "Introduction" [250-463] -->
<h1 class="sectionedit2" id="archiv">Archiv</h1>
<div class="level1">

<p>
Das <a href="/location/koeln/index" class="wikilink1" title="location:koeln:index">Kölner Archiv</a> befindet sich auf einer separaten Seite.
</p>

</div>
<!-- EDIT2 SECTION "Archiv" [464-556] -->
<h1 class="sectionedit3" id="wannwhen">Wann / When</h1>
<div class="level1">

<p>
Termin: <strong>13.09.2010</strong> - vom Spielplatz zugesagt - Jan
</p>

</div>
<!-- EDIT3 SECTION "Wann / When" [557-638] -->
<h1 class="sectionedit4" id="wowhere">Wo / Where</h1>
<div class="level1">

<p>
Spielplatz<br>

Ubierring 58<br>

50678 Köln (Südstadt)<br>

fon: 0221-2508294<br>

<a href="http://www.spielplatz-lokal.de" class="urlextern" title="http://www.spielplatz-lokal.de" rel="nofollow">http://www.spielplatz-lokal.de</a><br>

<a href="http://www.webmontag.de/doku.php?id=locations#spielplatz" class="urlextern" title="http://www.webmontag.de/doku.php?id=locations#spielplatz" rel="nofollow">http://www.webmontag.de/doku.php?id=locations#spielplatz</a><br>

</p>

</div>
<!-- EDIT4 SECTION "Wo / Where" [639-831] -->
<h1 class="sectionedit5" id="fragen_antwortenquestions_answers">Fragen &amp; Antworten / Questions &amp; Answers</h1>
<div class="level1">

<p>
<em>Hier Fragen klären (z.B. Aufzeichnung, Mitfahrgelegenheiten etc.).</em>
</p>
<ul>
<li class="level1">
<div class="li"> Wir haben: Leinwand, Mikro, Beamer (wird wie immer vom Spielplatz gestellt (Rene), WLAN <br>
</div>
</li>
<li class="level1">
<div class="li"> Wir brauchen:  Audio- und Videoaufzeichnung <br>
</div>
</li>
<li class="level1">
<div class="li"> Bitte beachtet: Der Spielplatz liegt in der UMWELTZONE, d.h. ihr braucht eine Plakette fürs Auto. Nächste Bahnhaltestelle ist “Ubierring”.</div>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "Fragen & Antworten / Questions & Answers" [832-1255] -->
<h1 class="sectionedit6" id="agenda">Agenda</h1>
<div class="level1">

</div>
<!-- EDIT6 SECTION "Agenda" [1256-1277] -->
<h2 class="sectionedit7" id="uhr_-_warmlaufennetworking">19.00 - 20.00 Uhr - Warmlaufen / Networking</h2>
<div class="level2">

<p>
<em>Ankommen.Tach sagen. Drinks bestellen.</em>
</p>

</div>
<!-- EDIT7 SECTION "19.00 - 20.00 Uhr - Warmlaufen / Networking" [1278-1378] -->
<h2 class="sectionedit8" id="uhr_-_praesentationen_demos">20.00 - 21.00 Uhr - Präsentationen, Demos</h2>
<div class="level2">

<p>
<em>Zeit für Demos jeweils ca. 5-10 Minuten. Kurz und knackige Appetithäppchen, interaktiv (genug Raum für Fragen, Diskussion). Notizen, Diskussionspunkte, Links etc. werden ins Wiki gepostet (Wi-Fi vorausgesetzt).</em>
</p>
<ol>
<li class="level1">
<div class="li"> DevHouseFriday <a href="http://popula.de/veranstaltung/484757_devhousefriday-coworking-cologne-gasmotorenfabrik-koeln" class="urlextern" title="http://popula.de/veranstaltung/484757_devhousefriday-coworking-cologne-gasmotorenfabrik-koeln" rel="nofollow">DevHouseFriday</a> - Was ist das? <a href="http://www.railslove.com" class="urlextern" title="http://www.railslove.com" rel="nofollow">railslove</a>, <a href="http://twitter.com/koos" class="urlextern" title="http://twitter.com/koos" rel="nofollow">@koos</a>
</div>
</li>
<li class="level1">
<div class="li"> Vorstellung von <a href="http://stayscout.de" class="urlextern" title="http://stayscout.de" rel="nofollow">StayScout</a>, einem Netzwerk für ehemalige und aktive Pfadfinder (ehrenamtliches Projekt, Rails), Tobias Jordans</div>
</li>
<li class="level1">
<div class="li"> TalkShow: eine iPhone App zur Protokollierung von Gesprächssituationen im Berufsalltag, Thomas Heß, <a href="http://www.thomashess.net/?p=91" class="urlextern" title="http://www.thomashess.net/?p=91" rel="nofollow">http://www.thomashess.net/?p=91</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.twitter.com/Deine_Mutter_" class="urlextern" title="http://www.twitter.com/Deine_Mutter_" rel="nofollow">Deine Mutter</a> - Vom Straßenslang zur App, <a href="http://www.twitter.com/YeLmde" class="urlextern" title="http://www.twitter.com/YeLmde" rel="nofollow">YeLmde</a>
</div>
</li>
<li class="level1">
<div class="li"> OnPage Tutorials <a href="http://github.com/salesking/king_tour" class="urlextern" title="http://github.com/salesking/king_tour" rel="nofollow">KingTour</a>  - <a href="https://www.salesking.eu" class="urlextern" title="https://www.salesking.eu" rel="nofollow">Georg Leciejewski</a>
</div>
</li>
<li class="level1">
<div class="li"> …</div>
</li>
</ol>

</div>
<!-- EDIT8 SECTION "20.00 - 21.00 Uhr - Präsentationen, Demos" [1379-2432] -->
<h2 class="sectionedit9" id="open_end_-_shmoozing">21.00 - Open End - Shmoozing</h2>
<div class="level2">

<p>
<em>Reden, austauschen, diskutieren, trinken, whatever.</em>
</p>

</div>
<!-- EDIT9 SECTION "21.00 - Open End - Shmoozing" [2433-2530] -->
<h1 class="sectionedit10" id="teilnehmerparticipants">Teilnehmer / Participants</h1>
<div class="level1">

<p>
<em>Ich bin am Termin auf jeden Fall dabei!</em>
</p>
<ol>
<li class="level1">
<div class="li"> Jan Kus <a href="http://www.railslove.com" class="urlextern" title="http://www.railslove.com" rel="nofollow">railslove</a>, <a href="http://twitter.com/koos" class="urlextern" title="http://twitter.com/koos" rel="nofollow">@koos</a>
</div>
</li>
<li class="level1">
<div class="li"> Daniel Hepper <a href="http://twitter.com/danielhepper" class="urlextern" title="http://twitter.com/danielhepper" rel="nofollow">@danielhepper</a>
</div>
</li>
<li class="level1">
<div class="li"> Jörn Zaefferer <a href="http://twitter.com/bassistance" class="urlextern" title="http://twitter.com/bassistance" rel="nofollow">@bassistance</a>
</div>
</li>
<li class="level1">
<div class="li"> Tobias Jordans, <a href="http://www.uxzentrisch.de" class="urlextern" title="http://www.uxzentrisch.de" rel="nofollow">uxzentrisch</a>, <a href="http://twitter.com/tordans" class="urlextern" title="http://twitter.com/tordans" rel="nofollow">@tordans</a>
</div>
</li>
<li class="level1">
<div class="li"> Tamim Swaid, <a href="http://www.tamimswaid.de" class="urlextern" title="http://www.tamimswaid.de" rel="nofollow">My website</a>, <a href="http://twitter.com/tamimat" class="urlextern" title="http://twitter.com/tamimat" rel="nofollow">@tamimat</a>, <a href="http://www.cobocards.com" class="urlextern" title="http://www.cobocards.com" rel="nofollow">CoboCards</a>
</div>
</li>
<li class="level1">
<div class="li"> Jan Sieckmann (Köln-Novize und neugierig) <a href="http://www.belvilla.de" class="urlextern" title="http://www.belvilla.de" rel="nofollow">Belvilla</a>
</div>
</li>
<li class="level1">
<div class="li"> Robert Kneschke (Fotoproduktion) <a href="http://www.robertkneschke.de" class="urlextern" title="http://www.robertkneschke.de" rel="nofollow">http://www.robertkneschke.de</a>
</div>
</li>
<li class="level1">
<div class="li"> Stephan Pavlovic <a href="http://twitter.com/stephanpavlovic" class="urlextern" title="http://twitter.com/stephanpavlovic" rel="nofollow">@stephanpavlovic</a>
</div>
</li>
<li class="level1">
<div class="li"> David Neu <a href="http://www.david-neu.de" class="urlextern" title="http://www.david-neu.de" rel="nofollow">http://www.david-neu.de</a> <a href="http://www.xing.com/profile/david_neu2" class="urlextern" title="http://www.xing.com/profile/david_neu2" rel="nofollow">xing</a>
</div>
</li>
<li class="level1">
<div class="li"> Marco Steffen, <a href="http://twitter.com/mstffn" class="urlextern" title="http://twitter.com/mstffn" rel="nofollow">@mstffn</a>
</div>
</li>
<li class="level1">
<div class="li"> Michael Pütz <a href="http://www.millepondo.de" class="urlextern" title="http://www.millepondo.de" rel="nofollow">millepondo services</a> <a href="http://www.millepondo.de" class="urlextern" title="http://www.millepondo.de" rel="nofollow">Internetagentur Köln</a>, <a href="https://www.xing.com/profile/Michael_Puetz3" class="urlextern" title="https://www.xing.com/profile/Michael_Puetz3" rel="nofollow">XING</a>
</div>
</li>
<li class="level1">
<div class="li"> Rene Bredlau</div>
</li>
<li class="level1">
<div class="li"> Lutz Schmitt <a href="http://designforconversion.nl/4th-dfc-cologne" class="urlextern" title="http://designforconversion.nl/4th-dfc-cologne" rel="nofollow">Design for Conversion</a>, <a href="https://www.xing.com/profile/Lutz_Schmitt" class="urlextern" title="https://www.xing.com/profile/Lutz_Schmitt" rel="nofollow">XING</a>
</div>
</li>
<li class="level1">
<div class="li"> Lars Brillert</div>
</li>
<li class="level1">
<div class="li"> Robert Vennemann <a href="http://www.mobile2b.de" class="urlextern" title="http://www.mobile2b.de" rel="nofollow">Mobile2b</a>
</div>
</li>
<li class="level1">
<div class="li"> Hannnes Yelmsen <a href="http://twitter.com/Deine_Mutter_" class="urlextern" title="http://twitter.com/Deine_Mutter_" rel="nofollow">@Deine_Mutter_</a>
</div>
</li>
<li class="level1">
<div class="li"> Martin Wisniowski <a href="http://www.node3000.com" class="urlextern" title="http://www.node3000.com" rel="nofollow">node3000</a>
</div>
</li>
<li class="level1">
<div class="li"> Detlev Haag <a href="http://darearts.net" class="urlextern" title="http://darearts.net" rel="nofollow">darearts.net</a>, <a href="http://twitter.com/natadd" class="urlextern" title="http://twitter.com/natadd" rel="nofollow">@natadd</a>
</div>
</li>
<li class="level1">
<div class="li"> Felix Müller</div>
</li>
<li class="level1">
<div class="li"> Dirk Jost</div>
</li>
<li class="level1">
<div class="li"> Mathias H.</div>
</li>
<li class="level1">
<div class="li"> Thomas M.</div>
</li>
<li class="level1">
<div class="li"> Simon Michaelis <a href="http://twitter.com/smichaelis" class="urlextern" title="http://twitter.com/smichaelis" rel="nofollow">@smichaelis</a>
</div>
</li>
<li class="level1">
<div class="li"> Georg Leciejewski <a href="https://www.salesking.eu" class="urlextern" title="https://www.salesking.eu" rel="nofollow">SalesKing</a>
</div>
</li>
</ol>

</div>
<!-- EDIT10 SECTION "Teilnehmer / Participants" [2531-4297] -->
<h1 class="sectionedit11" id="vielleichtmaybe">Vielleicht / Maybe</h1>
<div class="level1">

<p>
<em>Ich würde gerne vorbeischaun, weiß aber noch nicht hundertprozentig, ob es an dem Tag wirklich klappt. Bitte ein paar Tage vor Termin nochmal das Wiki aufsuchen und nach Möglichkeit entweder fest zusagen (Eintrag als Teilnehmer) oder absagen (Eintrag als Zuschauer). Danke!</em>
</p>
<ol>
<li class="level1">
<div class="li"> Dominik Schwind <a href="http://www.hello-kitty-massacre-extravaganza.com" class="urlextern" title="http://www.hello-kitty-massacre-extravaganza.com" rel="nofollow">Hello Kitty Massacre Extravaganza</a>, <a href="http://twitter.com/dominik" class="urlextern" title="http://twitter.com/dominik" rel="nofollow">@dominik</a>
</div>
</li>
<li class="level1">
<div class="li"> Jens Reinhardt</div>
</li>
<li class="level1">
<div class="li"> Thomas <a href="http://www.mbamaster.de" class="urlextern" title="http://www.mbamaster.de" rel="nofollow"> Master</a>
</div>
</li>
<li class="level1">
<div class="li"> Jens <a href="http://www.wenik.de" class="urlextern" title="http://www.wenik.de" rel="nofollow"> Web Working</a>, <a href="http://twitter.com/web_working" class="urlextern" title="http://twitter.com/web_working" rel="nofollow">Twitter</a>
</div>
</li>
<li class="level1">
<div class="li"> Niels Schulz</div>
</li>
<li class="level1">
<div class="li"> Jennifer Möller,  <a href="http://www.mode-gutscheine.com" class="urlextern" title="http://www.mode-gutscheine.com" rel="nofollow">www.mode-gutscheine.com</a>
</div>
</li>
</ol>

</div>
<!-- EDIT11 SECTION "Vielleicht / Maybe" [4298-5024] -->
<h1 class="sectionedit12" id="zuschaueraudience">Zuschauer / Audience</h1>
<div class="level1">

<p>
<em>Ich kann leider nicht vor Ort dabei sein, werde den Abend jedoch aus der Distanz online verfolgen.</em>
</p>
<ol>
<li class="level1">
<div class="li"> Frank Esser (fe@koeln.de)</div>
</li>
<li class="level1">
<div class="li"> Christoph Beckmann <a href="http://twitter.com/cbek" class="urlextern" title="http://twitter.com/cbek" rel="nofollow">@cbek</a>
</div>
</li>
</ol>

</div>
<!-- EDIT12 SECTION "Zuschauer / Audience" [5025-5254] -->
<h1 class="sectionedit13" id="tagging">Tagging</h1>
<div class="level1">

<p>
<em>Bitte Technorati, Ipernity, Wevent, Flickr, Del.icio.us u.ä. mit <strong>webmontag</strong> und <strong>webmontag20100913</strong> taggen!</em>
</p>

</div>
<!-- EDIT13 SECTION "Tagging" [5255-5397] -->
<h1 class="sectionedit14" id="echo">Echo</h1>
<div class="level1">

<p>
<em>Wie wars? Wer sagt was wann wo zum Kölner Webmontag.</em>
</p>

</div>
<!-- EDIT14 SECTION "Echo" [5398-5476] -->
<h1 class="sectionedit15" id="feedback">Feedback</h1>
<div class="level1">

<p>
<em>Was können wir besser machen, was läuft gut, was weniger gut? </em>
</p>

</div>
<!-- EDIT15 SECTION "Feedback" [5477-] -->
</body></html>
