---
:name: Webmontag
:title: 27. Webmontag
:url: http://webmontag-koeln.de/events/2011-06-20
:image: http://webmontag-koeln.de/assets/images/logo.png
:description: Web Monday is an informal, non-commercial, and completely community-driven
  event that aims to connect the people who are shaping the future of the internet.
  Inspired by the culture of Silicon Valley, it started out in Cologne, Germany in
  late 2005 in an effort to help spread those sunny California vibes.
:startDate: 2011-06-20T19:00
:endDate: 2011-06-20T21:00
:performer:
  :name: " "
:location:
  :name: Die Wohngemeinschaft - Theater
  :address:
    :streetAddress: Richard-Wagner-Straße 39
    :postalCode: '50674'
    :addressLocality: Cologne
    :addressCountry:
      :name: Germany
:offers:
  :url: http://webmontag-koeln.de/events/2011-06-20
---
<p>
<em>Neu beim Web Montag?  Ein Blick auf die <a href="/web_montag" class="wikilink1" title="web_montag">FAQ</a> gibt einen guten ersten Überblick, wie das Ganze funktioniert.</em>
</p>

<p>
Erneut die Bitte: Nutzt die “Edit summary” mit einem Stichwort wie “neuer Teilnehmer”, “+TN” o. ä. - Danke
</p>

<h1 class="sectionedit1" id="introduction">Introduction</h1>
<div class="level1">

<p>
Diese Seite befasst sich mit den Inhalten und der Organisation des 25. Webmontags in Köln. Eine Übersicht über den <a href="/location/koeln/index" class="wikilink1" title="location:koeln:index">Kölner Webmontag</a> findet sich auf einer separaten Seite.
</p>

</div>
<!-- EDIT1 SECTION "Introduction" [251-464] -->
<h1 class="sectionedit2" id="archiv">Archiv</h1>
<div class="level1">

<p>
Das <a href="/location/koeln/index" class="wikilink1" title="location:koeln:index">Kölner Archiv</a> befindet sich auf einer separaten Seite.
</p>

</div>
<!-- EDIT2 SECTION "Archiv" [465-557] -->
<h1 class="sectionedit3" id="wannwhen">Wann / When</h1>
<div class="level1">

<p>
Termin: <strong>20.06.2011</strong> - vom Spielplatz zugesagt (Daniel tel. am 03.06.2011)
</p>

</div>
<!-- EDIT3 SECTION "Wann / When" [558-662] -->
<h1 class="sectionedit4" id="wowhere">Wo / Where</h1>
<div class="level1">

<p>
Spielplatz<br>

Ubierring 58<br>

50678 Köln (Südstadt)<br>

fon: 0221-2508294<br>

<a href="http://www.spielplatz-lokal.de" class="urlextern" title="http://www.spielplatz-lokal.de" rel="nofollow">http://www.spielplatz-lokal.de</a><br>

<a href="http://www.webmontag.de/doku.php?id=locations#spielplatz" class="urlextern" title="http://www.webmontag.de/doku.php?id=locations#spielplatz" rel="nofollow">http://www.webmontag.de/doku.php?id=locations#spielplatz</a><br>

</p>

</div>
<!-- EDIT4 SECTION "Wo / Where" [663-855] -->
<h1 class="sectionedit5" id="fragen_antwortenquestions_answers">Fragen &amp; Antworten / Questions &amp; Answers</h1>
<div class="level1">

<p>
<em>Hier Fragen klären (z.B. Aufzeichnung, Mitfahrgelegenheiten etc.).</em>
</p>
<ul>
<li class="level1">
<div class="li"> Wir haben: Leinwand, Mikro, Beamer (wird wie immer vom Spielplatz gestellt), WLAN <br>
</div>
</li>
<li class="level1">
<div class="li"> Wir brauchen:  Audio- und Videoaufzeichnung <br>
</div>
</li>
<li class="level1">
<div class="li"> Bitte beachtet: Der Spielplatz liegt in der UMWELTZONE, d.h. ihr braucht eine Plakette fürs Auto. Nächste Bahnhaltestelle ist “Ubierring”.</div>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "Fragen & Antworten / Questions & Answers" [856-1273] -->
<h1 class="sectionedit6" id="agenda">Agenda</h1>
<div class="level1">

</div>
<!-- EDIT6 SECTION "Agenda" [1274-1295] -->
<h2 class="sectionedit7" id="uhr_-_warmlaufennetworking">19.00 - 20.00 Uhr - Warmlaufen / Networking</h2>
<div class="level2">

<p>
<em>Ankommen.Tach sagen. Drinks bestellen.</em>
</p>

</div>
<!-- EDIT7 SECTION "19.00 - 20.00 Uhr - Warmlaufen / Networking" [1296-1396] -->
<h2 class="sectionedit8" id="uhr_-_praesentationen_demos">20.00 - 21.00 Uhr - Präsentationen, Demos</h2>
<div class="level2">

<p>
<em>Zeit für Demos jeweils ca. 5-10 Minuten. Kurz und knackige Appetithäppchen, interaktiv (genug Raum für Fragen, Diskussion). Notizen, Diskussionspunkte, Links etc. werden ins Wiki gepostet (Wi-Fi vorausgesetzt).</em>
</p>

<p>
- Nerd-Pursuit - Let nerdism shine! <a href="https://www.github.com/nerds" class="urlextern" title="https://www.github.com/nerds" rel="nofollow">Nerds</a>
</p>

<p>
- SessionVoc – next generation session management  (triAGENS)
</p>

<p>
- Building a Next Generation Website (<a href="https://www.railslove.com/" class="urlextern" title="https://www.railslove.com/" rel="nofollow">Dirk &amp; Paul</a>)
</p>

<p>
- Low-Tech der pre-Web Ära / Bilder aus dem AKW Zwentendorf und dem KKW Vockerode (nur falls es irgendwen interessiert) (David Neu)
</p>

<p>
- Als kleiner Nachtrag zum letzten Plagiatsvortrag: <a href="http://wikipedistik.de/plagiate-reaktionen.pdf" class="urlextern" title="http://wikipedistik.de/plagiate-reaktionen.pdf" rel="nofollow">Beim Plagiieren erwischt - und nun?</a> (…und weil wir über Sharding redeten: <a href="http://www.boingboing.net/2011/06/17/why-ssds-are-worth-t.html" class="urlextern" title="http://www.boingboing.net/2011/06/17/why-ssds-are-worth-t.html" rel="nofollow">Brauchen wir nicht (bei Wikia)</a>)
</p>

</div>
<!-- EDIT8 SECTION "20.00 - 21.00 Uhr - Präsentationen, Demos" [1397-2308] -->
<h2 class="sectionedit9" id="open_end_-_shmoozing">21.00 - Open End - Shmoozing</h2>
<div class="level2">

<p>
<em>Reden, austauschen, diskutieren, trinken, whatever.</em>
</p>

</div>
<!-- EDIT9 SECTION "21.00 - Open End - Shmoozing" [2309-2407] -->
<h1 class="sectionedit10" id="teilnehmerparticipants">Teilnehmer / Participants</h1>
<div class="level1">

<p>
<em>Ich bin am Termin auf jeden Fall dabei!</em>
</p>
<ol>
<li class="level1">
<div class="li"> Daniel Hepper <a href="https://www.xing.com/profile/Daniel_Hepper" class="urlextern" title="https://www.xing.com/profile/Daniel_Hepper" rel="nofollow">Xing</a> <a href="http://twitter.com/danielhepper" class="urlextern" title="http://twitter.com/danielhepper" rel="nofollow">@danielhepper</a>
</div>
</li>
<li class="level1">
<div class="li"> Edward Dale <a href="https://www.xing.com/profile/Edward_Dale" class="urlextern" title="https://www.xing.com/profile/Edward_Dale" rel="nofollow">Xing</a> <a href="http://scompt.com" class="urlextern" title="http://scompt.com" rel="nofollow">web</a> <a href="http://twitter.com/scompt" class="urlextern" title="http://twitter.com/scompt" rel="nofollow">@scompt</a>
</div>
</li>
<li class="level1">
<div class="li"> Thomas Riedel <a href="https://www.xing.com/profile/Thomas_Riedel64?sc_o=mxb_p" class="urlextern" title="https://www.xing.com/profile/Thomas_Riedel64?sc_o=mxb_p" rel="nofollow">Xing</a> <a href="http://www.droid-boy.de" class="urlextern" title="http://www.droid-boy.de" rel="nofollow">Web</a> <a href="http://twitter.com/boydroid" class="urlextern" title="http://twitter.com/boydroid" rel="nofollow">@boydroid</a>
</div>
</li>
<li class="level1">
<div class="li"> Jürgen Walleneit <a href="https://www.xing.com/profile/Juergen_Walleneit" class="urlextern" title="https://www.xing.com/profile/Juergen_Walleneit" rel="nofollow">Xing</a> <a href="http://www.k-i-u.de" class="urlextern" title="http://www.k-i-u.de" rel="nofollow">Web</a> <a href="http://www.msh.net" class="urlextern" title="http://www.msh.net" rel="nofollow">Web</a> <a href="http://twitter.com/Walljet" class="urlextern" title="http://twitter.com/Walljet" rel="nofollow">@Walljet</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.twitter.com/Deine_Mutter_" class="urlextern" title="http://www.twitter.com/Deine_Mutter_" rel="nofollow">Hannes Yelmsen</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/tim_bartel" class="wikilink1" title="person:tim_bartel">Tim Bartel</a> <a href="http://avataryt.de" class="urlextern" title="http://avataryt.de" rel="nofollow">http://avataryt.de</a>, <a href="http://twitter.com/avatar" class="urlextern" title="http://twitter.com/avatar" rel="nofollow">@avatar</a>, <a href="https://www.xing.com/profile/Tim_Bartel" class="urlextern" title="https://www.xing.com/profile/Tim_Bartel" rel="nofollow">XING</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.freakyphones.de" class="urlextern" title="http://www.freakyphones.de" rel="nofollow">Schorsch</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.marcosteffen.com/" class="urlextern" title="http://www.marcosteffen.com/" rel="nofollow">Marco Steffen</a> <a href="http://twitter.com/mstffn" class="urlextern" title="http://twitter.com/mstffn" rel="nofollow">@mstffn</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/tim_schneider" class="wikilink1" title="person:tim_schneider">Tim Schneider</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.railslove.com" class="urlextern" title="http://www.railslove.com" rel="nofollow">Don Juan Carlos</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.david-neu.de/" class="urlextern" title="http://www.david-neu.de/" rel="nofollow">David Neu</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://twitter.com/#!/weinberger/" class="urlextern" title="http://twitter.com/#!/weinberger/" rel="nofollow">Claudius Weinberger</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.railslove.com" class="urlextern" title="http://www.railslove.com" rel="nofollow">Dirk Jost</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.railslove.com" class="urlextern" title="http://www.railslove.com" rel="nofollow">Paul Wittmann</a>
</div>
</li>
<li class="level1">
<div class="li"> Rene Bredlau</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/tobias_jordans" class="wikilink1" title="person:tobias_jordans">Tobias Jordans</a> <a href="http://twitter.com/tordans/" class="urlextern" title="http://twitter.com/tordans/" rel="nofollow">@tordans</a>
</div>
</li>
<li class="level1">
<div class="li"> Stephan Pavlovic <a href="http://twitter.com/stephanpavlovic" class="urlextern" title="http://twitter.com/stephanpavlovic" rel="nofollow">@stephanpavlovic</a>
</div>
</li>
<li class="level1">
<div class="li">   Thorsten Schiller <a href="https://www.xing.com/profile/Thorsten_Schiller2?sc_o=mxb_p" class="urlextern" title="https://www.xing.com/profile/Thorsten_Schiller2?sc_o=mxb_p" rel="nofollow">Xing</a> <a href="http://www.thorstenschiller.com" class="urlextern" title="http://www.thorstenschiller.com" rel="nofollow">Web</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.twitter.com/smichaelis" class="urlextern" title="http://www.twitter.com/smichaelis" rel="nofollow">Simon Michaelis</a>
</div>
</li>
<li class="level1">
<div class="li"> Michael Pütz - <a href="http://www.millepondo.de" class="urlextern" title="http://www.millepondo.de" rel="nofollow">millepondo services</a>
</div>
</li>
<li class="level1">
<div class="li"> Andreas Kupfer - <a href="http://www.twitter.com/ScottyTM" class="urlextern" title="http://www.twitter.com/ScottyTM" rel="nofollow">@ScottyTM</a>
</div>
</li>
</ol>

</div>
<!-- EDIT10 SECTION "Teilnehmer / Participants" [2408-4209] -->
<h1 class="sectionedit11" id="vielleichtmaybe">Vielleicht / Maybe</h1>
<div class="level1">

<p>
<em>Ich würde gerne vorbeischaun, weiß aber noch nicht hundertprozentig, ob es an dem Tag wirklich klappt. Bitte ein paar Tage vor Termin nochmal das Wiki aufsuchen und nach Möglichkeit entweder fest zusagen (Eintrag als Teilnehmer) oder absagen (Eintrag als Zuschauer). Danke!</em>
</p>
<ol>
<li class="level1">
<div class="li"> Frank Esser <a href="https://www.xing.com/profile/Frank_Esser" class="urlextern" title="https://www.xing.com/profile/Frank_Esser" rel="nofollow">Xing</a>
</div>
</li>
<li class="level1">
<div class="li"> Norbert Hartl <a href="https://www.xing.com/profile/Norbert_Hartl" class="urlextern" title="https://www.xing.com/profile/Norbert_Hartl" rel="nofollow">Xing</a>
</div>
</li>
<li class="level1">
<div class="li"> Stephan Bock <a href="https://www.xing.com/profile/Stephan_Bock2" class="urlextern" title="https://www.xing.com/profile/Stephan_Bock2" rel="nofollow">Xing</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/markus_moeller" class="wikilink1" title="person:markus_moeller">Markus Möller</a> <a href="http://twick.it" class="urlextern" title="http://twick.it" rel="nofollow">Twick.it, die Erklärmaschine</a>,<a href="https://www.xing.com/profile/Markus_Moeller3" class="urlextern" title="https://www.xing.com/profile/Markus_Moeller3" rel="nofollow">Xing</a>, <a href="http://twitter.com/derlangemarkus" class="urlextern" title="http://twitter.com/derlangemarkus" rel="nofollow">@derlangemarkus</a>
</div>
</li>
<li class="level1">
<div class="li"> Ulrich Glemnitz <a href="http://larovo.com/" class="urlextern" title="http://larovo.com/" rel="nofollow">Website</a>, <a href="http://twitter.com/Glemnitz" class="urlextern" title="http://twitter.com/Glemnitz" rel="nofollow">twitter</a>
</div>
</li>
<li class="level1">
<div class="li"> Tim Stollberg <a href="http://www.unidog.de/" class="urlextern" title="http://www.unidog.de/" rel="nofollow">Unidog.de</a>, <a href="https://www.xing.com/profile/Tim_Stollberg" class="urlextern" title="https://www.xing.com/profile/Tim_Stollberg" rel="nofollow">Xing</a>
</div>
</li>
<li class="level1">
<div class="li"> Dominik <a href="http://www.hello-kitty-massacre-extravaganza.com" class="urlextern" title="http://www.hello-kitty-massacre-extravaganza.com" rel="nofollow">Hello Kitty Massacre Extravaganza</a>
</div>
</li>
<li class="level1">
<div class="li"> dirk astrath</div>
</li>
</ol>

</div>
<!-- EDIT11 SECTION "Vielleicht / Maybe" [4210-5250] -->
<h1 class="sectionedit12" id="zuschaueraudience">Zuschauer / Audience</h1>
<div class="level1">

<p>
<em>Ich kann leider nicht vor Ort dabei sein, werde den Abend jedoch aus der Distanz online verfolgen.</em>
</p>
<ul>
<li class="level1">
<div class="li"> Christoph Beckmann <a href="http://twitter.com/cbek" class="urlextern" title="http://twitter.com/cbek" rel="nofollow">@cbek</a>
</div>
</li>
</ul>

</div>
<!-- EDIT12 SECTION "Zuschauer / Audience" [5251-5446] -->
<h1 class="sectionedit13" id="tagging">Tagging</h1>
<div class="level1">

<p>
<em>Bitte Technorati, Ipernity, Wevent, Flickr, Del.icio.us u.ä. mit <strong>webmontag</strong> und <strong>webmontag20110620</strong> taggen!</em>
</p>

</div>
<!-- EDIT13 SECTION "Tagging" [5447-5589] -->
<h1 class="sectionedit14" id="echo">Echo</h1>
<div class="level1">

</div>
<!-- EDIT14 SECTION "Echo" [5590-5609] -->
<h1 class="sectionedit15" id="feedback">Feedback</h1>
<div class="level1">

<p>
<em>Was können wir besser machen, was läuft gut, was weniger gut? </em>
</p>

</div>
<!-- EDIT15 SECTION "Feedback" [5610-] -->