---
:name: Webmontag
:title: 42. Webmontag
:url: http://webmontag-koeln.de/events/2015-09-19
:image: http://webmontag-koeln.de/assets/images/logo.png
:description: Web Monday is an informal, non-commercial, and completely community-driven
  event that aims to connect the people who are shaping the future of the internet.
  Inspired by the culture of Silicon Valley, it started out in Cologne, Germany in
  late 2005 in an effort to help spread those sunny California vibes.
:startDate: 2015-09-19T19:00
:endDate: 2015-09-19T21:00
:performer:
  :name: " "
:location:
  :name: Die Wohngemeinschaft - Theater
  :address:
    :streetAddress: Richard-Wagner-Straße 39
    :postalCode: '50674'
    :addressLocality: Cologne
    :addressCountry:
      :name: Germany
:offers:
  :url: http://webmontag-koeln.de/events/2015-09-19
---
<p>
<em>Neu beim Web Montag?  Ein Blick auf die <a href="/web_montag" class="wikilink1" title="web_montag">FAQ</a> gibt einen guten ersten Überblick, wie das Ganze funktioniert.</em>
</p>

<p>
Erneut die Bitte: Nutzt die “Edit summary” mit einem Stichwort wie “neuer Teilnehmer”, “+TN” o. ä. - Danke
</p>

<h1 class="sectionedit1" id="introduction">Introduction</h1>
<div class="level1">

<p>
Diese Seite befasst sich mit den Inhalten und der Organisation des 42. Webmontags in Köln. Eine Übersicht über den <a href="/location/koeln/index" class="wikilink1" title="location:koeln:index">Kölner Webmontag</a> findet sich auf einer separaten Seite.
</p>

</div>
<!-- EDIT1 SECTION "Introduction" [251-464] -->
<h1 class="sectionedit2" id="archiv">Archiv</h1>
<div class="level1">

<p>
Das <a href="/location/koeln/index" class="wikilink1" title="location:koeln:index">Kölner Archiv</a> befindet sich auf einer separaten Seite.
</p>

</div>
<!-- EDIT2 SECTION "Archiv" [465-557] -->
<h1 class="sectionedit3" id="wannwhen">Wann / When</h1>
<div class="level1">

<p>
Termin: <strong>19.10.2015</strong>
</p>

</div>
<!-- EDIT3 SECTION "Wann / When" [558-608] -->
<h1 class="sectionedit4" id="ankuendigungen">Ankündigungen</h1>
<div class="level1">

<p>
<a href="https://www.facebook.com/events/539741322843787/" class="urlextern" title="https://www.facebook.com/events/539741322843787/" rel="nofollow">Auf Facebook</a>
<a href="http://webmontag-koeln.de/" class="urlextern" title="http://webmontag-koeln.de/" rel="nofollow">Auf unserer Webseite</a>
</p>

</div>
<!-- EDIT4 SECTION "Ankündigungen" [609-758] -->
<h1 class="sectionedit5" id="wowhere">Wo / Where</h1>
<div class="level1">

<p>
<strong>Hallmackenreuther</strong>
</p>

<p>
Hallmackenreuther
</p>

<p>
Brüsseler Pl. 9
</p>

<p>
50674 Köln
</p>

<p>
<a href="https://www.google.de/maps?espv=2&amp;biw=1151&amp;bih=636&amp;q=maps+hallmackenreuther&amp;bav=on.2,or.r_cp.&amp;bvm=bv.93990622,d.bGQ&amp;ion=1&amp;um=1&amp;ie=UTF-8&amp;sa=X&amp;ei=nsFkVaHeL8ieywPko4CwAw&amp;ved=0CAYQ_AUoAQ" class="urlextern" title="https://www.google.de/maps?espv=2&amp;biw=1151&amp;bih=636&amp;q=maps+hallmackenreuther&amp;bav=on.2,or.r_cp.&amp;bvm=bv.93990622,d.bGQ&amp;ion=1&amp;um=1&amp;ie=UTF-8&amp;sa=X&amp;ei=nsFkVaHeL8ieywPko4CwAw&amp;ved=0CAYQ_AUoAQ" rel="nofollow">google maps</a>
</p>

</div>
<!-- EDIT5 SECTION "Wo / Where" [759-1057] -->
<h1 class="sectionedit6" id="fragen_antwortenquestions_answers">Fragen &amp; Antworten / Questions &amp; Answers</h1>
<div class="level1">

<p>
<em>Hier Fragen klären (z.B. Aufzeichnung, Mitfahrgelegenheiten etc.).</em>
</p>
<ul>
<li class="level1">
<div class="li"> Wir brauchen:  Audio- und Videoaufzeichnung <br>
</div>
</li>
</ul>

</div>
<!-- EDIT6 SECTION "Fragen & Antworten / Questions & Answers" [1058-1238] -->
<h1 class="sectionedit7" id="agenda">Agenda</h1>
<div class="level1">

</div>
<!-- EDIT7 SECTION "Agenda" [1239-1260] -->
<h2 class="sectionedit8" id="uhr_-_warmlaufennetworking">19.00 - 20.00 Uhr - Warmlaufen / Networking</h2>
<div class="level2">

<p>
<em>Ankommen.Tach sagen. Drinks bestellen.</em>
</p>

</div>
<!-- EDIT8 SECTION "19.00 - 20.00 Uhr - Warmlaufen / Networking" [1261-1361] -->
<h2 class="sectionedit9" id="uhr_-_praesentationen_demos">20.00 - 21.00 Uhr - Präsentationen, Demos</h2>
<div class="level2">

<p>
<em>Zeit für Demos jeweils ca. 5-10 Minuten. Kurz und knackige Appetithäppchen, interaktiv (genug Raum für Fragen, Diskussion). Notizen, Diskussionspunkte, Links etc. werden ins Wiki gepostet (Wi-Fi vorausgesetzt).</em>
</p>

</div>
<!-- EDIT9 SECTION "20.00 - 21.00 Uhr - Präsentationen, Demos" [1362-1637] -->
<h2 class="sectionedit10" id="open_end_-_shmoozing">21.00 - Open End - Shmoozing</h2>
<div class="level2">

<p>
<em>Reden, austauschen, diskutieren, trinken, whatever.</em>
</p>
<ol>
<li class="level1">
<div class="li"> DEIN TALK HIER</div>
</li>
</ol>

</div>
<!-- EDIT10 SECTION "21.00 - Open End - Shmoozing" [1638-1754] -->
<h1 class="sectionedit11" id="teilnehmerparticipants">Teilnehmer / Participants</h1>
<div class="level1">

<p>
<em>Ich bin am Termin auf jeden Fall dabei!</em>
</p>
<ol>
<li class="level1">
<div class="li"> <a href="https://twitter.com/koos" class="urlextern" title="https://twitter.com/koos" rel="nofollow">Jan Kus</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="https://twitter.com/larsvegas" class="urlextern" title="https://twitter.com/larsvegas" rel="nofollow">Lars Wolff</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="https://twitter.com/dogdoor" class="urlextern" title="https://twitter.com/dogdoor" rel="nofollow">Daniel Doege</a>
</div>
</li>
<li class="level1">
<div class="li"> <a href="https://twitter.com/ano_nym" class="urlextern" title="https://twitter.com/ano_nym" rel="nofollow">Arno Karrasch</a>
</div>
</li>
</ol>

</div>
<!-- EDIT11 SECTION "Teilnehmer / Participants" [1755-2029] -->
<h1 class="sectionedit12" id="vielleichtmaybe">Vielleicht / Maybe</h1>
<div class="level1">

<p>
<em>Ich würde gerne vorbeischaun, weiß aber noch nicht hundertprozentig, ob es an dem Tag wirklich klappt. Bitte ein paar Tage vor Termin nochmal das Wiki aufsuchen und nach Möglichkeit entweder fest zusagen (Eintrag als Teilnehmer) oder absagen (Eintrag als Zuschauer). Danke!</em>
</p>
<ol>
<li class="level1">
<div class="li"> <a href="/person/fwolf" class="wikilink1" title="person:fwolf">Fabian Wolf</a>
</div>
</li>
<li class="level1">
<div class="li">  <a href="/person/ahaas" class="wikilink2" title="person:ahaas" rel="nofollow">Andi Haas</a>
</div>
</li>
</ol>

</div>
<!-- EDIT12 SECTION "Vielleicht / Maybe" [2030-2415] -->
<h1 class="sectionedit13" id="zuschaueraudience">Zuschauer / Audience</h1>
<div class="level1">

<p>
<em>Ich kann leider nicht vor Ort dabei sein, werde den Abend jedoch aus der Distanz online verfolgen.</em>
</p>
<ol>
<li class="level1">
<div class="li"> ……</div>
</li>
<li class="level1">
<div class="li"> ……</div>
</li>
<li class="level1">
<div class="li"> </div>
</li>
</ol>

</div>
<!-- EDIT13 SECTION "Zuschauer / Audience" [2416-2583] -->
<h1 class="sectionedit14" id="tagging">Tagging</h1>
<div class="level1">

<p>
<em>Bitte Twitter, Facebook, Flickr, Google+ u.ä. mit <strong>webmontag</strong> und <strong>webmontag20150608</strong> taggen!</em>
</p>

</div>
<!-- EDIT14 SECTION "Tagging" [2584-2711] -->
<h1 class="sectionedit15" id="echo">Echo</h1>
<div class="level1">

</div>
<!-- EDIT15 SECTION "Echo" [2712-2732] -->
<h1 class="sectionedit16" id="feedback">Feedback</h1>
<div class="level1">

<p>
<em>Was können wir besser machen, was läuft gut, was weniger gut? </em>
</p>

</div>
<!-- EDIT16 SECTION "Feedback" [2733-] -->