---
:name: Webmontag
:title: 56. Webmontag
:url: http://webmontag-koeln.de/events/2018-04-16
:image: http://webmontag-koeln.de/assets/images/logo.png
:description: Web Monday is an informal, non-commercial, and completely community-driven
  event that aims to connect the people who are shaping the future of the internet.
  Inspired by the culture of Silicon Valley, it started out in Cologne, Germany in
  late 2005 in an effort to help spread those sunny California vibes.
:startDate: 2018-04-16T19:00
:endDate: 2018-04-16T21:00
:performer:
  :name: " "
:location:
  :name: Die Wohngemeinschaft - Theater
  :address:
    :streetAddress: Richard-Wagner-Straße 39
    :postalCode: '50674'
    :addressLocality: Cologne
    :addressCountry:
      :name: Germany
:offers:
  :url: http://webmontag-koeln.de/events/2018-04-16
---
<p>
<em>Neu beim Web Montag?  Ein Blick auf die <a href="/web_montag" class="wikilink1" title="web_montag">FAQ</a> gibt einen guten ersten Überblick, wie das Ganze funktioniert.</em>
</p>

<p>
Erneut die Bitte: Nutzt die “Edit summary” mit einem Stichwort wie “neuer Teilnehmer”, “+TN” o. ä. - Danke
</p>

<h1 class="sectionedit1" id="introduction">Introduction</h1>
<div class="level1">

<p>
Diese Seite befasst sich mit den Inhalten und der Organisation des Webmontags am 10.04.2017 in Köln. Eine Übersicht über den <a href="/location/koeln/index" class="wikilink1" title="location:koeln:index">Kölner Webmontag</a> findet sich auf einer separaten Seite.
</p>

</div>
<!-- EDIT1 SECTION "Introduction" [251-474] -->
<h1 class="sectionedit2" id="archiv">Archiv</h1>
<div class="level1">

<p>
Das <a href="/location/koeln/index" class="wikilink1" title="location:koeln:index">Kölner Archiv</a> befindet sich auf einer separaten Seite.
</p>

</div>
<!-- EDIT2 SECTION "Archiv" [475-567] -->
<h1 class="sectionedit3" id="wannwhen">Wann / When</h1>
<div class="level1">

<p>
Termin: <strong>16.04.2018</strong>
</p>

</div>
<!-- EDIT3 SECTION "Wann / When" [568-618] -->
<h1 class="sectionedit4" id="ankuendigungen">Ankündigungen</h1>
<div class="level1">

<p>
<a href="https://www.meetup.com/de-DE/Webmontag-Koln/events/249739036/" class="urlextern" title="https://www.meetup.com/de-DE/Webmontag-Koln/events/249739036/" rel="nofollow">Auf Meetup.com</a><a href="https://www.facebook.com/events/200161287127084/" class="urlextern" title="https://www.facebook.com/events/200161287127084/" rel="nofollow">Auf Facebook</a><a href="http://webmontag-koeln.de/" class="urlextern" title="http://webmontag-koeln.de/" rel="nofollow">Auf unserer Webseite</a>
</p>

</div>
<!-- EDIT4 SECTION "Ankündigungen" [619-847] -->
<h1 class="sectionedit5" id="wowhere">Wo / Where</h1>
<div class="level1">

<p>
<a href="http://die-wohngemeinschaft.net" class="urlextern" title="http://die-wohngemeinschaft.net" rel="nofollow">die wohngemeinschaft</a><br>

CaféBar “die wohngemeinschaft”<br>

Richard-Wagner-Straße 39<br>

50674 Köln (Rudolfplatz/Belgisches Viertel)
</p>

</div>
<!-- EDIT5 SECTION "Wo / Where" [848-1042] -->
<h1 class="sectionedit6" id="fragen_antwortenquestions_answers">Fragen &amp; Antworten / Questions &amp; Answers</h1>
<div class="level1">

<p>
<em>Hier Fragen klären (z.B. Aufzeichnung, Mitfahrgelegenheiten etc.).</em>
</p>
<ul>
<li class="level1">
<div class="li"> Wir brauchen:  Audio- und Videoaufzeichnung <br>
</div>
</li>
</ul>

</div>
<!-- EDIT6 SECTION "Fragen & Antworten / Questions & Answers" [1043-1223] -->
<h1 class="sectionedit7" id="agenda">Agenda</h1>
<div class="level1">

</div>
<!-- EDIT7 SECTION "Agenda" [1224-1245] -->
<h2 class="sectionedit8" id="uhr_-_warmlaufennetworking">19.00 - 20.00 Uhr - Warmlaufen / Networking</h2>
<div class="level2">

<p>
<em>Ankommen.Tach sagen. Drinks bestellen.</em>
</p>

</div>
<!-- EDIT8 SECTION "19.00 - 20.00 Uhr - Warmlaufen / Networking" [1246-1346] -->
<h2 class="sectionedit9" id="uhr_-_praesentationen_demos">20.00 - 21.00 Uhr - Präsentationen, Demos</h2>
<div class="level2">

<p>
<em>Zeit für Demos jeweils ca. 5-10 Minuten. Kurz und knackige Appetithäppchen, interaktiv (genug Raum für Fragen, Diskussion). Notizen, Diskussionspunkte, Links etc. werden ins Wiki gepostet (Wi-Fi vorausgesetzt).</em>
</p>
<ul>
<li class="level1">
<div class="li"> Oliver Voßhenrich: Amazon GO aus Deutschland</div>
</li>
<li class="level1">
<div class="li"> Tim Becker: “Anonymisieren und Pseudonymisieren im Rahmen des GDPR”</div>
</li>
<li class="level1">
<div class="li"> Jan Kus: Stressbewältigung mit Achtsamkeitspraxis (Eine Erfahrung, kein Kurs!)</div>
</li>
<li class="level1">
<div class="li"> Robert C. Mendez: Digitale Sprachassistenten</div>
</li>
<li class="level1">
<div class="li"> David Akinjise: The New Now <a href="https://www.thenewnow.io" class="urlextern" title="https://www.thenewnow.io" rel="nofollow">https://www.thenewnow.io</a> - Die “Consultapreneure” aus Köln. Innovation, Storytelling und Vermarktung.</div>
</li>
</ul>

</div>
<!-- EDIT9 SECTION "20.00 - 21.00 Uhr - Präsentationen, Demos" [1347-2012] -->
<h2 class="sectionedit10" id="open_end_-_shmoozing">21.00 - Open End - Shmoozing</h2>
<div class="level2">

<p>
<em>Reden, austauschen, diskutieren, trinken, whatever.</em>
</p>

</div>
<!-- EDIT10 SECTION "21.00 - Open End - Shmoozing" [2013-2112] -->
<h1 class="sectionedit11" id="teilnehmerparticipants">Teilnehmer / Participants</h1>
<div class="level1">

<p>
Jetzt bei meetup eintragen: <a href="https://www.meetup.com/de-DE/Webmontag-Koln/events/249739036/" class="urlextern" title="https://www.meetup.com/de-DE/Webmontag-Koln/events/249739036/" rel="nofollow">https://www.meetup.com/de-DE/Webmontag-Koln/events/249739036/</a>
</p>

<p>
<em>Bitte Twitter, Facebook, Flickr, Google+ u.ä. mit <strong>webmontag</strong> und <strong>webmontag20180416</strong> und <strong>wmcgn</strong> taggen!</em>
</p>

</div>
<!-- EDIT11 SECTION "Teilnehmer / Participants" [2113-2364] -->
<h1 class="sectionedit12" id="echo">Echo</h1>
<div class="level1">

</div>
<!-- EDIT12 SECTION "Echo" [2365-2385] -->
<h1 class="sectionedit13" id="feedback">Feedback</h1>
<div class="level1">

<p>
<em>Was können wir besser machen, was läuft gut, was weniger gut? </em>
</p>

</div>
<!-- EDIT13 SECTION "Feedback" [2386-] -->