<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>
<p>
<em>Neu beim Web Montag?  Ein Blick auf die <a href="/web_montag" class="wikilink1" title="web_montag">FAQ</a> gibt einen guten ersten Überblick, wie das Ganze funktioniert.</em>
</p>

<p>
Erneut die Bitte: Nutzt die “Edit summary” mit einem Stichwort wie “neuer Teilnehmer”, “+TN” o. ä. - Danke
</p>

<h1 class="sectionedit1" id="mai_2006_in_koeln">29. Mai 2006 in Köln</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "29. Mai 2006 in Köln" [251-287] -->
<h3 class="sectionedit2" id="echo">Echo</h3>
<div class="level3">

<p>
<em>Hier notieren, was andere woanders sagen.</em>
</p>
<ul>
<li class="level1">
<div class="li"> 2006-05-31 - Steffen Mazanek auf [<a href="http://informatik-praxis.blogspot.com/2006/05/event-webmontag-am-290506-in-kln.html%5D" class="urlextern" title="http://informatik-praxis.blogspot.com/2006/05/event-webmontag-am-290506-in-kln.html]" rel="nofollow">http://informatik-praxis.blogspot.com/2006/05/event-webmontag-am-290506-in-kln.html]</a>
</div>
</li>
<li class="level1">
<div class="li"> 2006-06-20 - Hitflip Blog <a href="http://blog.hitflip.de/2006/06/20/hitflip-beim-webmontag/" class="urlextern" title="http://blog.hitflip.de/2006/06/20/hitflip-beim-webmontag/" rel="nofollow">Hitflip beim Webmontag (inkl. Folien zur Präsi)</a>
</div>
</li>
<li class="level1">
<div class="li"> 2006-06-30 - <a href="http://flyingsparks.wwwfiles.de/2006-05-30/webmontag-koeln-29506/" class="urlextern" title="http://flyingsparks.wwwfiles.de/2006-05-30/webmontag-koeln-29506/" rel="nofollow">flyingsparks-Kommentar zu diesem Montag</a>
</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Echo" [288-742] -->
<h3 class="sectionedit3" id="aktuell">Aktuell</h3>
<div class="level3">

<p>
Vorträge:
</p>
<ul>
<li class="level1">
<div class="li"> Oliver kannst du deinen Vortrag jetzt doch halten? (<a href="http://bredlau.org/rene" class="urlextern" title="http://bredlau.org/rene" rel="nofollow">Rene Bredlau</a>)</div>
</li>
<li class="level1">
<div class="li"> Weitere Vorträge?</div>
</li>
</ul>

<p>
Organisatorisches:
</p>
<ul>
<li class="level1">
<div class="li"> Werbung</div>
</li>
<li class="level1">
<div class="li"> Namensschilder</div>
</li>
<li class="level1">
<div class="li"> Reservierung des Raums ist bestätigt, im Laufe des Tages wird noch entschieden ob 1. Stock oder Keller. (<a href="http://bredlau.org/rene" class="urlextern" title="http://bredlau.org/rene" rel="nofollow">Rene Bredlau</a>)</div>
</li>
<li class="level1">
<div class="li"> Beamer (Wird wieder von Michael Pütz mitgebracht - Danke Michael!) (<a href="http://bredlau.org/rene" class="urlextern" title="http://bredlau.org/rene" rel="nofollow">Rene Bredlau</a>) </div>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Aktuell" [743-1214] -->
<h3 class="sectionedit4" id="archiv">Archiv</h3>
<div class="level3">

<p>
<a href="/location/koeln/2005-11-07" class="wikilink1" title="location:koeln:2005-11-07">2005-11-07</a> | <a href="/location/koeln/30.01.2006_koeln" class="wikilink2" title="location:koeln:30.01.2006_koeln" rel="nofollow">2006-01-30</a> | <a href="/location/koeln/2006-03-27" class="wikilink1" title="location:koeln:2006-03-27">2006-03-27</a>
</p>

</div>
<!-- EDIT4 SECTION "Archiv" [1215-1321] -->
<h3 class="sectionedit5" id="wannwhen">Wann / When</h3>
<div class="level3">
<ul>
<li class="level1">
<div class="li"> 29. Mai 2006 (2 Monatsabstand zum letzten) </div>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "Wann / When" [1322-1393] -->
<h3 class="sectionedit6" id="wowhere">Wo / Where</h3>
<div class="level3">
<ul>
<li class="level1">
<div class="li"> Hallmackenreuther (Keller) ist reserviert. (<a href="http://bredlau.org/rene" class="urlextern" title="http://bredlau.org/rene" rel="nofollow">Rene Bredlau</a>) </div>
</li>
</ul>

<p>
(Detail zum Hallmackenreuther siehe unter <a href="/location/koeln/locations" class="wikilink2" title="location:koeln:locations" rel="nofollow">locations</a>)
</p>

</div>
<!-- EDIT6 SECTION "Wo / Where" [1394-1565] -->
<h3 class="sectionedit7" id="aktuellnews">Aktuell / News</h3>
<div class="level3">

<p>
Hi,
ich habe unter [<a href="http://www.mobilemontag.de%5D" class="urlextern" title="http://www.mobilemontag.de]" rel="nofollow">www.mobilemontag.de]</a> ein Wiki als Pendant zum [<a href="http://www.mobilemonday.com%5D" class="urlextern" title="http://www.mobilemonday.com]" rel="nofollow">www.mobilemonday.com]</a> angelegt.
Vielleicht finden sich hier einige gute technische wie betriebwirtschaftliche Ideen, die man, in einem getrennten Termin vorstellen könnte [mobinauten.blogg.de]
</p>

</div>
<!-- EDIT7 SECTION "Aktuell / News" [1566-1855] -->
<h3 class="sectionedit8" id="fragen_antwortenquestions_answers">Fragen &amp; Antworten / Questions &amp; Answers</h3>
<div class="level3">

<p>
<em>Hier Fragen klären (z.B. Aufzeichnung, Mitfahrgelegenheiten etc.).</em><br>

<em>Post your questions here (e.g. recordings, rides etc.).</em>
</p>
<ul>
<li class="level1">
<div class="li"> <strong>Vorschlag:</strong> Alle die bei <strong>webmontag</strong> und bei <strong>openBC</strong> mitmachen, sollten bei <strong>openBC</strong> auch unter ihrem Profil als Organisation <strong>webmontag</strong> eintragen und ggf. auch umgekehrt (<a href="/person/burkart" class="wikilink1" title="person:burkart">Burkhard Sellke</a>)</div>
</li>
</ul>

</div>
<!-- EDIT8 SECTION "Fragen & Antworten / Questions & Answers" [1856-2268] -->
<h3 class="sectionedit9" id="agenda">Agenda</h3>
<div class="level3">

</div>

<h4 id="uhr_-_warmlaufennetworking">19.00 - 20.00 Uhr - Warmlaufen / Networking</h4>
<div class="level4">

<p>
<em>Ankommen.</em>
</p>

</div>

<h4 id="uhr_-_praesentationen_demos">20.00 - 21.00 Uhr - Präsentationen, Demos</h4>
<div class="level4">

<p>
<em>Zeit für Demos jeweils ca. 5-10 Minuten. Kurz und knackige Appetithäppchen, interaktiv (genug Raum für Fragen, Diskussion). Notizen, Diskussionspunkte, Links etc. werden ins Wiki gepostet (Wi-Fi vorausgesetzt).</em>
</p>
<ul>
<li class="level1">
<div class="li"> <a href="/location/koeln/citizen" class="wikilink2" title="location:koeln:citizen" rel="nofollow">Projekt "Readers Edition"</a>. Plattform für “Citizen Journalism”, Online-Zeitung von Allen für Alle <img src="/lib/images/smileys/icon_wink.gif" class="icon" alt=";-)"> Peter hat den Zug gebucht</div>
</li>
<li class="level1">
<div class="li"> <a href="/location/koeln/hitflip" class="wikilink2" title="location:koeln:hitflip" rel="nofollow">Hitflip</a>. Medien-Tauschplattform mit einigen Web 2.0 Features. Wir würden Einblick in die Realität unserer Web 2.0 Features bieten. Summary: Es gibt ein deutliches Delta zwischen Wunsch und Wirklichkeit. <img src="/lib/images/smileys/icon_wink.gif" class="icon" alt=";-)"> Teilnahme von Jan Miczaika ist bestätigt</div>
</li>
</ul>
<hr>

<p>
Ideen / Vorträge, die nicht gehalten wurden (Kandidaten für die nächsten Treffen):
</p>
<ul>
<li class="level1">
<div class="li"> <del><a href="/location/koeln/fleavent.com" class="wikilink2" title="location:koeln:fleavent.com" rel="nofollow">fleavent.com</a> (Rany) (Vorschlag vom 30.1.06 wurde am 6.2.06 in Frankfurt vorgetragen)</del> kann leider nicht mehr kommen, präsentiere aber gerne am nächsten webmontag köln - Rany</div>
</li>
<li class="level1">
<div class="li"> <a href="/location/koeln/o_reilly_in_europe" class="wikilink2" title="location:koeln:o_reilly_in_europe" rel="nofollow">o_reilly_in_europe</a>. I'd be happy to give a short intro to what's upcoming from O'Reilly in Europe in 2006, including <a href="http://www.customermade.org" class="urlextern" title="http://www.customermade.org" rel="nofollow">CustomerMade</a> and <a href="http://conferences.oreillynet.com/euos2006/" class="urlextern" title="http://conferences.oreillynet.com/euos2006/" rel="nofollow">EuroOSCON</a>. (Nikolaj)</div>
</li>
<li class="level1">
<div class="li"> Was haltet ihr von einem Vortrag über Social Network Analysis? Ich könnte was über die Theorie erzählen, vielleicht findet sich dann noch jemand der ein praktisches Beispiel (vielleicht foaf o.ä.) vorstellen kann. (Steffen Mazanek) - Finde ich sehr gut, vielleicht wirklich an einem Beispiel was man da interessantes rausbekommen kann und was das für die Zukunft bedeutet. Vielleicht kannst du auch mit OpenBC reden darüber. Ein wenig deren letzte Studie vorstellen. <a href="/person/oliver_thylmann" class="wikilink1" title="person:oliver_thylmann">oliver_thylmann</a> Kann leider nicht kommen. Vielleicht findet sich jemand anderes für das Thema? (Steffen Mazanek)</div>
</li>
</ul>

</div>

<h4 id="uhr_-_shmoozing">21.00 - 23.00 Uhr - Shmoozing</h4>
<div class="level4">

<p>
Party.
</p>

</div>
<!-- EDIT9 SECTION "Agenda" [2269-4221] -->
<h3 class="sectionedit10" id="teilnehmerparticipants">Teilnehmer / Participants</h3>
<div class="level3">

<p>
<em>Ich bin am Termin auf jeden Fall dabei!</em>
</p>
<ol>
<li class="level1">
<div class="li"> Oliver Lauer (<a href="http://www.sparkasse-koelnbonn.de" class="urlextern" title="http://www.sparkasse-koelnbonn.de" rel="nofollow">Sparkasse KoelnBonn</a>,<a href="http://mobinauten.blogg.de" class="urlextern" title="http://mobinauten.blogg.de" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="http://bredlau.org/rene" class="urlextern" title="http://bredlau.org/rene" rel="nofollow">Rene Bredlau</a>
</div>
</li>
<li class="level1">
<div class="li"> Mario Dietrich (<a href="http://fotouristen.de" class="urlextern" title="http://fotouristen.de" rel="nofollow">fotouristen.de</a>,<a href="https://www.openbc.com/hp/Mario_Dietrich2/" class="urlextern" title="https://www.openbc.com/hp/Mario_Dietrich2/" rel="nofollow">OpenBC</a>,<a href="http://blogs.fotouristen.de/mario" class="urlextern" title="http://blogs.fotouristen.de/mario" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Jan Miczaika (<a href="http://www.hitflip.de" class="urlextern" title="http://www.hitflip.de" rel="nofollow">Hitflip.de</a>,<a href="http://blog.hitflip.de" class="urlextern" title="http://blog.hitflip.de" rel="nofollow">Blog</a>,<a href="https://www.openbc.com/hp/Jan_Miczaika/" class="urlextern" title="https://www.openbc.com/hp/Jan_Miczaika/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Andre Alpar (<a href="http://www.hitflip.de" class="urlextern" title="http://www.hitflip.de" rel="nofollow">Hitflip.de</a>,<a href="http://www.hoerbuch-blog.de" class="urlextern" title="http://www.hoerbuch-blog.de" rel="nofollow">Blog1</a>, <a href="http://merchant-blog.hitflip.de/" class="urlextern" title="http://merchant-blog.hitflip.de/" rel="nofollow">Blog2</a>, <a href="https://www.openbc.com/hp/Andre_Alpar/" class="urlextern" title="https://www.openbc.com/hp/Andre_Alpar/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Mario Sixtus (<a href="http://www.sixtus.net" class="urlextern" title="http://www.sixtus.net" rel="nofollow">Blog</a> <a href="http://blog.handelsblatt.de/dezentrale" class="urlextern" title="http://blog.handelsblatt.de/dezentrale" rel="nofollow">Blog</a> <a href="https://www.openbc.com/hp/Mario_Sixtus/" class="urlextern" title="https://www.openbc.com/hp/Mario_Sixtus/" rel="nofollow">OpenBC</a>) Journalist</div>
</li>
<li class="level1">
<div class="li"> Thomas Bachem (<a href="http://sevenload.de" class="urlextern" title="http://sevenload.de" rel="nofollow">sevenload</a>, <a href="http://blog.sevenload.de" class="urlextern" title="http://blog.sevenload.de" rel="nofollow">sevenload Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Ibrahim Evsan (<a href="http://sevenload.de" class="urlextern" title="http://sevenload.de" rel="nofollow">sevenload</a>, <a href="http://blog.sevenload.de" class="urlextern" title="http://blog.sevenload.de" rel="nofollow">sevenload Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Tim Bruysten (<a href="http://bruysten.com" class="urlextern" title="http://bruysten.com" rel="nofollow">bruysten.com</a>, <a href="http://blog.bruysten.com" class="urlextern" title="http://blog.bruysten.com" rel="nofollow">Weblog</a>)</div>
</li>
<li class="level1">
<div class="li"> Tobias Jordans (<a href="http://flyingsparks.wwwfiles.de" class="urlextern" title="http://flyingsparks.wwwfiles.de" rel="nofollow">Blog</a>, <a href="http://www.openbc.com/hp/Tobias_Jordans/" class="urlextern" title="http://www.openbc.com/hp/Tobias_Jordans/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Matthias Schmidt (<a href="https://www.openbc.com/hp/Matthias_Schmidt12/" class="urlextern" title="https://www.openbc.com/hp/Matthias_Schmidt12/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Tamim Swaid (<a href="http://www.tamimswaid.de" class="urlextern" title="http://www.tamimswaid.de" rel="nofollow">Das mach Ich</a>)</div>
</li>
<li class="level1">
<div class="li"> Maximillian Dornseif (<a href="http://blogs.23.nu/disLEXiaDE/" class="urlextern" title="http://blogs.23.nu/disLEXiaDE/" rel="nofollow">Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="http://www.okoroji.de/" class="urlextern" title="http://www.okoroji.de/" rel="nofollow">Rebecca Okoroji</a> (<a href="http://www.openbc.com/hp/RebeccaFelicia_Okoroji/" class="urlextern" title="http://www.openbc.com/hp/RebeccaFelicia_Okoroji/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Ernst Went (<a href="http://www.zellwerk.com" class="urlextern" title="http://www.zellwerk.com" rel="nofollow">zellwerk.com</a>, <a href="https://www.openbc.com/hp/Ernst_Went/" class="urlextern" title="https://www.openbc.com/hp/Ernst_Went/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Sebastian Grünwaldt (<a href="http://www.blog.cbgreenwood.de" class="urlextern" title="http://www.blog.cbgreenwood.de" rel="nofollow">@cb's ßetabloggerei</a>, <a href="https://www.openbc.com/hp/Sebastian_Gruenwaldt/" class="urlextern" title="https://www.openbc.com/hp/Sebastian_Gruenwaldt/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Hanna Krieg (<a href="https://www.openbc.com/hp/Hanna_Krieg" class="urlextern" title="https://www.openbc.com/hp/Hanna_Krieg" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Nico Zorn (<a href="http://www.nicozorn.com" class="urlextern" title="http://www.nicozorn.com" rel="nofollow">Blog</a> <a href="https://www.openbc.com/hp/Nico_Zorn/" class="urlextern" title="https://www.openbc.com/hp/Nico_Zorn/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Konstantin Breu (<a href="http://www.piro.net" class="urlextern" title="http://www.piro.net" rel="nofollow">Pironet</a>, <a href="https://www.openbc.com/hp/Konstantin_Breu/" class="urlextern" title="https://www.openbc.com/hp/Konstantin_Breu/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Kai Uhlemeyer</div>
</li>
<li class="level1">
<div class="li"> Tim Schneider</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/oliver_wrede" class="wikilink1" title="person:oliver_wrede">oliver_wrede</a> (<a href="http://wrede.interfacedesign.org" class="urlextern" title="http://wrede.interfacedesign.org" rel="nofollow">Blog</a>, <a href="https://www.openbc.com/hp/Oliver_Wrede/" class="urlextern" title="https://www.openbc.com/hp/Oliver_Wrede/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Tomas Caspers</div>
</li>
<li class="level1">
<div class="li"> Timo Derstappen (<a href="http://teemow.com" class="urlextern" title="http://teemow.com" rel="nofollow">Blog</a>, <a href="https://www.openbc.com/hp/Timo_Derstappen/" class="urlextern" title="https://www.openbc.com/hp/Timo_Derstappen/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/oliver_thylmann" class="wikilink1" title="person:oliver_thylmann">oliver_thylmann</a>
</div>
</li>
<li class="level1">
<div class="li"> Oliver Zeisberger (<a href="http://www.barracuda.de" class="urlextern" title="http://www.barracuda.de" rel="nofollow">barracuda</a>, <a href="http://www.barracuda.de/author/Oliver/" class="urlextern" title="http://www.barracuda.de/author/Oliver/" rel="nofollow">blog</a>, <a href="https://www.openbc.com/hp/Oliver_Zeisberger/" class="urlextern" title="https://www.openbc.com/hp/Oliver_Zeisberger/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Wolfram Eberius (<a href="http://www.pironet-ndh.com" class="urlextern" title="http://www.pironet-ndh.com" rel="nofollow">Pironet</a>, <a href="https://www.openbc.com/hp/Wolfram_Eberius/" class="urlextern" title="https://www.openbc.com/hp/Wolfram_Eberius/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Dirk Breuer</div>
</li>
<li class="level1">
<div class="li"> Michael Pütz (<a href="http://www.millepondo.de" class="urlextern" title="http://www.millepondo.de" rel="nofollow">millepondo.de</a>, <a href="https://www.openbc.com/hp/Michael_Puetz3/" class="urlextern" title="https://www.openbc.com/hp/Michael_Puetz3/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Michael Pütz 2.0 (<a href="https://www.openbc.com/hp/Michael_Puetz/" class="urlextern" title="https://www.openbc.com/hp/Michael_Puetz/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Martin Kölsch (<a href="http://www.viermann.info" class="urlextern" title="http://www.viermann.info" rel="nofollow">Viermann</a>, <a href="https://www.openbc.com/hp/Martin_Koelsch2/" class="urlextern" title="https://www.openbc.com/hp/Martin_Koelsch2/" rel="nofollow">OpenBC</a>) NT</div>
</li>
<li class="level1">
<div class="li"> Thomas Reintjes (<a href="http://www.viermann.info" class="urlextern" title="http://www.viermann.info" rel="nofollow">Viermann</a>) NT</div>
</li>
<li class="level1">
<div class="li"> Corina Lange</div>
</li>
<li class="level1">
<div class="li"> Marc Kalmes</div>
</li>
<li class="level1">
<div class="li"> Björn Vollmer</div>
</li>
<li class="level1">
<div class="li"> Simon Kock (<a href="http://www.sendreceive.de" class="urlextern" title="http://www.sendreceive.de" rel="nofollow">send receive</a>, <a href="https://www.openbc.com/hp/Simon_Kock/" class="urlextern" title="https://www.openbc.com/hp/Simon_Kock/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Thomas Bastian</div>
</li>
<li class="level1">
<div class="li"> Michael Nietzold (<a href="https://www.openbc.com/hp/Michael_Nietzold/" class="urlextern" title="https://www.openbc.com/hp/Michael_Nietzold/" rel="nofollow">OpenBC</a>)</div>
</li>
</ol>

</div>
<!-- EDIT10 SECTION "Teilnehmer / Participants" [4222-7602] -->
<h3 class="sectionedit11" id="vielleichtmaybe">Vielleicht / Maybe</h3>
<div class="level3">

<p>
<em>Ich würde gerne vorbeischaun, weiß aber noch nicht hundertprozentig, ob es an dem Tag wirklich klappt.</em>
</p>
<ul>
<li class="level1">
<div class="li"> Manfred “majo” Heinze (<a href="http://www.textlab.de" class="urlextern" title="http://www.textlab.de" rel="nofollow">IT&amp;W, Mac Essentials, div.</a>)</div>
</li>
<li class="level1">
<div class="li"> Ole Wiemeler (<a href="http://www.blog.mediaprojekte.de" class="urlextern" title="http://www.blog.mediaprojekte.de" rel="nofollow">MP:Blog Mediaprojekte</a>)</div>
</li>
<li class="level1">
<div class="li"> Wolfgang Malgadey (<a href="http://www.malgadey.de" class="urlextern" title="http://www.malgadey.de" rel="nofollow">Blog</a>) irgendwann muss es ja mal klappen :(</div>
</li>
<li class="level1">
<div class="li"> Michael Jung (<a href="http://www.e-commerce-blog.de" class="urlextern" title="http://www.e-commerce-blog.de" rel="nofollow">http://www.e-commerce-blog.de</a>)</div>
</li>
<li class="level1">
<div class="li"> Daniel Backhaus (<a href="http://www.silversurfer7.de" class="urlextern" title="http://www.silversurfer7.de" rel="nofollow">http://www.silversurfer7.de</a>)</div>
</li>
<li class="level1">
<div class="li"> Oliver Nökel (<a href="http://www.silversurfer7.de" class="urlextern" title="http://www.silversurfer7.de" rel="nofollow">http://www.silversurfer7.de</a>)</div>
</li>
<li class="level1">
<div class="li"> Torsten Kleinz (<a href="http://www.kleinz.net" class="urlextern" title="http://www.kleinz.net" rel="nofollow">IT-Journalist</a>)</div>
</li>
<li class="level1">
<div class="li"> Daniel Kang (<a href="http://www.silversurfer7.de" class="urlextern" title="http://www.silversurfer7.de" rel="nofollow">http://www.silversurfer7.de</a>)</div>
</li>
<li class="level1">
<div class="li"> Jochen Herkenrath (<a href="http://cheese.blartwendo.com/web21-demo.html" class="urlextern" title="http://cheese.blartwendo.com/web21-demo.html" rel="nofollow">http://cheese.blartwendo.com/web21-demo.html</a>)</div>
</li>
<li class="level1">
<div class="li"> Niels Anhalt (<a href="http://www.pironet-ndh.com" class="urlextern" title="http://www.pironet-ndh.com" rel="nofollow">PIRONET NDH</a>, <a href="http://niels.anhalt.name/" class="urlextern" title="http://niels.anhalt.name/" rel="nofollow">Blog</a>, <a href="https://www.openbc.com/hp/Niels_Anhalt/" class="urlextern" title="https://www.openbc.com/hp/Niels_Anhalt/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Arno Karrasch (<a href="http://www.Visuaconcept.de" class="urlextern" title="http://www.Visuaconcept.de" rel="nofollow">VisualConcept</a>, <a href="https://www.openbc.com/hp/Arno_Karrasch/" class="urlextern" title="https://www.openbc.com/hp/Arno_Karrasch/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Martin Butz (<a href="https://www.openbc.com/hp/Martin_Butz/" class="urlextern" title="https://www.openbc.com/hp/Martin_Butz/" rel="nofollow">OpenBC</a>, <a href="http://www.odalis.net/" class="urlextern" title="http://www.odalis.net/" rel="nofollow">sym.net Gbr., Odalis</a>)</div>
</li>
<li class="level1">
<div class="li"> Randolf Jorberg (<a href="http://www.gulli.com" class="urlextern" title="http://www.gulli.com" rel="nofollow">gulli</a>, <a href="https://www.openbc.com/hp/Randolf_Jorberg/" class="urlextern" title="https://www.openbc.com/hp/Randolf_Jorberg/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Klaas Bollhoefer (<a href="http://web.xpunktnull.de/" class="urlextern" title="http://web.xpunktnull.de/" rel="nofollow">web.XpunktNull.de</a>, <a href="http://web.xpunktnull.de/" class="urlextern" title="http://web.xpunktnull.de/" rel="nofollow">Blog</a>, <a href="https://www.openbc.com/hp/KlaasWilhelm_Bollhoefer/" class="urlextern" title="https://www.openbc.com/hp/KlaasWilhelm_Bollhoefer/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Thomas Jungbluth (<a href="http://www.tjungbluth.de" class="urlextern" title="http://www.tjungbluth.de" rel="nofollow">TJ Redaktions-Service</a>, <a href="http://www.editorialnotes.de/weblog.php" class="urlextern" title="http://www.editorialnotes.de/weblog.php" rel="nofollow">Blog</a>, <a href="https://www.openbc.com/hp/Thomas_Jungbluth/" class="urlextern" title="https://www.openbc.com/hp/Thomas_Jungbluth/" rel="nofollow">OpenBC</a>)  </div>
</li>
<li class="level1">
<div class="li"> Patrick Meschak (<a href="http://www.openweb.de" class="urlextern" title="http://www.openweb.de" rel="nofollow">Internet-Agentur</a>)</div>
</li>
<li class="level1">
<div class="li"> Sebastian Dziwisch (<a href="http://www.neuemedia.de" class="urlextern" title="http://www.neuemedia.de" rel="nofollow">Internet-Agentur</a>, <a href="https://www.openbc.com/hp/hp/SebastianM_Dziwisch/" class="urlextern" title="https://www.openbc.com/hp/hp/SebastianM_Dziwisch/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Konrad Neuwirth (<a href="http://www.xiqit.de/" class="urlextern" title="http://www.xiqit.de/" rel="nofollow">XIQIT GmbH, Aachen</a>, <a href="https://www.openbc.com/hp/Konrad_Neuwirth" class="urlextern" title="https://www.openbc.com/hp/Konrad_Neuwirth" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Thomas Biesenbach (<a href="http://www.biesi.net/" class="urlextern" title="http://www.biesi.net/" rel="nofollow">biesi.net</a>, <a href="https://www.openbc.com/hp/Thomas_Biesenbach/" class="urlextern" title="https://www.openbc.com/hp/Thomas_Biesenbach/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Gowrynath Sivaganeshamoorthy (<a href="https://www.openbc.com/hp/Gowrynath_Sivaganeshamoorthy/" class="urlextern" title="https://www.openbc.com/hp/Gowrynath_Sivaganeshamoorthy/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Oliver Quas (<a href="https://www.openbc.com/hp/Oliver_Quas/" class="urlextern" title="https://www.openbc.com/hp/Oliver_Quas/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Q-BEE (<a href="http://www.q-bee.de/" class="urlextern" title="http://www.q-bee.de/" rel="nofollow">q-bee.de</a>, <a href="https://www.openbc.com/hp/Christian_Muench/" class="urlextern" title="https://www.openbc.com/hp/Christian_Muench/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Julian Masuhr (<a href="http://www.mediendollar.de/mim/" class="urlextern" title="http://www.mediendollar.de/mim/" rel="nofollow">mim-Blog</a>)</div>
</li>
<li class="level1">
<div class="li"> Martin Trauth (<a href="https://www.openbc.com/hp/Martin_Trauth/" class="urlextern" title="https://www.openbc.com/hp/Martin_Trauth/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Alexander Schneider (<a href="http://www.shufflesome.com/" class="urlextern" title="http://www.shufflesome.com/" rel="nofollow">Shufflesome</a>, <a href="https://www.openbc.com/hp/Alexander_Schneider2/" class="urlextern" title="https://www.openbc.com/hp/Alexander_Schneider2/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Michael Kuhn</div>
</li>
<li class="level1">
<div class="li"> Dirk Olbertz ( <a href="http://olbertz.de/" class="urlextern" title="http://olbertz.de/" rel="nofollow">Blog</a>, <a href="http://blogger.de" class="urlextern" title="http://blogger.de" rel="nofollow">Blogger.de</a>, <a href="http://counter.blogscout.de" class="urlextern" title="http://counter.blogscout.de" rel="nofollow">Counter.Blogscout.de</a>, <a href="https://www.openbc.com/hp/Dirk_Olbertz/" class="urlextern" title="https://www.openbc.com/hp/Dirk_Olbertz/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Britta Jerichow</div>
</li>
<li class="level1">
<div class="li"> Andreas Bade</div>
</li>
<li class="level1">
<div class="li"> Hans Dorsch (<a href="http://dorsch.com/" class="urlextern" title="http://dorsch.com/" rel="nofollow">Blog</a>, <a href="https://www.openbc.com/hp/Hans_Dorsch/" class="urlextern" title="https://www.openbc.com/hp/Hans_Dorsch/" rel="nofollow">OpenBC</a>)</div>
</li>
<li class="level1">
<div class="li"> Christian Köhler</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/volker_gerhart" class="wikilink1" title="person:volker_gerhart">volker_gerhart</a>
</div>
</li>
<li class="level1">
<div class="li"> Jan Kus</div>
</li>
<li class="level1">
<div class="li"> Ralf Breninek (<a href="http://www.pixelasm.com" class="urlextern" title="http://www.pixelasm.com" rel="nofollow">www.pixelasm.com</a>)</div>
</li>
<li class="level1">
<div class="li"> Jana Schmidt</div>
</li>
<li class="level1">
<div class="li"> Holger Musick</div>
</li>
</ul>

</div>
<!-- EDIT11 SECTION "Vielleicht / Maybe" [7603-10658] -->
<h3 class="sectionedit12" id="zuschaueraudience">Zuschauer / Audience</h3>
<div class="level3">

<p>
<em>Ich kann leider nicht vor Ort dabei sein, werde den Abend jedoch aus der Distanz online verfolgen.</em>
</p>
<ul>
<li class="level1">
<div class="li"> Der Erik (<a href="http://www.lowpolis.de" class="urlextern" title="http://www.lowpolis.de" rel="nofollow">Verwackelte Gedanken</a>)</div>
</li>
<li class="level1">
<div class="li"> Thomas Erl (<a href="http://www.suptra.de" class="urlextern" title="http://www.suptra.de" rel="nofollow">Suptra Webdesign</a>)</div>
</li>
<li class="level1">
<div class="li"> <a href="/person/tim_bonnemann" class="wikilink1" title="person:tim_bonnemann">tim_bonnemann</a>
</div>
</li>
</ul>

</div>
<!-- EDIT12 SECTION "Zuschauer / Audience" [10659-10946] -->
<h3 class="sectionedit13" id="fast_off_topic">Fast Off Topic</h3>
<div class="level3">

<p>
<a href="http://merchant-blog.hitflip.de/allgemein/mitarbeiter-wm-im-online-marketing-eines-medien-startups-gesucht/" class="urlextern" title="http://merchant-blog.hitflip.de/allgemein/mitarbeiter-wm-im-online-marketing-eines-medien-startups-gesucht/" rel="nofollow">Mitarbeiter (w/m) im Online-Marketing eines Kölner Medien-Startups gesucht</a>
</p>

</div>
<!-- EDIT13 SECTION "Fast Off Topic" [10947-] -->
</body></html>
