#about
  h3
    font-weight: bold
  .content-wrapper
    font-size: 1.1em
    padding: 50px 40px
    position: relative
    top: 100px
    right: 100px
    z-index: 2
#organizers
  .person
    margin: 20px 60px
  z-index: 1
  position: relative
  top: 0
  padding: 50px 40px
  h3.title
    margin: 30px auto
#moderators
  .person
    margin: 20px 60px
  .content-wrapper
    z-index: 0
    padding: 100px 40px
    position: relative
    top: -80px
    right: 100px
