@import 'settings'

#speakers-header
  height: 200px
#speakers
  padding: 40px 0
  margin-top: -280px
  .person
    background-color: $mirage
    padding: 20px 40px
    margin: 10px
  .company
    padding: 0
    margin: 10px
  .content-wrapper-inverted
    background-color: transparent
