@import 'settings'
@import 'foundation'
@include foundation-everything

@import 'archive'

// Base
@import 'base/base'

// Atoms
@import 'atoms/menu-item'
@import 'atoms/social-icon'
@import 'atoms/trapezoid-headline'
@import 'atoms/button'
@import 'atoms/person'
@import 'atoms/company'
@import 'atoms/person-container'
@import 'atoms/content-box'
@import 'atoms/page-title'
@import 'atoms/event-image'
@import 'atoms/link-pill'

// Blocks
@import 'blocks/header'
@import 'blocks/header-small'
@import 'blocks/dropdown-menu'
@import 'blocks/next-event'
@import 'blocks/event-box'
@import 'blocks/content-boxes'
@import 'blocks/map'
@import 'blocks/masonry'
@import 'blocks/event-hero'
@import 'blocks/event-details'
@import 'blocks/contact-icons-list'
@import 'blocks/footer'

// Helpers
@import 'helpers/border-right'
@import 'helpers/foundation-overrides'

.content-wrapper
  background-color: $white
  color: $mirage
  a.social-icon
    path
      fill: $mirage
.content-wrapper-inverted
  background-color: $mirage
  color: $light-grey
  a.social-icon
    path
      fill: $light-grey
