meta charset="utf-8"
title=page_title

meta name="description" content=data.config.page.meta.description
meta name="keywords" content=data.config.page.meta.keywords
meta name="author" content=data.config.page.meta.author
meta name="google-site-verification" content="1nxAlNcGNFvPrTmZ1_GV04ngbd7HIWZhnkaizGV5sik"
link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet"
= partial "/shared/meta_mobile"
= partial "/shared/meta_favicons"
/
= partial "/shared/meta_facebook"

/ Stylesheets
= stylesheet_link_tag "style"

/ Prefetch Google Analytics
link rel="dns-prefetch" href="//www.google-analytics.com"

= yield_content :head
