/ Twitter Card
meta name="twitter:card" content="summary"
meta name="twitter:url" content=page_url
meta name="twitter:title" content=page_title
meta name="twitter:image" content=image_url('share/share.png')
meta name="twitter:description" content==page_description
